Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

[NT-1691] Bump node version to 20.19.5 for workspace
  pnpm-workspace.yaml
Due: prettier --check --write

[NT-1691] Remove node engine specification in react native implementation package.json
  implementations/react-native/package.json
Due: prettier --check --write

💡 refactor(state): Rearranging states and fixing pm2 issue
  implementations/node/package.json
  implementations/web-vanilla/package.json
  package.json
  platforms/javascript/core/src/CoreBase.ts
  platforms/javascript/core/src/CoreStateful.ts
  platforms/javascript/core/src/CoreStateless.ts
  platforms/javascript/core/src/analytics/AnalyticsBase.ts
  platforms/javascript/core/src/personalization/Personalization.ts
  platforms/javascript/core/src/signals.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

💡 refactor(state): Rearranging states and fixing pm2 issue (#47)
  implementations/node/package.json
  implementations/web-vanilla/package.json
  package.json
  platforms/javascript/core/src/CoreBase.ts
  platforms/javascript/core/src/CoreStateful.ts
  platforms/javascript/core/src/CoreStateless.ts
  platforms/javascript/core/src/analytics/AnalyticsBase.ts
  platforms/javascript/core/src/personalization/Personalization.ts
  platforms/javascript/core/src/signals.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

NT-1767: init
  implementations/node-web/.env.example
  implementations/node-web/README.md
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/package.json
  implementations/node-web/playwright.config.mjs
  implementations/node-web/src/app.test.ts
  implementations/node-web/src/app.ts
  implementations/node-web/tsconfig.json
  implementations/node-web/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

import web files
  implementations/node-web/docker-compose.yaml
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/nginx/nginx.conf
  implementations/node-web/nginx/templates/default.conf.template
  implementations/node-web/public/index.html
Due: eslint --fix, prettier --check --write

add web setup
  implementations/node-web/docker-compose.yaml
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/package.json
Due: eslint --fix, prettier --check --write

update
  implementations/node-web/e2e/example.spec.ts
Due: eslint --fix, prettier --check --write

optimize stop
  implementations/node-web/package.json
Due: prettier --check --write

optimize serve app
  implementations/node-web/package.json
Due: prettier --check --write

update
  implementations/node-web/package.json
Due: prettier --check --write

🔥 feat(web): Ensuring anon ID passed from Web, adding Merge Tag value resolution
  platforms/javascript/web/index.html
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  universal/api-schemas/src/contentful/Entry.ts
  universal/api-schemas/src/contentful/MergeTagEntry.ts
  universal/api-schemas/src/contentful/index.ts
  universal/core/src/personalization/Personalization.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.test.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.ts
Due: eslint --fix, prettier --check --write

🔥 feat(web): Ensuring anon ID passed from Web, adding Merge Tag value resolution (#54)
  platforms/javascript/web/index.html
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  universal/api-schemas/src/contentful/Entry.ts
  universal/api-schemas/src/contentful/MergeTagEntry.ts
  universal/api-schemas/src/contentful/index.ts
  universal/core/src/personalization/Personalization.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.test.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.ts
Due: eslint --fix, prettier --check --write

[NT-1751] Update Babel config to use Stage 3 decorators (2023-05) for React Native
  implementations/react-native/babel.config.js
Due: eslint --fix, prettier --check --write

[NT-1751] Apply prettier formatting to detox config
  implementations/react-native/.detoxrc.js
Due: eslint --fix, prettier --check --write

[NT-1751] Add Metro resolver for workspace packages to use source files in monorepo
  implementations/react-native/metro.config.js
Due: eslint --fix, prettier --check --write

[NT-1751] Add React Native build artifacts to prettierignore
  .prettierignore
Due: none

[NT-1751] Update eslint config to ignore RN platform folders and allow console in implementations
  eslint.config.ts
Due: eslint --fix, prettier --check --write

[NT-1751] Document re-exported core functionality in RN SDK README
  platforms/javascript/react-native/README.md
Due: prettier --check --write

[NT-1751] Remove RN-specific eslint/prettier deps and add format scripts
  implementations/react-native/package.json
Due: prettier --check --write

[NT-1751] Update App to import only from RN SDK and apply formatting
  implementations/react-native/App.tsx
Due: eslint --fix, prettier --check --write

[NT-1751] Re-export all core functionality from RN SDK for single import source
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

[NT-1751] Apply prettier
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/__tests__/App.test.tsx
  implementations/react-native/e2e/app.test.js
  implementations/react-native/e2e/jest.config.js
  implementations/react-native/index.js
  implementations/react-native/jest.config.js
  implementations/react-native/tsconfig.json
Due: eslint --fix, prettier --check --write

[NT-1751] Update pnpm lockfile after removing RN-specific dependencies
  pnpm-lock.yaml
Due: prettier --check --write

[NT-1751] Remove local eslint and prettier configs in favor of workspace config
  implementations/react-native/.eslintrc.js
  implementations/react-native/.prettierrc.js
Due: eslint --fix, prettier --check --write

[NT-1751] Add example env file
  implementations/react-native/.env.example
Due: none

[NT-1751] Remove console.log
  implementations/react-native/App.tsx
Due: eslint --fix, prettier --check --write

[NT-1751] Remove remove no-console: off
  eslint.config.ts
Due: eslint --fix, prettier --check --write

catalog
  implementations/node-web/package.json
  implementations/node/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

Nt 1751 surface core functionality (#55)
  .prettierignore
  eslint.config.ts
  implementations/react-native/.detoxrc.js
  implementations/react-native/.env.example
  implementations/react-native/.eslintrc.js
  implementations/react-native/.prettierrc.js
  implementations/react-native/App.tsx
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/__tests__/App.test.tsx
  implementations/react-native/babel.config.js
  implementations/react-native/e2e/app.test.js
  implementations/react-native/e2e/jest.config.js
  implementations/react-native/index.js
  implementations/react-native/jest.config.js
  implementations/react-native/metro.config.js
  implementations/react-native/package.json
  implementations/react-native/tsconfig.json
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

NT-1767: setup node-web implementation (#53)
  implementations/node-web/.env.example
  implementations/node-web/README.md
  implementations/node-web/docker-compose.yaml
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/nginx/nginx.conf
  implementations/node-web/nginx/templates/default.conf.template
  implementations/node-web/package.json
  implementations/node-web/playwright.config.mjs
  implementations/node-web/public/index.html
  implementations/node-web/src/app.test.ts
  implementations/node-web/src/app.ts
  implementations/node-web/tsconfig.json
  implementations/node-web/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

🔥 feat(node): Adding a simple dev setup for the Node SDK; Overhauling stateless
  CODEOWNERS
  platforms/javascript/node/.env.example
  platforms/javascript/node/index.pug
  platforms/javascript/node/package.json
  platforms/javascript/node/server.ts
  platforms/javascript/node/src/index.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/web/index.html
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  universal/core/src/Consent.ts
  universal/core/src/CoreBase.ts
  universal/core/src/CoreStateful.ts
  universal/core/src/CoreStateless.ts
  universal/core/src/ProductBase.ts
  universal/core/src/analytics/AnalyticsBase.ts
  universal/core/src/analytics/AnalyticsStateful.ts
  universal/core/src/analytics/AnalyticsStateless.ts
  universal/core/src/analytics/index.ts
  universal/core/src/index.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
  universal/core/src/personalization/index.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.ts
  universal/core/src/personalization/resolvers/index.ts
Due: eslint --fix, prettier --check --write

🔥 feat(node): Adding a simple dev setup for the Node SDK; Overhauling stateless (#56)
  CODEOWNERS
  platforms/javascript/node/.env.example
  platforms/javascript/node/index.pug
  platforms/javascript/node/package.json
  platforms/javascript/node/server.ts
  platforms/javascript/node/src/index.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/web/index.html
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
  universal/core/src/Consent.ts
  universal/core/src/CoreBase.ts
  universal/core/src/CoreStateful.ts
  universal/core/src/CoreStateless.ts
  universal/core/src/ProductBase.ts
  universal/core/src/analytics/AnalyticsBase.ts
  universal/core/src/analytics/AnalyticsStateful.ts
  universal/core/src/analytics/AnalyticsStateless.ts
  universal/core/src/analytics/index.ts
  universal/core/src/index.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
  universal/core/src/personalization/index.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.ts
  universal/core/src/personalization/resolvers/index.ts
Due: eslint --fix, prettier --check --write

update tests
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/src/app.ts
Due: eslint --fix, prettier --check --write

update
  implementations/node-web/e2e/example.spec.ts
  implementations/node-web/package.json
  platforms/javascript/web/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

localStorage
  implementations/node-web/e2e/example.spec.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
