Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Add local Maestro E2E runner script and pnpm test:e2e:maestro scripts
  implementations/android-sdk/package.json
  implementations/android-sdk/scripts/run-maestro-e2e.sh
Due: prettier --check --write

Add e2e-android-maestro CI job and disable the flaky UiAutomator E2E run
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Document the Maestro preview-panel proof-of-concept in Android E2E docs
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/uitests/README.md
Due: prettier --check --write

Add native mobile SDK architecture docs and contributor guides (#290)
  documentation/concepts/README.md
  documentation/concepts/android-sdk-bridge.md
  documentation/concepts/ios-sdk-bridge.md
  documentation/concepts/native-mobile-sdk-architecture.md
  documentation/guides/README.md
  documentation/guides/contributing-to-the-android-sdk.md
  documentation/guides/contributing-to-the-ios-sdk.md
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppSwiftUI.xcscheme
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppUIKit.xcscheme
  implementations/ios-sdk/project.yml
  packages/android/ContentfulOptimization/build.gradle.kts
Due: prettier --check --write

Make Maestro the sole Android E2E CI job and remove the UiAutomator job
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Stop committing the generated JS bridge bundles and gitignore them
  .gitignore
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

Add scripts to build the JS bridge before swift build and test
  package.json
Due: prettier --check --write

Add consumer-facing README and LICENSE to the Swift package
  packages/ios/ContentfulOptimization/LICENSE
  packages/ios/ContentfulOptimization/README.md
Due: prettier --check --write

Fix stale resume visibility assertion in view tracking controller test
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: none

Add Swift Package build and test job to the main pipeline
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Add Swift Package publish workflow and mirror deploy-key setup script
  .github/workflows/publish-spm.yaml
  scripts/setup-spm-mirror-credential.sh
Due: prettier --check --write

Document the Swift Package release flow in iOS docs
  packages/ios/ContentfulOptimization/AGENTS.md
  packages/ios/README.md
Due: prettier --check --write

Switch SPM mirror credential from Vault to a GitHub Actions deploy-key secret
  .github/workflows/publish-spm.yaml
  IOS_SPM_PUBLISHING_PLAN.md
  scripts/setup-spm-mirror-credential.sh
Due: prettier --check --write

Add iOS SPM publishing plan
  IOS_SPM_PUBLISHING_PLAN.md
Due: prettier --check --write

Build the JS bridge before the iOS E2E app build now that the UMD is uncommitted
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Remove plans and scripts
  IOS_SPM_PUBLISHING_PLAN.md
  scripts/setup-spm-mirror-credential.sh
Due: prettier --check --write

Remove comments
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Convert ScreenTrackingTests to Maestro screen-tracking flows
  implementations/android-sdk/maestro/screen-tracking/multiple-view-visits-in-order.yaml
  implementations/android-sdk/maestro/screen-tracking/revisiting-view-one-after-view-two.yaml
  implementations/android-sdk/maestro/screen-tracking/single-view-visit.yaml
Due: prettier --check --write

Convert TapTrackingTests to Maestro tap-tracking flows
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-for-different-entry.yaml
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-on-content-entry.yaml
Due: prettier --check --write

Create bridge destination directories in postbuild before copying UMD bundles
  packages/universal/optimization-js-bridge/package.json
Due: prettier --check --write

Convert OfflineBehaviorTests to Maestro offline-behavior flows
  implementations/android-sdk/maestro/offline-behavior/handle-rapid-network-state-changes.yaml
  implementations/android-sdk/maestro/offline-behavior/recover-gracefully-when-network-restored.yaml
Due: prettier --check --write

Convert IdentifiedVariantsTests to a Maestro identified-variants flow
  implementations/android-sdk/maestro/identified-variants/identified-variants.yaml
Due: prettier --check --write

Convert UnidentifiedVariantsTests to Maestro unidentified-variants flows
  implementations/android-sdk/maestro/unidentified-variants/identify-replaces-baselines.yaml
  implementations/android-sdk/maestro/unidentified-variants/unidentified-baselines.yaml
Due: prettier --check --write

Convert LiveUpdatesTests to Maestro live-updates flows
  implementations/android-sdk/maestro/live-updates/default-locked-when-global-off.yaml
  implementations/android-sdk/maestro/live-updates/displays-all-three-sections.yaml
  implementations/android-sdk/maestro/live-updates/displays-entry-content-in-all-sections.yaml
  implementations/android-sdk/maestro/live-updates/global-enables-default.yaml
  implementations/android-sdk/maestro/live-updates/identify-and-reset.yaml
  implementations/android-sdk/maestro/live-updates/live-updates-regardless-of-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-ignores-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-stays-when-global-on.yaml
  implementations/android-sdk/maestro/live-updates/preview-panel-enables-all.yaml
  implementations/android-sdk/maestro/live-updates/toggle-global-live-updates.yaml
  implementations/android-sdk/maestro/live-updates/toggle-preview-panel.yaml
Due: prettier --check --write

Convert PreviewPanelOverridesTests to Maestro preview-panel-overrides flows
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-1-activate-unqualified-audience-renders-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-2-deactivate-qualified-audience-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-3-reset-audience-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-4-variant-override-zero-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-5-reset-single-variant-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-6-reset-all-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-7-override-survives-api-refresh.yaml
Due: prettier --check --write

Make run-e2e.sh the Maestro runner for both apps and remove the standalone Maestro script
  implementations/android-sdk/maestro/README.md
  implementations/android-sdk/package.json
  implementations/android-sdk/scripts/run-e2e.sh
  implementations/android-sdk/scripts/run-maestro-e2e.sh
Due: prettier --check --write

Add iOS Swift Package publishing channel (optimization.swift) (#292)
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-spm.yaml
  .gitignore
  package.json
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/ios/ContentfulOptimization/AGENTS.md
  packages/ios/ContentfulOptimization/LICENSE
  packages/ios/ContentfulOptimization/README.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
  packages/ios/README.md
  packages/universal/optimization-js-bridge/package.json
Due: eslint --fix, prettier --check --write

Add Maestro workspace config so flow discovery recurses into suite subdirectories
  implementations/android-sdk/maestro/config.yaml
Due: prettier --check --write

Render profile traits as compact aligned key-value rows
  packages/react-native-sdk/src/preview/components/ProfileSection.tsx
Due: eslint --fix, prettier --check --write

Lock audience experience count to the right of the row
  packages/react-native-sdk/src/preview/components/AudienceItemHeader.tsx
Due: eslint --fix, prettier --check --write

Center reset and refresh buttons in preview panel footer
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/components/shared/ActionButton.tsx
  packages/react-native-sdk/src/preview/styles/common.ts
Due: eslint --fix, prettier --check --write

Fix Compose OptimizedEntry losing reset-variant re-resolution by keying its collector only on entry
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
Due: none

Retry the Maestro E2E suite on transient failure in run-e2e.sh and the CI job
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Point Android demo apps at 10.0.2.2 host alias so the mock survives adb-daemon restarts
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/AppConfig.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
Due: none

Verify mock reachability via 10.0.2.2 in run-e2e.sh and the CI Maestro job
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Document 10.0.2.2 host alias as the Android E2E mock connection
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/maestro/README.md
Due: prettier --check --write

Suppress system ANR dialogs so the Pixel Launcher's overlay can't hide the app from Maestro
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Harden CI Android emulator against Pixel Launcher ANR: 8GB RAM, clean boot, lighten launcher, capture logcat
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Retry only the failed Maestro flows instead of the whole suite to avoid wedging the CI emulator
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/ci-maestro-run.sh
Due: prettier --check --write

Disable Pixel Launcher in CI so its intermittent ANR dialog can't overlay the app under test
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
