Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

docs(android): update guides and runtime concept for CTEntry surface
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
Due: prettier --check --write

test(android): assert whole tree in adapter tests (identity checks)
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CDAEntryAdapterTest.kt
Due: none

refactor(android): address Daviti's PR feedback
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CDAEntryAdapter.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/ResolvedOptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CDAEntryAdapterTest.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/RawEntryMapPassThroughTest.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/core/ResolvedOptimizedEntryAccessorsTest.kt
Due: none

docs(android): reconcile CTEntry docs with CDAEntry-backed storage
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
Due: prettier --check --write

docs(android): trim comments to the load-bearing ones
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CDAEntryAdapter.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/ResolvedOptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CDAEntryAdapterTest.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: none

refactor(android): back CTEntry with typed Envelope, matching iOS design
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
Due: none

refactor(android): introduce CTEntry to mirror iOS PR 393
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CDAEntryAdapter.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/ResolvedOptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CDAEntryAdapterTest.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: none

refactor(android): drop CDAEntry-adapter dead code and rewrite CTEntry tests as JSON identity
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CDAEntryAdapter.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CDAEntryAdapterTest.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: prettier --check --write

fix(android): declare Gson as an SDK runtime dependency
  packages/android/ContentfulOptimization/build.gradle.kts
Due: none

fix(android): add contentful.java Entry adapter for OptimizedEntry [NT-3807] (#395)
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/ResolvedOptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: prettier --check --write

fix(android): declare okhttp-android runtime dep and add CTEntry.imageURL [NT-3807]
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
  implementations/android-sdk/compose/build.gradle.kts
  implementations/android-sdk/shared/build.gradle.kts
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
  packages/android/README.md
Due: prettier --check --write

fix(android): declare okhttp-android runtime dep and add CTEntry.imageURL [NT-3807] (#406)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
  implementations/android-sdk/compose/build.gradle.kts
  implementations/android-sdk/shared/build.gradle.kts
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
  packages/android/README.md
Due: prettier --check --write

fix(core): downgrade baseline resolution logs to debug [NT-3840]
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.test.ts
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.ts
Due: eslint --fix, prettier --check --write

fix(core): downgrade baseline resolution logs to debug [NT-3840] (#407)
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.test.ts
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.ts
Due: eslint --fix, prettier --check --write

fix(bridge): attribute analytics events to native SDK identity [NT-3855]
  documentation/internal/sdk-knowledge/native/react-native.md
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/BRIDGE_ARCHITECTURE.md
  packages/universal/optimization-js-bridge/README.md
  packages/universal/optimization-js-bridge/rslib.config.ts
Due: eslint --fix, prettier --check --write

fix(bridge): attribute analytics events to native SDK identity [NT-3855] (#408)
  documentation/internal/sdk-knowledge/native/react-native.md
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/BRIDGE_ARCHITECTURE.md
  packages/universal/optimization-js-bridge/README.md
  packages/universal/optimization-js-bridge/rslib.config.ts
Due: eslint --fix, prettier --check --write

fix(android): remove CTEntry.imageURL extension property [NT-3807]
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: prettier --check --write

fix(android): remove CTEntry.imageURL extension property [NT-3807] (#409)
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: prettier --check --write

fix(swift): stop OptimizedEntry tap tracking from blocking nested Buttons
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
Due: none

docs(swift): note why the UIKit import is conditional [NT-3829]
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
Due: none

test(swift): add nested-Button tap-tracking regression coverage [NT-3829]
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/swiftui/Screens/NestedButtonTapTestScreen.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
  implementations/ios-sdk/uikit/Screens/NestedButtonTapTestViewController.swift
  implementations/ios-sdk/uitests/Tests/TapTrackingTests.swift
Due: none

docs(swift): add explanatory comments to nested-button test coverage [NT-3829]
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/swiftui/Screens/NestedButtonTapTestScreen.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
  implementations/ios-sdk/uikit/Screens/NestedButtonTapTestViewController.swift
  implementations/ios-sdk/uitests/Tests/TapTrackingTests.swift
Due: none

docs(android): close integration doc gaps against SDK source [NT-3842]
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  packages/android/README.md
Due: prettier --check --write

docs(android): close integration doc gaps against SDK source [NT-3842] (#412)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  packages/android/README.md
Due: prettier --check --write

fix(swift): stop OptimizedEntry tap tracking from blocking nested Buttons [NT-3829] (#411)
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/swiftui/Screens/NestedButtonTapTestScreen.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
  implementations/ios-sdk/uikit/Screens/NestedButtonTapTestViewController.swift
  implementations/ios-sdk/uitests/Tests/TapTrackingTests.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
Due: none

chore(ci): ignore generated changelogs in format checks
  .prettierignore
Due: none

chore(ci): ignore generated changelogs in format checks (#414)
  .prettierignore
Due: none

chore(ci): attempting to make Bito smarter
  .bito.yaml
  .bito/guidelines/typescript-review-evidence.txt
Due: prettier --check --write

docs(swift): close integration doc gaps against SDK source [NT-3841]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
Due: prettier --check --write

chore(ci): attempting to make Bito smarter (#416)
  .bito.yaml
  .bito/guidelines/typescript-review-evidence.txt
Due: prettier --check --write

docs(swift): close integration doc gaps against SDK source [NT-3841] (#415)
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
Due: prettier --check --write

docs(react-native): close integration doc gaps against SDK source [NT-3843]
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  packages/react-native-sdk/README.md
Due: prettier --check --write

docs(react-native): close integration doc gaps against SDK source [NT-3843] (#417)
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  packages/react-native-sdk/README.md
Due: prettier --check --write

chore(ci): updating Bito configuration to avoid false positives
  .bito.yaml
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/review-posture.txt
Due: prettier --check --write

Update .bito.yaml to avoid reviewing release PRs
  .bito.yaml
Due: prettier --check --write

Update .bito.yaml to avoid reviewing release PRs (#419)
  .bito.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
