Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Make view definition consistent as function def across preview panel
  platforms/javascript/react-native-preview-panel/src/components/AudienceItem.tsx
  platforms/javascript/react-native-preview-panel/src/components/AudienceItemHeader.tsx
  platforms/javascript/react-native-preview-panel/src/components/AudienceSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/ExperienceCard.tsx
  platforms/javascript/react-native-preview-panel/src/components/VariantSelector.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/AudienceToggle.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/CollapseToggleButton.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/QualificationIndicator.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/SearchBar.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/useCollapsibleControl.ts
  platforms/javascript/react-native-preview-panel/src/hooks/usePreviewData.ts
  platforms/javascript/react-native-preview-panel/src/utils/clipboard.ts
Due: eslint --fix, prettier --check --write

Move audience item header into own file, move clipboard functionality into util file
  platforms/javascript/react-native-preview-panel/src/components/AudienceItem.tsx
  platforms/javascript/react-native-preview-panel/src/components/AudienceItemHeader.tsx
  platforms/javascript/react-native-preview-panel/src/components/PersonalizationsSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/ProfileSection.tsx
  platforms/javascript/react-native-preview-panel/src/utils/clipboard.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
Due: eslint --fix, prettier --check --write

Enrich nt_personalization with ctfl data
  platforms/javascript/react-native-preview-panel/src/components/PersonalizationsSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/index.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
  platforms/javascript/react-native-preview-panel/src/utils/entryMappers.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
  platforms/javascript/react-native/dev/App.tsx
Due: eslint --fix, prettier --check --write

Add personalizationids to mock server capabilities
  lib/mocks/scripts/fetchEntries.ts
Due: eslint --fix, prettier --check --write

DRY up fetchEntries use of fetching by content type
  lib/mocks/scripts/fetchEntries.ts
Due: eslint --fix, prettier --check --write

Remove hardcoded color value in audiencesection
  platforms/javascript/react-native-preview-panel/src/components/AudienceSection.tsx
Due: eslint --fix, prettier --check --write

Fix crash in AudienceItem by using rn Animated rather than relying on default system animation driver
  platforms/javascript/react-native-preview-panel/src/components/AudienceItem.tsx
Due: eslint --fix, prettier --check --write

Apply visual fixes to preview panel
  platforms/javascript/react-native-preview-panel/src/components/AudienceItem.tsx
  platforms/javascript/react-native-preview-panel/src/components/AudienceItemHeader.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/AudienceToggle.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/ListItem.tsx
  platforms/javascript/react-native-preview-panel/src/components/shared/Section.tsx
Due: eslint --fix, prettier --check --write

Stack variant buttons in varianteslector
  platforms/javascript/react-native-preview-panel/src/components/VariantSelector.tsx
Due: eslint --fix, prettier --check --write

Use direct modification to corestateful in preview panel
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  universal/core/src/CoreStateful.ts
Due: eslint --fix, prettier --check --write

Fix build
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Fix lint
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Rename PreviewPanelCompatibleObject -> PreviewPanelSignalObject
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  universal/core/src/CoreStateful.ts
Due: eslint --fix, prettier --check --write

Clear stored overrides rather than clearing sdk state completely
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
Due: eslint --fix, prettier --check --write

Remove redundant check for entryId & contentType
  lib/mocks/src/contentful-handlers.ts
Due: eslint --fix, prettier --check --write

Remove reset button, update reset functionality to reset to saved SDK state
  platforms/javascript/react-native-preview-panel/src/components/OverridesSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
Due: eslint --fix, prettier --check --write

Remove redundant mapping of contentful entries
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/index.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
  platforms/javascript/react-native-preview-panel/src/utils/entryMappers.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

Remove personalizations section
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native/dev/App.tsx
Due: eslint --fix, prettier --check --write

Don't show badge on overrides section, pass audience and experience names down to overrides section
  platforms/javascript/react-native-preview-panel/src/components/OverridesSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/types.ts
Due: eslint --fix, prettier --check --write

When selecting audience, toggle variant override with index 1
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
Due: eslint --fix, prettier --check --write

Fetch personalizations directly from contentful in preview panel, remove fetching from dev app
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/index.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
  platforms/javascript/react-native-preview-panel/src/utils/contentfulUtils.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

Fix lint by breaking up panel components
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanelContent.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/index.ts
  platforms/javascript/react-native-preview-panel/src/hooks/useContentfulEntries.ts
  platforms/javascript/react-native-preview-panel/src/hooks/useDefinitions.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
  platforms/javascript/react-native-preview-panel/src/utils/audienceToggleHelper.ts
  platforms/javascript/react-native-preview-panel/src/utils/contentfulUtils.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
Due: eslint --fix, prettier --check --write

Pass variant indices down to components
  platforms/javascript/react-native-preview-panel/src/components/AudienceItem.tsx
  platforms/javascript/react-native-preview-panel/src/components/AudienceSection.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanelContent.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/usePreviewData.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
Due: eslint --fix, prettier --check --write

Fix with prettier
  platforms/javascript/react-native-preview-panel/src/index.ts
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

Set audience overrides should also set the experiences directly in useProfileOverrides
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/usePreviewData.ts
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
  platforms/javascript/react-native-preview-panel/src/utils/audienceToggleHelper.ts
  platforms/javascript/react-native-preview-panel/src/utils/index.ts
  test-content-type-filtering.ts
Due: eslint --fix, prettier --check --write

Store the experience ids with the audienceoverride so we can set them later when we need to modify the state of experiences based on audience
  platforms/javascript/react-native-preview-panel/src/components/PreviewPanel.tsx
  platforms/javascript/react-native-preview-panel/src/hooks/useProfileOverrides.ts
  platforms/javascript/react-native-preview-panel/src/types.ts
Due: eslint --fix, prettier --check --write

📘 docs(interceptors): Rearranging and documenting interceptor functionality
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
  universal/api-client/src/builders/EventBuilder.ts
  universal/core/README.md
  universal/core/src/CoreBase.test.ts
  universal/core/src/CoreBase.ts
  universal/core/src/CoreStateful.ts
  universal/core/src/CoreStateless.ts
  universal/core/src/ProductBase.ts
  universal/core/src/analytics/AnalyticsBase.ts
  universal/core/src/analytics/AnalyticsStateful.ts
  universal/core/src/analytics/AnalyticsStateless.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
Due: eslint --fix, prettier --check --write

📘 docs(interceptors): Rearranging and documenting interceptor functionality (#109)
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
  universal/api-client/src/builders/EventBuilder.ts
  universal/core/README.md
  universal/core/src/CoreBase.test.ts
  universal/core/src/CoreBase.ts
  universal/core/src/CoreStateful.ts
  universal/core/src/CoreStateless.ts
  universal/core/src/ProductBase.ts
  universal/core/src/analytics/AnalyticsBase.ts
  universal/core/src/analytics/AnalyticsStateful.ts
  universal/core/src/analytics/AnalyticsStateless.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
Due: eslint --fix, prettier --check --write

📘 docs(interceptors): Pasting interceptor docs into more READMEs
  platforms/javascript/node/README.md
  platforms/javascript/web/README.md
Due: prettier --check --write

📘 docs(interceptors): Pasting interceptor docs into more READMEs (#110)
  platforms/javascript/node/README.md
  platforms/javascript/web/README.md
Due: prettier --check --write

NT-2319: cookies
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

anonymoisID
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

📘 docs(licensing): Adding third-party license notice generation script
  THIRD_PARTY_NOTICES.txt
  package.json
Due: prettier --check --write

📘 docs(licensing): Adding third-party license notice generation script (#113)
  THIRD_PARTY_NOTICES.txt
  package.json
Due: prettier --check --write

📘 docs(license): Updating MIT License
  LICENSE
Due: none

📘 docs(license): Updating MIT License (#114)
  LICENSE
Due: none

📘 docs(license): GmbH -> Inc
  LICENSE
Due: none

📘 docs(license): GmbH -> Inc (#115)
  LICENSE
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
