Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

Hide log box totally for implemntation app
  implementations/react-native/index.js
Due: eslint --fix, prettier --check --write

[NT-2003] Add React Native offline behavior (#116)
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
  implementations/react-native/App.tsx
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/networkHelpers.js
  implementations/react-native/e2e/offline-behavior.test.js
  implementations/react-native/index.js
  implementations/react-native/package.json
  implementations/react-native/scripts/run-e2e-android.sh
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/__mocks__/@react-native-community/netinfo.ts
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.test.ts
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.test.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.ts
  platforms/javascript/react-native/src/handlers/index.ts
  platforms/javascript/react-native/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

[NT-2396] Add floating action button entrypoint to RN preview panel (#119)
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/PersonalizationDemoScreen.tsx
  platforms/javascript/react-native/dev/env.config.ts
  platforms/javascript/react-native/dev/utils/sdkHelpers.ts
  platforms/javascript/react-native/src/components/OptimizationRoot.tsx
  platforms/javascript/react-native/src/components/Personalization.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
  platforms/javascript/react-native/src/preview/components/index.ts
  platforms/javascript/react-native/src/preview/context/PreviewOverrideContext.tsx
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
  platforms/javascript/react-native/src/preview/index.ts
  platforms/javascript/react-native/src/preview/types.ts
Due: eslint --fix, prettier --check --write

Add live update flag for optimizationroot and personalization component. Override live update using liveupdatescontext when previewpanel is shown
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/src/components/OptimizationRoot.tsx
  platforms/javascript/react-native/src/components/Personalization.tsx
  platforms/javascript/react-native/src/context/LiveUpdatesContext.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

Add e2e testing for live updates configuration
  implementations/react-native/App.tsx
  implementations/react-native/components/LiveUpdatesEntryDisplay.tsx
  implementations/react-native/e2e/live-updates.test.js
  implementations/react-native/screens/LiveUpdatesTestScreen.tsx
Due: eslint --fix, prettier --check --write

Fix build
  implementations/react-native/screens/LiveUpdatesTestScreen.tsx
Due: eslint --fix, prettier --check --write

Remove styling from components
  implementations/react-native/components/LiveUpdatesEntryDisplay.tsx
  implementations/react-native/screens/LiveUpdatesTestScreen.tsx
Due: eslint --fix, prettier --check --write

[NT-2487] Update configuration for RN personalization component (#121)
  implementations/react-native/App.tsx
  implementations/react-native/components/LiveUpdatesEntryDisplay.tsx
  implementations/react-native/e2e/live-updates.test.js
  implementations/react-native/screens/LiveUpdatesTestScreen.tsx
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/src/components/OptimizationRoot.tsx
  platforms/javascript/react-native/src/components/Personalization.tsx
  platforms/javascript/react-native/src/context/LiveUpdatesContext.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

Update variant selection to be more like web
  platforms/javascript/react-native/src/preview/components/AudienceItem.tsx
  platforms/javascript/react-native/src/preview/components/ExperienceCard.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/components/VariantSelector.tsx
  platforms/javascript/react-native/src/preview/components/shared/AudienceToggle.tsx
Due: eslint --fix, prettier --check --write

Add netinfo to podfile.lock
  platforms/javascript/react-native/dev/ios/Podfile.lock
Due: none

chore: setup nx for automated release
  .gitignore
  .nxignore
  nx.json
  package.json
  platforms/javascript/node/package.json
  platforms/javascript/react-native/package.json
  platforms/javascript/web/package.json
  pnpm-lock.yaml
  universal/api-client/package.json
  universal/api-schemas/package.json
  universal/core/package.json
Due: prettier --check --write

ci: automated release worfklow
  .github/workflows/publish-packages.yml
Due: prettier --check --write

update worfklow
  .github/workflows/publish-packages.yml
Due: prettier --check --write

SDK_VERSION
  platforms/javascript/node/src/Optimization.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/web/src/Optimization.ts
  universal/core/src/index.ts
  universal/core/src/version.ts
Due: eslint --fix, prettier --check --write

update publishing
  .github/workflows/publish-packages.yml
Due: prettier --check --write

Added asset for personalization fab and ripple background change
  platforms/javascript/react-native/dev/scripts/run-dev-dashboard.sh
  platforms/javascript/react-native/src/images.d.ts
  platforms/javascript/react-native/src/preview/assets/fab-icon.png
  platforms/javascript/react-native/src/preview/assets/fab-ripple.png
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

version
  platforms/javascript/node/src/Optimization.ts
  platforms/javascript/node/src/version.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/version.ts
  platforms/javascript/web/src/Optimization.ts
  platforms/javascript/web/src/version.ts
  universal/core/src/index.ts
Due: eslint --fix, prettier --check --write

version code
  .github/workflows/publish-packages.yml
Due: prettier --check --write

tagMessage
  .github/workflows/publish-packages.yml
Due: prettier --check --write

Add fab wrapper to use shadow
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

update nx config
  nx.json
Due: prettier --check --write

update release
  .github/workflows/publish-packages.yml
Due: prettier --check --write

changes
  .github/workflows/publish-packages.yml
Due: prettier --check --write

BUMP
  .github/workflows/publish-packages.yml
Due: prettier --check --write

tag true
  nx.json
Due: prettier --check --write

CHANGELOG
  .github/workflows/publish-packages.yml
Due: prettier --check --write

Add images type to index
  platforms/javascript/react-native/src/images.ts
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

remove changelog label
  .github/workflows/publish-packages.yml
Due: prettier --check --write

[NT-2402] Update preview panel styling (#122)
  platforms/javascript/react-native/dev/ios/Podfile.lock
  platforms/javascript/react-native/dev/scripts/run-dev-dashboard.sh
  platforms/javascript/react-native/src/images.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/preview/assets/fab-icon.png
  platforms/javascript/react-native/src/preview/assets/fab-ripple.png
  platforms/javascript/react-native/src/preview/components/AudienceItem.tsx
  platforms/javascript/react-native/src/preview/components/ExperienceCard.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
  platforms/javascript/react-native/src/preview/components/VariantSelector.tsx
  platforms/javascript/react-native/src/preview/components/shared/AudienceToggle.tsx
Due: eslint --fix, prettier --check --write

test script
  test-release.sh
Due: none

versions
  .github/workflows/publish-packages.yml
  platforms/javascript/node/src/version.ts
  platforms/javascript/react-native/src/version.ts
  platforms/javascript/web/src/version.ts
Due: eslint --fix, prettier --check --write

update path
  .github/workflows/publish-packages.yml
Due: prettier --check --write

comment
  .github/workflows/publish-packages.yml
  platforms/javascript/node/src/version.ts
  platforms/javascript/react-native/src/version.ts
  platforms/javascript/web/src/version.ts
  test-release.sh
Due: eslint --fix, prettier --check --write

🤖 chore(implementations): Renaming implementations to be more accurate
  .github/workflows/main-pipeline.yaml
  implementations/node-ssr-only/.env.example
  implementations/node-ssr-only/README.md
  implementations/node-ssr-only/e2e/displays-identified-user-variants.spec.ts
  implementations/node-ssr-only/e2e/displays-unidentified-user-variants.spec.ts
  implementations/node-ssr-only/package.json
  implementations/node-ssr-only/playwright.config.mjs
  implementations/node-ssr-only/src/app.ts
  implementations/node-ssr-only/src/index.pug
  implementations/node-ssr-only/tsconfig.json
  implementations/node-ssr-web-vanilla/.env.example
  implementations/node-ssr-web-vanilla/README.md
  implementations/node-ssr-web-vanilla/assets/script.js
  implementations/node-ssr-web-vanilla/assets/style.css
  implementations/node-ssr-web-vanilla/e2e/displays-identified-user-variants-cookie.spec.ts
  implementations/node-ssr-web-vanilla/e2e/displays-identified-user-variants.spec.ts
  implementations/node-ssr-web-vanilla/e2e/displays-unidentified-user-variants.spec.ts
  implementations/node-ssr-web-vanilla/e2e/utils.ts
  implementations/node-ssr-web-vanilla/package.json
  implementations/node-ssr-web-vanilla/playwright.config.mjs
  implementations/node-ssr-web-vanilla/src/app.test.ts
  implementations/node-ssr-web-vanilla/src/app.ts
  implementations/node-ssr-web-vanilla/tsconfig.json
  implementations/node-ssr-web-vanilla/vitest.config.ts
  package.json
  platforms/javascript/node/README.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

🤖 chore(implementations): Renaming implementations to be more accurate (#123)
  .github/workflows/main-pipeline.yaml
  implementations/node-ssr-only/.env.example
  implementations/node-ssr-only/README.md
  implementations/node-ssr-only/e2e/displays-identified-user-variants.spec.ts
  implementations/node-ssr-only/e2e/displays-unidentified-user-variants.spec.ts
  implementations/node-ssr-only/package.json
  implementations/node-ssr-only/playwright.config.mjs
  implementations/node-ssr-only/src/app.ts
  implementations/node-ssr-only/src/index.pug
  implementations/node-ssr-only/tsconfig.json
  implementations/node-ssr-web-vanilla/.env.example
  implementations/node-ssr-web-vanilla/README.md
  implementations/node-ssr-web-vanilla/assets/script.js
  implementations/node-ssr-web-vanilla/assets/style.css
  implementations/node-ssr-web-vanilla/e2e/displays-identified-user-variants-cookie.spec.ts
  implementations/node-ssr-web-vanilla/e2e/displays-identified-user-variants.spec.ts
  implementations/node-ssr-web-vanilla/e2e/displays-unidentified-user-variants.spec.ts
  implementations/node-ssr-web-vanilla/e2e/utils.ts
  implementations/node-ssr-web-vanilla/package.json
  implementations/node-ssr-web-vanilla/playwright.config.mjs
  implementations/node-ssr-web-vanilla/src/app.test.ts
  implementations/node-ssr-web-vanilla/src/app.ts
  implementations/node-ssr-web-vanilla/tsconfig.json
  implementations/node-ssr-web-vanilla/vitest.config.ts
  package.json
  platforms/javascript/node/README.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

tscup
  platforms/javascript/node/package.json
  platforms/javascript/react-native/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  universal/api-client/package.json
  universal/api-client/tsup.config.ts
  universal/api-schemas/package.json
  universal/core/package.json
  universal/core/tsup.config.ts
Due: eslint --fix, prettier --check --write

🤖 chore(mocks): Making mock API response consistent with CDA
  lib/mocks/src/contentful-handlers.ts
Due: eslint --fix, prettier --check --write

🤖 chore(mocks): Making mock API response consistent with CDA (#124)
  lib/mocks/src/contentful-handlers.ts
Due: eslint --fix, prettier --check --write

tsup build
  platforms/javascript/web/package.json
  pnpm-lock.yaml
Due: prettier --check --write
