Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

docs(docs): give both Contentful navigation paths for the SDK keys screen [NT-3943]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

docs(docs): correct and clarify the iOS integration guides [NT-3943]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

docs(docs): close React Native guide reader-experience and KB gaps (NT-3945)
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/internal/sdk-knowledge/native/react-native.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

docs(docs): correct and clarify the iOS integration guides [NT-3943] (#434)
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

docs(docs): close React Native guide reader-experience and KB gaps (NT-3945) (#443)
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/internal/sdk-knowledge/native/react-native.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

docs(docs): fix Android Views consent allow-list wording (NT-3989)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
Due: prettier --check --write

docs(docs): fix Android Views consent allow-list wording (NT-3989) (#444)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
Due: prettier --check --write

chore(repo): release packages for main
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
Due: prettier --check --write

chore(repo): release packages for main (#441)
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
Due: prettier --check --write

fix(docs): remove leaked agent scaffolding from two guides
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
Due: prettier --check --write

docs(docs): require imperative titles for task documents
  STYLE_GUIDE.md
  documentation/authoring/recipes/decision.md
  documentation/authoring/recipes/integration.md
  documentation/authoring/recipes/migration.md
  documentation/authoring/recipes/supplemental-recipe.md
  documentation/concepts/AGENTS.md
Due: prettier --check --write

docs(docs): make concepts publish-ready and settle on one closing-section name
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/optimization-handoff-and-cache-safe-rendering.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
Due: prettier --check --write

feat(docs): add the Fern documentation exporter and fern:check
  .gitignore
  documentation/AGENTS.md
  documentation/fern-slugs.lock.json
  package.json
  scripts/apply-fern-docs.ts
  scripts/export-fern-docs.ts
  scripts/fern/build.ts
  scripts/fern/bundle.ts
  scripts/fern/docs.ts
  scripts/fern/transform.ts
  scripts/sdk-knowledge/markdown.ts
  scripts/validate-fern-export.ts
Due: eslint --fix, prettier --check --write

docs(docs): give guides imperative titles and publishing frontmatter
  documentation/guides/README.md
  documentation/guides/building-a-custom-javascript-optimization-adapter.md
  documentation/guides/choosing-a-nextjs-migration-path-from-experience-js.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/migrating-experience-js-contentful-model-to-optimization.md
  documentation/guides/migrating-experience-js-next-to-nextjs-app-router.md
  documentation/guides/migrating-experience-js-next-to-nextjs-pages-router.md
  documentation/guides/migrating-experience-js-node-ssr-and-esr.md
  documentation/guides/migrating-experience-js-plugins-and-preview.md
  documentation/guides/migrating-experience-js-react-to-react-web.md
  documentation/guides/migrating-experience-js-to-the-web-sdk.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/guides/using-contentful-graphql-data-with-the-optimization-sdks.md
Due: prettier --check --write

feat(ci): gate fern:check and add the contentful-docs sync workflow
  .github/workflows/main-pipeline.yaml
  .github/workflows/sync-fern-docs.yaml
Due: prettier --check --write

chore(publish): resolve Swift license report paths
  packages/ios/license_plist.yml
  scripts/generate-third-party-notices.sh
Due: prettier --check --write

chore(publish): resolve Swift license report paths (#447)
  packages/ios/license_plist.yml
  scripts/generate-third-party-notices.sh
Due: prettier --check --write

chore(publish): remove mobile stable-release overrides
  release-please-config.json
Due: prettier --check --write

chore(publish): remove mobile stable-release overrides (#445)
  release-please-config.json
Due: prettier --check --write

chore(repo): release packages for main
  .release-please-manifest.json
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
Due: prettier --check --write

fix(web): make optimized entry presentation monotonic
  documentation/authoring/blueprints/web.md
  documentation/concepts/optimization-handoff-and-cache-safe-rendering.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/pages/_app.tsx
  implementations/nextjs-sdk_pages-router/pages/ssg-client-personalization.tsx
  implementations/web-sdk/README.md
  implementations/web-sdk/public/index.html
  implementations/web-sdk/public/js/entries.js
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/web-sdk/README.md
  packages/web/web-sdk/package.json
  packages/web/web-sdk/src/presentation/OptimizedEntryController.test.ts
  packages/web/web-sdk/src/presentation/OptimizedEntryController.ts
  packages/web/web-sdk/src/presentation/OptimizedEntryControllerPredicates.ts
  packages/web/web-sdk/src/web-components/ContentfulOptimizedEntryElement.ts
  packages/web/web-sdk/src/web-components/index.test.ts
Due: eslint --fix, prettier --check --write

chore(repo): strengthen Bito review evidence
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  .bito/guidelines/typescript-review-evidence.txt
Due: none

fix(web): make optimized entry presentation monotonic (#446)
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  .bito/guidelines/typescript-review-evidence.txt
  documentation/authoring/blueprints/web.md
  documentation/concepts/optimization-handoff-and-cache-safe-rendering.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/pages/_app.tsx
  implementations/nextjs-sdk_pages-router/pages/ssg-client-personalization.tsx
  implementations/web-sdk/README.md
  implementations/web-sdk/public/index.html
  implementations/web-sdk/public/js/entries.js
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/web-sdk/README.md
  packages/web/web-sdk/package.json
  packages/web/web-sdk/src/presentation/OptimizedEntryController.test.ts
  packages/web/web-sdk/src/presentation/OptimizedEntryController.ts
  packages/web/web-sdk/src/presentation/OptimizedEntryControllerPredicates.ts
  packages/web/web-sdk/src/web-components/ContentfulOptimizedEntryElement.ts
  packages/web/web-sdk/src/web-components/index.test.ts
Due: eslint --fix, prettier --check --write

test(test): serve CDA locales, a root mount, and skip paging from mocks [NT-3946]
  lib/mocks/README.md
  lib/mocks/src/contentful-handlers.ts
  lib/mocks/src/server.ts
Due: eslint --fix, prettier --check --write

refactor(implementations): unify iOS CDA reads behind one ContentfulClient [NT-3946]
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/README.md
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/shared/ContentfulFetcher.swift
  implementations/ios-sdk/shared/MockPreviewContentfulClient.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/swiftui/Screens/LiveUpdatesTestScreen.swift
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
Due: prettier --check --write

fix(swift): expose CTEntry dictionary and JSON initializers as public [NT-3946]
  documentation/internal/sdk-knowledge/native/ios.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Contentful/CTEntry.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/CTEntryTests.swift
Due: prettier --check --write

refactor(implementations): fetch iOS reference entries with contentful.swift [NT-3946]
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/README.md
  implementations/ios-sdk/project.yml
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulFetcher.swift
  implementations/ios-sdk/shared/MockContentfulClient.swift
  implementations/ios-sdk/shared/MockContentfulTransport.swift
  implementations/ios-sdk/shared/MockPreviewContentfulClient.swift
  implementations/ios-sdk/shared/RichText.swift
  implementations/ios-sdk/swiftui/Components/ContentEntryView.swift
  implementations/ios-sdk/swiftui/Components/NestedContentEntryView.swift
  implementations/ios-sdk/swiftui/Screens/LiveUpdatesTestScreen.swift
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/uikit/Components/ContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/NestedContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/OptimizedEntryUIView.swift
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
Due: prettier --check --write

refactor(implementations): nest iOS mock CDA transport in its client [NT-3946]
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/README.md
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/MockContentfulClient.swift
  implementations/ios-sdk/shared/MockContentfulTransport.swift
Due: prettier --check --write

refactor(implementations): drop the iOS mock CDA URLProtocol shim [NT-3946]
  implementations/ios-sdk/README.md
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulClient.swift
Due: prettier --check --write

fix(swift): restore SwiftUI OptimizedEntry tap tracking [NT-3829]
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
Due: none

feat(swift): add ContentfulSDKPreviewClient for existing Contentful clients [NT-3946]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/ContentfulSDKPreviewClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewContentfulClient.swift
Due: prettier --check --write

feat(swift): accept a Contentful.Client in preview panel surfaces [NT-3946]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/ContentfulSDKPreviewClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewContentfulClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelOverlay.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelViewController.swift
Due: prettier --check --write

refactor(swift): fold ContentfulSDKPreviewClient into PreviewContentfulClient [NT-3946]
  documentation/internal/sdk-knowledge/native/ios.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/ContentfulSDKPreviewClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewContentfulClient.swift
Due: prettier --check --write

test(test): serve CDA locales, a root mount, and skip paging from mocks [NT-3946] (#450)
  lib/mocks/README.md
  lib/mocks/src/contentful-handlers.ts
  lib/mocks/src/server.ts
Due: eslint --fix, prettier --check --write

feat(implementations): migrate Android reference implementation to contentful.java CDA SDK (NT-3947)
  implementations/android-sdk/README.md
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/LiveUpdatesTestScreen.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
  implementations/android-sdk/shared/build.gradle.kts
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/MockContentfulClient.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/MockPreviewContentfulClient.kt
  implementations/android-sdk/shared/src/main/resources/contentful/content_types.json
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/LiveUpdatesTestActivity.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
Due: prettier --check --write

refactor(implementations): favor typed CTEntry over Map in Android reference implementation
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/components/ContentEntryView.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/components/NestedContentEntryView.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/components/ContentEntryViewBinder.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/components/NestedContentEntryViewBinder.kt
Due: none

fix(implementations): serve CDA content types from the mock, drop Android's in-app synthesis
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/MockContentfulClient.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/MockPreviewContentfulClient.kt
  implementations/android-sdk/shared/src/main/resources/contentful/content_types.json
  lib/mocks/src/contentful-handlers.ts
Due: eslint --fix, prettier --check --write

feat(implementations): migrate Android reference implementation to contentful.java CDA SDK (NT-3947) (#439)
  implementations/android-sdk/README.md
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/components/ContentEntryView.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/components/NestedContentEntryView.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/LiveUpdatesTestScreen.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
  implementations/android-sdk/shared/build.gradle.kts
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/MockPreviewContentfulClient.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/LiveUpdatesTestActivity.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/components/ContentEntryViewBinder.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/components/NestedContentEntryViewBinder.kt
  lib/mocks/src/contentful-handlers.ts
Due: eslint --fix, prettier --check --write

refactor(implementations): fetch iOS reference entries with contentful.swift [NT-3946] (#429)
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/README.md
  implementations/ios-sdk/project.yml
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/shared/ContentfulFetcher.swift
  implementations/ios-sdk/shared/MockPreviewContentfulClient.swift
  implementations/ios-sdk/shared/RichText.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/swiftui/Components/ContentEntryView.swift
  implementations/ios-sdk/swiftui/Components/NestedContentEntryView.swift
  implementations/ios-sdk/swiftui/Screens/LiveUpdatesTestScreen.swift
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/uikit/Components/ContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/NestedContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/OptimizedEntryUIView.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Contentful/CTEntry.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewContentfulClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelOverlay.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelViewController.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/CTEntryTests.swift
Due: prettier --check --write

fix(react-web): clarify validation and restore mocks
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  packages/web/frameworks/react-web-sdk/src/initial-experience/initialExperience.test.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
