Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

feat(runtime): add initial Experience sequencing
  documentation/authoring/blueprints/nextjs-pages-router.md
  documentation/authoring/blueprints/react-web.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  implementations/nextjs-sdk_pages-router/pages/_app.tsx
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/client.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/pages-router.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/src/context/InitialExperienceContext.tsx
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/initial-experience/initialExperience.test.ts
  packages/web/frameworks/react-web-sdk/src/initial-experience/initialExperience.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.tsx
Due: eslint --fix, prettier --check --write

docs(docs): align Pages root ownership
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  implementations/nextjs-sdk_pages-router/AGENTS.md
Due: prettier --check --write

feat(runtime): add initial Experience sequencing (#451)
  documentation/authoring/blueprints/nextjs-pages-router.md
  documentation/authoring/blueprints/react-web.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_pages-router/AGENTS.md
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  implementations/nextjs-sdk_pages-router/pages/_app.tsx
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/client.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/pages-router.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/src/context/InitialExperienceContext.tsx
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/initial-experience/initialExperience.test.ts
  packages/web/frameworks/react-web-sdk/src/initial-experience/initialExperience.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.tsx
Due: eslint --fix, prettier --check --write

feat(nextjs): add initial Experience request parity
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(request)/layout.tsx
  implementations/nextjs-sdk_app-router/app/(static)/static-shell-private-slot/PrivateRequestSlot.tsx
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-client.ts
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
Due: eslint --fix, prettier --check --write

test(react-web): remove redundant route state
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
Due: eslint --fix, prettier --check --write

fix(react-web): canonicalize App route keys
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
Due: eslint --fix, prettier --check --write

feat(nextjs): add App Router initial Experience parity (#452)
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(request)/layout.tsx
  implementations/nextjs-sdk_app-router/app/(static)/static-shell-private-slot/PrivateRequestSlot.tsx
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-client.ts
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
Due: eslint --fix, prettier --check --write

fix(swift): relax contentful.swift dependency to upToNextMajor [NT-3999]
  packages/ios/ContentfulOptimization/Package.swift
Due: none

fix(android): relax contentful.java dependency to a 10.x range [NT-3999]
  packages/android/ContentfulOptimization/build.gradle.kts
Due: none

fix(swift,android): relax pinned CDA client dependencies to version ranges (#453)
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/ios/ContentfulOptimization/Package.swift
Due: none

test(swift): add spec for getField<Int> on whole-number fields [NT-4001]
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/CTEntryTests.swift
Due: none

fix(swift): box JSONValue.number as NSNumber for Int-compatible casts [NT-4001]
  documentation/internal/sdk-knowledge/native/ios.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Contentful/CTEntry.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/JSONValue.swift
Due: prettier --check --write

fix(android): coerce whole-number fields to Int in JSONValue [NT-4001]
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/JSONValue.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
Due: prettier --check --write

refactor(runtime): rename callback before release
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/authoring/blueprints/nextjs-pages-router.md
  documentation/authoring/blueprints/react-web.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-client.ts
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/client.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/pages-router.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/src/before-initial-page/beforeInitialPage.test.ts
  packages/web/frameworks/react-web-sdk/src/before-initial-page/beforeInitialPage.ts
  packages/web/frameworks/react-web-sdk/src/context/BeforeInitialPageContext.tsx
  packages/web/frameworks/react-web-sdk/src/context/InitialExperienceContext.tsx
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
Due: eslint --fix, prettier --check --write

refactor(runtime): rename callback before release (#455)
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/authoring/blueprints/nextjs-pages-router.md
  documentation/authoring/blueprints/react-web.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_pages-router/README.md
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  lib/e2e-web/e2e/readiness.spec.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-client.ts
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/client.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/pages-router.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/src/before-initial-page/beforeInitialPage.test.ts
  packages/web/frameworks/react-web-sdk/src/before-initial-page/beforeInitialPage.ts
  packages/web/frameworks/react-web-sdk/src/context/BeforeInitialPageContext.tsx
  packages/web/frameworks/react-web-sdk/src/context/InitialExperienceContext.tsx
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
Due: eslint --fix, prettier --check --write

chore(react-native): remove obsolete npm lockfile
  implementations/react-native-sdk/package-lock.json
Due: prettier --check --write

chore(repo): skip Bito reviews for Renovate PRs
  .bito.yaml
Due: prettier --check --write

chore(repo): improve Renovate PR handling (#456)
  .bito.yaml
  implementations/react-native-sdk/package-lock.json
Due: prettier --check --write

fix(swift,android): resolve getField<Int> to whole-number fields [NT-4001] (#454)
  documentation/internal/sdk-knowledge/native/android.md
  documentation/internal/sdk-knowledge/native/ios.md
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/contentful/CTEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/JSONValue.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/contentful/CTEntryTest.kt
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Contentful/CTEntry.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/JSONValue.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/CTEntryTests.swift
Due: prettier --check --write

chore: remove obsolete dependabot Vault policy [MEC-3526]
  .contentful/vault-secrets.yaml
Due: prettier --check --write

chore: remove obsolete dependabot Vault policy [MEC-3526] (#457)
  .contentful/vault-secrets.yaml
Due: prettier --check --write

fix(implementations): stabilize interaction tracking validation
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
  implementations/react-native-sdk/e2e/helpers.js
  implementations/web-sdk/public/js/entries.js
Due: eslint --fix, prettier --check --write

ci(docs): publish documentation for release commits
  .github/workflows/publish-docs.yml
Due: prettier --check --write

ci(docs): notify Slack after documentation publishing
  .github/workflows/notify-slack.yml
  .github/workflows/publish-docs.yml
Due: prettier --check --write

ci(repo): summarize merged changes in Slack
  .github/workflows/notify-slack.yml
Due: prettier --check --write

ci(docs): link changes between publications
  .github/workflows/publish-docs.yml
Due: prettier --check --write

ci(repo): celebrate published releases in Slack
  .github/workflows/notify-slack.yml
Due: prettier --check --write

ci(repo): link release distribution pages in Slack
  .github/workflows/notify-slack.yml
Due: prettier --check --write

feat(core): infer campaign data from UTM parameters
  documentation/concepts/core-state-management.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
Due: eslint --fix, prettier --check --write

ci(repo): align documentation publishing and Slack notifications (#459)
  .github/workflows/notify-slack.yml
  .github/workflows/publish-docs.yml
Due: prettier --check --write

feat(core): infer campaign data from UTM parameters (#460)
  documentation/concepts/core-state-management.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
Due: eslint --fix, prettier --check --write

chore(repo): release packages for main
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/node/node-sdk/CHANGELOG.md
  packages/node/node-sdk/package.json
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
  packages/universal/core-sdk/CHANGELOG.md
  packages/universal/core-sdk/package.json
  packages/web/frameworks/nextjs-sdk/CHANGELOG.md
  packages/web/frameworks/nextjs-sdk/package.json
  packages/web/frameworks/react-web-sdk/CHANGELOG.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/CHANGELOG.md
  packages/web/preview-panel/package.json
  packages/web/web-sdk/CHANGELOG.md
  packages/web/web-sdk/package.json
Due: prettier --check --write

chore(repo): release packages for main (#449)
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/node/node-sdk/CHANGELOG.md
  packages/node/node-sdk/package.json
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
  packages/universal/core-sdk/CHANGELOG.md
  packages/universal/core-sdk/package.json
  packages/web/frameworks/nextjs-sdk/CHANGELOG.md
  packages/web/frameworks/nextjs-sdk/package.json
  packages/web/frameworks/react-web-sdk/CHANGELOG.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/CHANGELOG.md
  packages/web/preview-panel/package.json
  packages/web/web-sdk/CHANGELOG.md
  packages/web/web-sdk/package.json
Due: prettier --check --write

chore(repo): release packages for main
  .release-please-manifest.json
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
Due: prettier --check --write

fix(ci): restore documentation comparison URL
  .github/workflows/publish-docs.yml
Due: prettier --check --write

fix(publish): stabilize release reruns
  .github/workflows/publish-release.yaml
  scripts/release-please-pull-request-body.ts
  scripts/release-please.ts
Due: eslint --fix, prettier --check --write

fix(publish): stabilize release reruns (#463)
  .github/workflows/publish-release.yaml
  scripts/release-please-pull-request-body.ts
  scripts/release-please.ts
Due: eslint --fix, prettier --check --write
