Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

docs: add nextJs implementation guide
  documentation/guides/README.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
Due: prettier --check --write

fix:format
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/optimization-server.ts
Due: eslint --fix, prettier --check --write

[NT-3070] iOS UI tests in CI (#259)
  .github/workflows/main-pipeline.yaml
  implementations/ios-sdk/package.json
  package.json
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/NativePolyfills.swift
Due: prettier --check --write

Nt 3090 nextjs csr (#262)
  documentation/guides/README.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.env.example
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.gitignore
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.npmrc
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/AGENTS.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/favicon.ico
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/globals.css
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/HybridEntryList.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/InteractiveControls.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/config/entries.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/eslint.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/contentful-client.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/optimization-server.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/middleware.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/package.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/pnpm-workspace.yaml
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/postcss.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/tsconfig.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/types/contentful.ts
  package.json
Due: eslint --fix, prettier --check --write

Force stop instead of going home
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/AppLauncher.kt
Due: none

Make Android bridge sync calls actually synchronous so panel-action state propagates before the call returns
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/bridge/ZiplineContextManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
Due: none

Single-click audience-toggle in PreviewPanelOverridesTests so layout re-sort doesn't misroute the coordinate-click fallback
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/TestHelpers.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelOverridesTests.kt
Due: none

Wait for UI idle in PreviewPanelOverridesTests scrollPanelToElement so Compose fling settles before the find-and-check
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelOverridesTests.kt
Due: none

Key the preview panel's audience and override forEach blocks by id so sortAudiences reorders don't reuse Compose slots and route audience-toggle clicks to the wrong audience
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelContent.kt
Due: none

Wait for UI idle in TestHelpers.waitAndTap so taps land on a settled accessibility tree after the panel's sortAudiences-driven re-sort
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/TestHelpers.kt
Due: none

Sort preview-panel audiences alphabetically only (drop isActive-first clause) so override toggles don't reorder the list and race the Android accessibility tree
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/universal/core-sdk/src/preview-support/buildPreviewModel.test.ts
  packages/universal/core-sdk/src/preview-support/buildPreviewModel.ts
Due: eslint --fix, prettier --check --write

Rebuild iOS JS bridge bundle with the new alphabetical-only sortAudiences logic
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

Surface a preview-refresh-button in the RN preview panel and wire it via sdk.page in the demo app so the override interceptor can be exercised end-to-end from Detox
  implementations/react-native-sdk/App.tsx
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/types.ts
Due: eslint --fix, prettier --check --write

Add Detox preview-panel-overrides scenarios 1, 5, 7, 8 covering activate-unqualified-audience, per-variant reset, refresh-button override persistence, and destroy/remount override clearing
  implementations/react-native-sdk/e2e/helpers.js
  implementations/react-native-sdk/e2e/preview-panel-overrides.test.js
Due: eslint --fix, prettier --check --write

Mirror RN preview-panel-overrides scenarios 1, 5, 7, 8 into the iOS PreviewPanelOverridesTests XCUITest suite so the JS-bridge proof covers the new override surface
  implementations/ios-sdk/uitests/Tests/PreviewPanelOverridesTests.swift
Due: none

Add pseudocode for react native sdk tests
  implementations/react-native-sdk/e2e/analytics-pseudocode.md
  implementations/react-native-sdk/e2e/displays-identified-user-variants-pseudocode.md
  implementations/react-native-sdk/e2e/displays-unidentified-user-variants-pseudocode.md
  implementations/react-native-sdk/e2e/extended-view-tracking-pseudocode.md
  implementations/react-native-sdk/e2e/flag-view-tracking-pseudocode.md
  implementations/react-native-sdk/e2e/helpers-pseudocode.md
  implementations/react-native-sdk/e2e/live-updates-pseudocode.md
  implementations/react-native-sdk/e2e/navigation-screen-tracking-pseudocode.md
  implementations/react-native-sdk/e2e/networkHelpers-pseudocode.md
  implementations/react-native-sdk/e2e/offline-behavior-pseudocode.md
  implementations/react-native-sdk/e2e/preview-panel-overrides-pseudocode.md
  implementations/react-native-sdk/e2e/tap-tracking-pseudocode.md
Due: prettier --check --write

Rename the iOS per-entry analytics stats accessibility identifier from component-stats-<id> to entry-stats-<id> to match the shared pseudocode contract
  implementations/ios-sdk/swiftui/Components/AnalyticsEventDisplay.swift
  implementations/ios-sdk/uikit/Components/AnalyticsEventDisplayView.swift
Due: none

Rename the iOS live-updates section identifiers from *-personalization to *-optimization and wire the simulate-preview-panel control to client.setPreviewPanelOpen so the panel drives live-update mode
  implementations/ios-sdk/swiftui/Screens/LiveUpdatesTestScreen.swift
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
Due: none

Check the preview panel state before the explicit liveUpdates value on iOS optimized entries so an open preview panel forces live updates even on a component configured with liveUpdates false
  implementations/ios-sdk/uikit/Components/OptimizedEntryUIView.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizedEntry.swift
Due: none

Pass a contentful client to the UIKit preview panel floating button so it can load audience and experience definitions, matching the SwiftUI app
  implementations/ios-sdk/uikit/SceneDelegate.swift
Due: none

Add the iOS XCUITest failure fix plans and a results report covering the SwiftUI and UIKit suite outcomes
  documentation/plans/ios/README.md
  documentation/plans/ios/RESULTS.md
  documentation/plans/ios/flag-states-api-missing.md
  documentation/plans/ios/merge-tag-rich-text-rendering.md
  documentation/plans/ios/offline-identify-variant-resolution.md
  documentation/plans/ios/preview-panel-overrides-locked-liveupdates.md
  documentation/plans/ios/variant-nested-children-stripped.md
  documentation/plans/ios/view-tracking-timing-lifecycle.md
Due: prettier --check --write

Update the iOS XCUITest results report now that the UIKit suite also passes in full
  documentation/plans/ios/RESULTS.md
Due: prettier --check --write

Remove the cold-start OSSignpost instrumentation from the iOS JS bridge initializer since nothing consumes the Cold Start interval anymore
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
Due: none

Add the generated Android bridge bundle to .prettierignore so lint-staged stops reformatting the minified artifact, and restore optimization-android-bridge.umd.js to its minified build output
  .prettierignore
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
Due: eslint --fix, prettier --check --write

Add subscribeToFlag and getMergeTagValue to the Android OptimizationClient so the Kotlin SDK exposes the custom-flag and merge-tag bridge methods that iOS already has
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
Due: none

Re-evaluate visibility from the last known geometry in the Android ViewTrackingController resume so a still-visible element restarts a tracking cycle after the app returns to the foreground
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/tracking/ViewTrackingController.kt
Due: none

Subscribe the Android reference app to the boolean flag once a profile is available so a flag-view component event is emitted, matching the iOS app
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
Due: none

Resolve merge tags in the Android reference app by flattening rich-text entry fields through a new RichText helper backed by the SDK getMergeTagValue method
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/ContentEntryView.kt
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/NestedContentEntryView.kt
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/RichText.kt
Due: none

Wait for the async-resolved merge-tag description in the Android variant UI tests instead of asserting on it immediately
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/IdentifiedVariantsTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/UnidentifiedVariantsTests.kt
Due: none

Harden Android extended-view-tracking determinism with momentum-free swipes and a fixed content-entry card height so entries dwell and scroll predictably
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/AppConfig.kt
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/ContentEntryView.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/DeviceExtensions.kt
Due: none

Run the Android UI Automator suite self-instrumenting so tests can force-stop and relaunch the app without killing the instrumentation runner
  implementations/android-sdk/uitests/build.gradle.kts
Due: none

Drive the SDK preview-panel flag from the Live Updates test screen simulate button so default and locked sections switch to live updates while it is open
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/screens/LiveUpdatesTestScreen.kt
Due: none

Rework the Android instrumented UI tests to match the iOS parity contract, renaming cases and replacing fixed sleeps with explicit element waits
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/AnalyticsTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/ExtendedViewTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/FlagViewTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/LiveUpdatesTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/OfflineBehaviorTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelOverridesTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/ScreenTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/TapTrackingTests.kt
Due: none

Rebuild the SDK package tarballs and reset Metro's cache before the React Native Android E2E run so tests never bundle stale packaged JS
  implementations/react-native-sdk/scripts/run-e2e-android.sh
Due: none

Drop the content-entry card-height constant since forcing every entry to 180dp pushed the analytics section off-screen and broke UI tests that read it without scrolling
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/AppConfig.kt
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/ContentEntryView.kt
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
