Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Drop Android polyfill load step now that bundle carries polyfills
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/bridge/QuickJsContextManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/polyfills/PolyfillScriptLoader.kt
Due: none

Drop iOS polyfill load step now that bundle carries polyfills
  packages/ios/ContentfulOptimization/Package.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/PolyfillScriptLoader.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: none

Update AGENTS, README, and CODE_MAP for unified polyfill source
  packages/android/ContentfulOptimization/AGENTS.md
  packages/ios/CODE_MAP.md
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/README.md
Due: prettier --check --write

📘 docs(guides): Adding third party analytics integration guidance
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/README.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  package.json
Due: prettier --check --write

Add native mobile SDK architecture and per-platform bridge concept docs
  documentation/concepts/README.md
  documentation/concepts/android-sdk-bridge.md
  documentation/concepts/ios-sdk-bridge.md
  documentation/concepts/native-mobile-sdk-architecture.md
Due: prettier --check --write

Add buildJsBridge Gradle task so :app builds rebuild the JS bridge
  packages/android/ContentfulOptimization/build.gradle.kts
Due: none

Add Build JS bridge scheme pre-action so Xcode builds rebuild the JS bridge
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppSwiftUI.xcscheme
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppUIKit.xcscheme
  implementations/ios-sdk/project.yml
Due: prettier --check --write

Add iOS and Android SDK contributor guides
  documentation/guides/README.md
  documentation/guides/contributing-to-the-android-sdk.md
  documentation/guides/contributing-to-the-ios-sdk.md
Due: prettier --check --write

📘 docs(guides): Adding third party analytics integration guidance (#289)
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/README.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  package.json
Due: prettier --check --write

Add missing blank line before Supplemental guides heading to satisfy Prettier
  documentation/guides/README.md
Due: prettier --check --write

Consolidate polyfills into the JS bridge bundle (#288)
  lib/build-tools/src/index.ts
  lib/build-tools/src/rslib.test.ts
  lib/build-tools/src/rslib.ts
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/bridge/QuickJsContextManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/polyfills/PolyfillScriptLoader.kt
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/Package.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/PolyfillScriptLoader.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/abort-controller.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/console.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/crypto.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/fetch.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/promise-utilities.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/text-encoding.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/timers.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/url.js
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/README.md
  packages/universal/optimization-js-bridge/rslib.config.ts
  packages/universal/optimization-js-bridge/src/polyfills/abort-controller.js
  packages/universal/optimization-js-bridge/src/polyfills/console.js
  packages/universal/optimization-js-bridge/src/polyfills/crypto.js
  packages/universal/optimization-js-bridge/src/polyfills/fetch.js
  packages/universal/optimization-js-bridge/src/polyfills/promise-utilities.js
  packages/universal/optimization-js-bridge/src/polyfills/text-encoding.js
  packages/universal/optimization-js-bridge/src/polyfills/timers.js
  packages/universal/optimization-js-bridge/src/polyfills/url.js
  packages/universal/optimization-js-bridge/tsconfig.build.json
  packages/universal/optimization-js-bridge/tsconfig.json
Due: eslint --fix, prettier --check --write

Fix OptimizedEntryView click listener to honor post-attach onTap/trackTaps mutation
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
Due: none

Fix OptimizationManager.resetForTesting deadlock and cancel in-flight initScope work
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizationManager.kt
Due: none

Always overwrite contentDescription in TestTagging.setTestTag for stable By.desc fallback
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/support/TestTagging.kt
Due: none

Walk only visible items in TrackingRecyclerView.onScrolled for LinearLayoutManager
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/TrackingRecyclerView.kt
Due: none

Gate ViewTracking diagnostic Log.d/i calls behind Log.isLoggable
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/tracking/ViewTrackingController.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
Due: none

Downsize e2e-android-sdk matrix runner to 8-vcpu since emulator boot is the bottleneck
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Delete the four dwell-sensitive UI Automator tests now that ViewTrackingControllerTest owns the contract
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/AnalyticsTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/FlagViewTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/OfflineBehaviorTests.kt
Due: none

Remove CiSkip helper now that no dwell-sensitive E2E tests remain to gate
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/CiSkip.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/tracking/ViewTrackingControllerTest.kt
Due: none

Drop -e CI true from the am instrument invocation now that the AndroidJUnitRunner CI arg has no readers
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Add uitests/README.md cataloguing the four deleted dwell-sensitive tests and where the contract lives now
  implementations/android-sdk/uitests/README.md
Due: prettier --check --write

Revert e2e-android-sdk runner back to 16-vcpu-32-gb (c8d84b5c downsize triggered Pixel Launcher ANRs)
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Delete PreviewPanelOverridesTests.testScenario8 — PreviewOverrideManager unit tests own the empty-store-empty-overrides claim
  implementations/android-sdk/uitests/README.md
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelOverridesTests.kt
Due: prettier --check --write

Differentiate the dwell-flake mechanism from testScenario8 in uitests/README.md so the rationale matches the catalogue
  implementations/android-sdk/uitests/README.md
Due: prettier --check --write

Update UMD bridge
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

EXA-1487 Emit node view variant index
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.test.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.ts
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStatefulNodeView.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
  packages/web/web-sdk/src/ContentfulOptimization.ts
  packages/web/web-sdk/src/entry-tracking/NodeViewRuntime.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.test.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.test.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
  packages/web/web-sdk/src/entry-tracking/resolveTrackingPayload.ts
Due: eslint --fix, prettier --check --write

EXA-1487 Prefer source map variant metadata
  packages/universal/api-schemas/src/experience/sourceMap/SourceMap.test.ts
  packages/universal/api-schemas/src/experience/sourceMap/SourceMap.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.test.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
Due: eslint --fix, prettier --check --write

feat(react-web-sdk-impl): move node view debug to /exo route
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/config/routes.ts
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/pages/ExoPage.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
Due: eslint --fix, prettier --check --write

feat(react-web-sdk-impl): add dynamic child controls to NodeViewTrackingSection
  implementations/react-web-sdk/src/sections/NodeViewTrackingSection.tsx
Due: eslint --fix, prettier --check --write

feat(react-web-sdk-impl): add node view tracking section and debug panel
  implementations/react-web-sdk/src/components/NodeViewDebugPanel.tsx
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/sections/NodeViewTrackingSection.tsx
Due: eslint --fix, prettier --check --write

feat(react-web-sdk-impl): demonstrate Experience→Fragment hierarchy in NodeViewTrackingSection
  implementations/react-web-sdk/src/sections/NodeViewTrackingSection.tsx
Due: eslint --fix, prettier --check --write

refactor(react-web-sdk-impl): simplify NodeView debug panel and switch tracking to data attributes
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/components/NodeViewDebugPanel.tsx
  implementations/react-web-sdk/src/pages/ExoPage.tsx
  implementations/react-web-sdk/src/sections/NodeViewTrackingSection.tsx
Due: eslint --fix, prettier --check --write

Consolidate polyfills into the JS bridge bundle (#291)
  lib/build-tools/src/index.ts
  lib/build-tools/src/rslib.test.ts
  lib/build-tools/src/rslib.ts
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/bridge/QuickJsContextManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/polyfills/PolyfillScriptLoader.kt
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/Package.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/PolyfillScriptLoader.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/abort-controller.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/console.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/crypto.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/fetch.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/promise-utilities.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/text-encoding.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/timers.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/url.js
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/README.md
  packages/universal/optimization-js-bridge/rslib.config.ts
  packages/universal/optimization-js-bridge/src/polyfills/abort-controller.js
  packages/universal/optimization-js-bridge/src/polyfills/console.js
  packages/universal/optimization-js-bridge/src/polyfills/crypto.js
  packages/universal/optimization-js-bridge/src/polyfills/fetch.js
  packages/universal/optimization-js-bridge/src/polyfills/promise-utilities.js
  packages/universal/optimization-js-bridge/src/polyfills/text-encoding.js
  packages/universal/optimization-js-bridge/src/polyfills/timers.js
  packages/universal/optimization-js-bridge/src/polyfills/url.js
  packages/universal/optimization-js-bridge/tsconfig.build.json
  packages/universal/optimization-js-bridge/tsconfig.json
Due: eslint --fix, prettier --check --write

Add Maestro preview-panel flows driving both Compose and Views apps from one bundle
  implementations/android-sdk/maestro/README.md
  implementations/android-sdk/maestro/preview-panel/fab-visible.yaml
  implementations/android-sdk/maestro/preview-panel/profile-updates-after-identify.yaml
  implementations/android-sdk/maestro/preview-panel/refresh-button-works.yaml
  implementations/android-sdk/maestro/preview-panel/shows-all-profile-keys.yaml
  implementations/android-sdk/maestro/preview-panel/shows-can-personalize.yaml
  implementations/android-sdk/maestro/preview-panel/shows-consent-accepted.yaml
  implementations/android-sdk/maestro/preview-panel/shows-location-data.yaml
  implementations/android-sdk/maestro/preview-panel/shows-profile-data.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
