Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

feat: Align react-web-sdk implementation and docs with SDK API changes
  CONTRIBUTING.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/pages/PageTwoPage.tsx
  implementations/react-web-sdk/src/sections/ContentEntry.tsx
  packages/web/frameworks/react-web-sdk/rslib.config.ts
Due: eslint --fix, prettier --check --write

fix: update based on PR comments
  .github/workflows/main-pipeline.yaml
  implementations/react-web-sdk/playwright.config.mjs
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/components/RichTextRenderer.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/sections/ContentEntry.tsx
  implementations/react-web-sdk/src/sections/LiveUpdatesExampleEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentItem.tsx
  implementations/react-web-sdk/src/services/contentfulClient.ts
  implementations/react-web-sdk/src/types/contentful.ts
  implementations/web-sdk_react/package.json
Due: eslint --fix, prettier --check --write

feat [Nt 2579]: create a react web sdk reference implementation (#197)
  .github/workflows/main-pipeline.yaml
  CONTRIBUTING.md
  implementations/react-web-sdk/.env.example
  implementations/react-web-sdk/.npmrc
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/e2e/displays-identified-user-variants.spec.ts
  implementations/react-web-sdk/e2e/displays-unidentified-user-variants.spec.ts
  implementations/react-web-sdk/e2e/entry-click-tracking.spec.ts
  implementations/react-web-sdk/e2e/entry-hover-tracking.spec.ts
  implementations/react-web-sdk/e2e/events-consent-gating.spec.ts
  implementations/react-web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/react-web-sdk/e2e/live-updates.spec.ts
  implementations/react-web-sdk/e2e/navigation-page-events.spec.ts
  implementations/react-web-sdk/e2e/offline-queue-recovery.spec.ts
  implementations/react-web-sdk/index.html
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/playwright.config.mjs
  implementations/react-web-sdk/rsbuild.config.ts
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/components/AnalyticsEventDisplay.tsx
  implementations/react-web-sdk/src/components/RichTextRenderer.tsx
  implementations/react-web-sdk/src/config/entries.ts
  implementations/react-web-sdk/src/config/routes.ts
  implementations/react-web-sdk/src/contentful-generated.d.ts
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/pages/PageTwoPage.tsx
  implementations/react-web-sdk/src/sections/ContentEntry.tsx
  implementations/react-web-sdk/src/sections/LiveUpdatesExampleEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentItem.tsx
  implementations/react-web-sdk/src/services/contentfulClient.ts
  implementations/react-web-sdk/src/types/contentful.ts
  implementations/react-web-sdk/src/types/env.d.ts
  implementations/react-web-sdk/src/utils/typeGuards.ts
  implementations/react-web-sdk/tsconfig.json
  package.json
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/rslib.config.ts
Due: eslint --fix, prettier --check --write

💡 refactor(stateless): Add request scopes for per-request Experience options
  documentation/README.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreApiConfig.ts
  packages/universal/core-sdk/src/CoreBase.test.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateful.ts
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

💡 refactor(stateless): Add request scopes for per-request Experience options (#199)
  documentation/README.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreApiConfig.ts
  packages/universal/core-sdk/src/CoreBase.test.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateful.ts
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

📘 docs(caching): Updating docs and implementations with caching guidance
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/resolvers/MergeTagValueResolver.ts
Due: eslint --fix, prettier --check --write

📘 docs(caching): Updating docs and implementations with caching guidance (#200)
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/resolvers/MergeTagValueResolver.ts
Due: eslint --fix, prettier --check --write

💡 refactor(stateless): Simplifying stateless usage and updating documentation
  CONTRIBUTING.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  implementations/web-sdk/README.md
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/web-sdk/AGENTS.md
Due: eslint --fix, prettier --check --write

💡 refactor(stateless): Simplifying stateless usage and updating documentation (#201)
  CONTRIBUTING.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/README.md
  implementations/node-sdk/src/app.ts
  implementations/web-sdk/README.md
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/CoreStatelessRequestScope.ts
  packages/universal/core-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/web-sdk/AGENTS.md
Due: eslint --fix, prettier --check --write

🚀 ci(workflow): Updating GH action SHAs and adding repo-level Dependabot config
  .github/dependabot.yml
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

docs: add React Web SDK integration guide
  documentation/README.md
  documentation/integrating-the-react-web-sdk-in-a-react-app.md
Due: prettier --check --write

docs: add React Web SDK integration guide (#212)
  documentation/README.md
  documentation/integrating-the-react-web-sdk-in-a-react-app.md
Due: prettier --check --write

📘 docs(web): Adding a user guide for the Web SDK
  documentation/README.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  documentation/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

📘 docs(web): Adding a user guide for the Web SDK (#214)
  documentation/README.md
  documentation/integrating-the-node-sdk-in-a-node-app.md
  documentation/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

Update resume method to reset visibility for re-evaluation
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/ViewTrackingController.swift
Due: none

Enhance JSContextManager to handle JavaScript exceptions by capturing them in a variable before executing scripts.
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
Due: none

Add e2e tests for preview panel
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/OptimizationApp/App.swift
  implementations/ios-sdk/OptimizationAppUITests/Tests/PreviewPanelTests.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/ViewTrackingController.swift
Due: none

Add design token constants for preview panel theme
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewTheme.swift
Due: none

Add shared UI components for preview panel
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewComponents.swift
Due: none

Add Contentful Delivery API client for preview panel
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewContentfulClient.swift
Due: none

Add data models and Contentful entry mappers for preview definitions
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewDefinitions.swift
Due: none

Rewrite preview panel content with audience sections, search, and override tracking
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
Due: none

Update preview panel FAB to purple theme and accept optional Contentful client
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelOverlay.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelViewController.swift
Due: none

Enable live updates in OptimizedEntry while preview panel is open
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizedEntry.swift
Due: none

Add DiagnosticLogger for SDK diagnostic output
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/DiagnosticLogger.swift
Due: none

Add debug flag to OptimizationConfig
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationConfig.swift
Due: none

Add diagnostic logging to native fetch polyfill
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/NativePolyfills.swift
Due: none

Add VariantLock for UIKit variant locking
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/VariantLock.swift
Due: none

Enable debug logging in demo app
  implementations/ios-sdk/OptimizationApp/App.swift
Due: none

Update compiled JS bridge bundle
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

Fix screen event to include screen context and name in properties
  packages/universal/core-sdk/src/events/EventBuilder.ts
Due: eslint --fix, prettier --check --write

Add tests for EventBuilder.buildScreenView
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
Due: eslint --fix, prettier --check --write

Update JSContextManager bridge infrastructure
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
Due: none

Add JSONValue type for type-safe JSON handling in the core client
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/JSONValue.swift
Due: none

Add override tracking to the JS bridge as single source of truth
  packages/ios/ios-jsc-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

Update compiled JS bridge bundle with override tracking
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

Add override and reset methods to the core client
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/PreviewState.swift
Due: none

Read override state from the JS bridge instead of local view model tracking
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
