Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Subscribe the Android app event store at MainScreen startup instead of from AnalyticsEventDisplay so the one-shot flag-view event emitted by subscribeToFlag is captured
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/components/AnalyticsEventDisplay.kt
  implementations/android-sdk/app/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
Due: none

Give the Android OptimizationClient event flow a replay buffer so a UI event-store collector that subscribes shortly after startup still receives the one-shot flag-view event
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
Due: none

Guard the Android scroll helpers against StaleObjectException so a UiObject2 handle that goes stale mid-recomposition is re-queried instead of crashing the test
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/DeviceExtensions.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/TestHelpers.kt
Due: none

Decouple the Android scroll speeds: keep bulk swipes fast so transiting entries never dwell, and run the cycle-reset jiggle momentum-free so the SDK samples the entry crossing the tracked band
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/DeviceExtensions.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/ExtendedViewTrackingTests.kt
Due: none

Reset the cycle in the Android duration-reset test with a full scroll-out and back instead of a tiny jiggle, since only a full scroll-out reliably crosses the view-tracking visibility threshold
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/ExtendedViewTrackingTests.kt
Due: none

feat(core-sdk): add trackNodeView and node-view event builder
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStatefulNodeView.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
Due: eslint --fix, prettier --check --write

feat(api-schemas): add sourceMap and exo_view schemas
  packages/universal/api-schemas/src/experience/index.ts
  packages/universal/api-schemas/src/experience/sourceMap/SourceMap.test.ts
  packages/universal/api-schemas/src/experience/sourceMap/SourceMap.ts
  packages/universal/api-schemas/src/experience/sourceMap/index.ts
  packages/universal/api-schemas/src/insights/event/InsightsEvent.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.test.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.ts
  packages/universal/api-schemas/src/insights/event/index.ts
Due: eslint --fix, prettier --check --write

feat(web-sdk): add automatic exo_view runtime and payload resolution
  packages/web/web-sdk/src/ContentfulOptimization.ts
  packages/web/web-sdk/src/constants.ts
  packages/web/web-sdk/src/entry-tracking/NodeViewRuntime.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.test.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.test.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
  packages/web/web-sdk/src/entry-tracking/resolveTrackingPayload.ts
  packages/web/web-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

fix(react-web-sdk): clear stale node tracking attributes
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
Due: eslint --fix, prettier --check --write

feat(web-sdk): add configurable node view auto-tracking controls
  packages/web/web-sdk/src/ContentfulOptimization.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
  packages/web/web-sdk/src/entry-tracking/resolveTrackingPayload.ts
  packages/web/web-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

feat(web-sdk): propagate full node metadata through dataset attributes
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.test.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
  packages/web/web-sdk/src/entry-tracking/resolveTrackingPayload.ts
Due: eslint --fix, prettier --check --write

feat(react-web-sdk): stamp full node metadata in useOptimizedNode
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
Due: eslint --fix, prettier --check --write

refactor(web-sdk): remove autoTrackNodeViews in favour of autoTrackNodeInteraction
  packages/web/web-sdk/src/ContentfulOptimization.ts
Due: eslint --fix, prettier --check --write

feat(api-schemas): add anonymousId to NodeViewEvent
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.test.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.ts
Due: eslint --fix, prettier --check --write

feat(core-sdk): add NodeViewTrackingArgs and derive anonymousId in trackNodeView
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStatefulNodeView.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
Due: eslint --fix, prettier --check --write

refactor: improve readibility of `useOptimizedNode`
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
Due: eslint --fix, prettier --check --write

feat(react-web-sdk): add useOptimizedNode hook
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
Due: eslint --fix, prettier --check --write

refactor: improve `createNodeViewDetector` readiblility
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
Due: eslint --fix, prettier --check --write

refactor: improve readability of `refactor: improve readability of `resolveNodeViewPayload`
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
Due: eslint --fix, prettier --check --write

Consolidate the duplicated iOS and Android JS bridge packages into a single @contentful/optimization-js-bridge under packages/universal that builds one shared src/index.ts into both native UMD bundles
  packages/android/android-zipline-bridge/AGENTS.md
  packages/android/android-zipline-bridge/package.json
  packages/android/android-zipline-bridge/rslib.config.ts
  packages/ios/ios-jsc-bridge/AGENTS.md
  packages/ios/ios-jsc-bridge/README.md
  packages/ios/ios-jsc-bridge/rslib.config.ts
  packages/ios/ios-jsc-bridge/src/index.ts
  packages/ios/ios-jsc-bridge/tsconfig.build.json
  packages/ios/ios-jsc-bridge/tsconfig.json
  packages/universal/optimization-js-bridge/AGENTS.md
  packages/universal/optimization-js-bridge/README.md
  packages/universal/optimization-js-bridge/package.json
  packages/universal/optimization-js-bridge/rslib.config.ts
  packages/universal/optimization-js-bridge/src/index.ts
  packages/universal/optimization-js-bridge/tsconfig.build.json
  packages/universal/optimization-js-bridge/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Repoint the iOS build script and the iOS and Android SDK docs at the merged @contentful/optimization-js-bridge package
  packages/android/AGENTS.md
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/README.md
  packages/ios/AGENTS.md
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/AGENTS.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/PreviewState.swift
  packages/ios/README.md
  packages/universal/core-sdk/src/preview-support/README.md
  scripts/build-ios-sdk.sh
Due: prettier --check --write

Restore the Android JS bridge bundle to its minified build output, regenerated by the merged bridge package
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
Due: eslint --fix, prettier --check --write

Port the getMergeTagValue and flag bridge methods into the merged optimization-js-bridge so the JS bridge matches the iOS and Android native SDKs that already call them
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/universal/optimization-js-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

prevent CI from silently passing when Android instrumentation runner fails
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Add a com.contentful.optimization.views adapter mirroring the Compose adapter on top of the existing core API so XML/Views-based Android apps can integrate the SDK without Compose dependencies
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizationManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/ScreenTracker.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/TrackingRecyclerView.kt
Due: none

satisfy strict ESLint in OptimizationProvider injected-sdk RN tests: init renderer at declaration, mark afterEach as void, replace Object.create(null) cast with a type-predicate factory
  packages/react-native-sdk/src/components/OptimizationProvider.injected-sdk.test.tsx
Due: eslint --fix, prettier --check --write

Replace reset-all Alert.alert with inline confirmation view in RN preview panel and update Detox scenario 6 to tap by testID
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
Due: eslint --fix, prettier --check --write

Surface a preview-refresh-button in the RN preview panel and wire it via sdk.page in the demo app so the override interceptor can be exercised end-to-end from Detox
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/types.ts
Due: eslint --fix, prettier --check --write

Drop layers, change variant to variantId
  package.json
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.test.ts
  packages/universal/api-schemas/src/insights/event/NodeViewEvent.ts
  packages/universal/core-sdk/src/CoreStatefulNodeView.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedNode.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createNodeViewDetector.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.test.ts
  packages/web/web-sdk/src/entry-tracking/resolveNodeViewPayload.ts
Due: eslint --fix, prettier --check --write

Handle unavailable localStorage in web SDK
  packages/web/web-sdk/src/storage/LocalStore.test.ts
  packages/web/web-sdk/src/storage/LocalStore.ts
Due: eslint --fix, prettier --check --write

Revert changes caused by bad merge in final-mobile-sdk-fixes
  .github/workflows/notify-slack.yml
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  eslint.config.ts
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.trackEntryInteraction.test.tsx
Due: eslint --fix, prettier --check --write

Consolidate polyfill JS sources into optimization-js-bridge
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/abort-controller.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/console.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/crypto.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/fetch.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/promise-utilities.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/text-encoding.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/timers.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/url.js
  packages/universal/optimization-js-bridge/src/polyfills/abort-controller.js
  packages/universal/optimization-js-bridge/src/polyfills/console.js
  packages/universal/optimization-js-bridge/src/polyfills/crypto.js
  packages/universal/optimization-js-bridge/src/polyfills/fetch.js
  packages/universal/optimization-js-bridge/src/polyfills/promise-utilities.js
  packages/universal/optimization-js-bridge/src/polyfills/text-encoding.js
  packages/universal/optimization-js-bridge/src/polyfills/timers.js
  packages/universal/optimization-js-bridge/src/polyfills/url.js
Due: eslint --fix, prettier --check --write

Add concatPolyfills helper to build-tools
  lib/build-tools/src/index.ts
  lib/build-tools/src/rslib.test.ts
  lib/build-tools/src/rslib.ts
Due: eslint --fix, prettier --check --write

Prepend polyfill source into the bridge UMD output
  packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/universal/optimization-js-bridge/rslib.config.ts
  packages/universal/optimization-js-bridge/tsconfig.build.json
  packages/universal/optimization-js-bridge/tsconfig.json
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
