Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

Updating CODEOWNERS
  CODEOWNERS
Due: none

🔧 chore(prettier): Stop hard-wrapping markdown prose (proseWrap preserve)
  .prettierrc
Due: none

✨ feat(docs): Add symbol-anchored source-pointer grammar + knowledge:check validator
  documentation/internal/sdk-knowledge/README.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/shared/consistency-notes.md
  documentation/internal/sdk-knowledge/shared/vocabulary.md
  package.json
  scripts/sdk-knowledge/markdown.ts
  scripts/sdk-knowledge/source-symbols.ts
  scripts/validate-sdk-knowledge.ts
Due: eslint --fix, prettier --check --write

👷 ci: Run knowledge:check on KB and package-source changes
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

📝 docs(skills): Point knowledge-maintenance skill at the grammar + knowledge:check gate
  skills/sdk-knowledge-maintenance/SKILL.md
Due: prettier --check --write

👷 chore(hooks): Add non-blocking Stop hook that surfaces knowledge-base drift
  .claude/hooks/knowledge-check.sh
  .claude/settings.json
Due: prettier --check --write

📝 docs(skills): Close the KB→guide loop in the guide-authoring skill
  skills/optimization-guide-authoring/SKILL.md
Due: prettier --check --write

✨ feat(skills): Encode the three-role guide authoring/review process
  .claude/agents/guide-newcomer-reviewer.md
  .claude/agents/guide-source-verifier.md
  .claude/agents/guide-writer.md
  .claude/commands/review-guide.md
  skills/guide-newcomer-review/SKILL.md
  skills/guide-newcomer-review/package.json
  skills/guide-source-verification/SKILL.md
  skills/guide-source-verification/package.json
Due: prettier --check --write

📝 docs(sdk-knowledge): Migrate App Router KB pointers to the grammar
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
Due: prettier --check --write

🐞 fix(docs): Catch wrapped source-pointer lines in knowledge:check
  scripts/validate-sdk-knowledge.ts
Due: eslint --fix, prettier --check --write

📝 docs(sdk-knowledge): Collapse wrapped App Router source pointers onto single lines
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
Due: prettier --check --write

📝 docs(sdk-knowledge): Migrate Web SDK KB pointers to the grammar
  documentation/internal/sdk-knowledge/web/web.md
Due: prettier --check --write

📝 docs(sdk-knowledge): Migrate React Web SDK KB pointers to the grammar
  documentation/internal/sdk-knowledge/web/react-web.md
Due: prettier --check --write

📝 docs(sdk-knowledge): Migrate Pages Router KB pointers to the grammar
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
Due: prettier --check --write

🧹 chore(sdk-knowledge): Remove stray </content> tags from KB meta files
  documentation/internal/sdk-knowledge/README.md
  documentation/internal/sdk-knowledge/_template.md
Due: prettier --check --write

🐞 fix(docs): Parse escaped pipes in KB table cells correctly
  scripts/sdk-knowledge/markdown.ts
Due: eslint --fix, prettier --check --write

📝 docs(scripts): Document the knowledge-base validator thoroughly
  scripts/sdk-knowledge/source-symbols.ts
  scripts/validate-sdk-knowledge.ts
Due: eslint --fix, prettier --check --write

🔥 refactor(sdk-knowledge): Delete consistency-notes.md; fix drift, don't log it
  documentation/internal/sdk-knowledge/README.md
  documentation/internal/sdk-knowledge/shared/consistency-notes.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  skills/sdk-knowledge-maintenance/SKILL.md
Due: prettier --check --write

✨ feat(skills): Add /author-guide workflow with new + refresh entry points
  .claude/agents/guide-source-verifier.md
  .claude/agents/guide-writer.md
  .claude/commands/author-guide.md
Due: prettier --check --write

fix(typedoc): resolve doc-generation warnings
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/index.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/StatefulDefaults.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/universal/core-sdk/src/events/OptimizationEventStreamEvent.ts
  packages/universal/core-sdk/src/index.ts
  packages/universal/core-sdk/src/queues/InsightsQueue.ts
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.ts
  packages/universal/core-sdk/src/signals/Observable.ts
  typedoc.json
Due: eslint --fix, prettier --check --write

✨ feat(sdk-knowledge): Add KB→guide dependency direction (feeds-guides)
  documentation/internal/sdk-knowledge/README.md
  documentation/internal/sdk-knowledge/_template.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
  scripts/validate-sdk-knowledge.ts
Due: eslint --fix, prettier --check --write

✨ feat(skills): Add sdk-knowledge-authoring — the source→KB comprehension role
  .claude/agents/sdk-knowledge-author.md
  skills/sdk-knowledge-authoring/SKILL.md
  skills/sdk-knowledge-authoring/package.json
Due: prettier --check --write

♻️ refactor(skills): Make guide verification a KB lookup, not a source re-derivation
  .claude/agents/guide-source-verifier.md
  skills/guide-source-verification/SKILL.md
Due: prettier --check --write

♻️ refactor(skills): Make guide composition KB-first, escalate for missing facts
  .claude/agents/guide-writer.md
  skills/optimization-guide-authoring/SKILL.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

✨ feat(commands): Reframe docs commands around the full SDLC
  .claude/commands/author-guide.md
  .claude/commands/refresh-docs.md
  .claude/commands/review-guide.md
Due: prettier --check --write

fix(typedoc): resolve doc-generation warnings (#365)
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/index.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/StatefulDefaults.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/universal/core-sdk/src/events/OptimizationEventStreamEvent.ts
  packages/universal/core-sdk/src/index.ts
  packages/universal/core-sdk/src/queues/InsightsQueue.ts
  packages/universal/core-sdk/src/resolvers/OptimizedEntryResolver.ts
  packages/universal/core-sdk/src/signals/Observable.ts
  typedoc.json
Due: eslint --fix, prettier --check --write

📝 docs(node): Refresh Node guide to current archetype + bootstrap node/ KB
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/internal/sdk-knowledge/node/node.md
Due: prettier --check --write

📝 docs(skills): Funnel Node-review reader-experience rules into the authoring checklist
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

🎨 chore(format): Normalize link-reference wrapping under proseWrap preserve
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
Due: prettier --check --write

📝 docs(commands): Require file-scoped format:fix in workflow gates
  .claude/commands/author-guide.md
  .claude/commands/refresh-docs.md
  .claude/commands/review-guide.md
Due: prettier --check --write

docs(guides): improve readability for beginners
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
Due: prettier --check --write

📝 docs(react-native): Refresh RN guide to current archetype + bootstrap native/ KB
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/internal/sdk-knowledge/native/react-native.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

📝 docs(workflow): Act on RN-run feedback — refresh path, ESCALATE convention, review overlap
  .claude/agents/guide-writer.md
  .claude/commands/author-guide.md
  .claude/commands/refresh-docs.md
  .claude/commands/review-guide.md
  .github/workflows/main-pipeline.yaml
  scripts/validate-sdk-knowledge.ts
  skills/optimization-guide-authoring/SKILL.md
Due: eslint --fix, prettier --check --write

🧹 chore(sdk-knowledge): Mode-neutral verified line + widen shared/ scope beyond web
  documentation/internal/sdk-knowledge/_template.md
  documentation/internal/sdk-knowledge/native/react-native.md
  documentation/internal/sdk-knowledge/node/node.md
  documentation/internal/sdk-knowledge/shared/concepts.md
  documentation/internal/sdk-knowledge/shared/vocabulary.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/nextjs-pages-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
Due: prettier --check --write

♻️ refactor(skills): Split guide facts into interface (read from types) vs behavior (from KB)
  .claude/agents/guide-source-verifier.md
  .claude/agents/guide-writer.md
  .claude/agents/sdk-knowledge-author.md
  .claude/commands/author-guide.md
  .claude/commands/review-guide.md
  skills/guide-source-verification/SKILL.md
  skills/optimization-guide-authoring/SKILL.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
  skills/sdk-knowledge-authoring/SKILL.md
  skills/sdk-knowledge-maintenance/SKILL.md
Due: prettier --check --write

✨ feat(authoring): Add writer-owned recipe/fragment composition layer
  documentation/authoring/README.md
  documentation/authoring/fragments/authored-variant-gotcha.md
  documentation/authoring/fragments/personalization-explainer.md
  documentation/authoring/recipes/decision.md
  documentation/authoring/recipes/integration.md
  documentation/authoring/recipes/supplemental-recipe.md
Due: prettier --check --write

♻️ refactor(skills): Repoint guide pipeline at recipes; migrate structure out of the skill
  .claude/agents/guide-writer.md
  .claude/commands/author-guide.md
  .claude/commands/review-guide.md
  documentation/guides/AGENTS.md
  skills/optimization-guide-authoring/SKILL.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
  skills/optimization-guide-authoring/references/before-you-start.md
  skills/optimization-guide-authoring/references/decision-and-recipe-templates.md
  skills/optimization-guide-authoring/references/integration-guide-template.md
Due: prettier --check --write
