Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

stateful-stateless
  platforms/javascript/core/src/analytics/AnalyticsBase.ts
  platforms/javascript/core/src/analytics/AnalyticsStateful.ts
  platforms/javascript/core/src/analytics/AnalyticsStateless.ts
  platforms/javascript/core/src/analytics/utils.ts
Due: eslint --fix, prettier --check --write

unify class into one
  platforms/javascript/core/src/CoreBase.ts
  platforms/javascript/core/src/CoreStateful.ts
  platforms/javascript/core/src/CoreStateless.ts
  platforms/javascript/core/src/analytics/Analytics.ts
  platforms/javascript/core/src/analytics/AnalyticsStateful.ts
  platforms/javascript/core/src/analytics/AnalyticsStateless.ts
  platforms/javascript/core/src/analytics/EventHandler.ts
  platforms/javascript/core/src/analytics/index.ts
  platforms/javascript/core/src/analytics/utils.ts
Due: eslint --fix, prettier --check --write

minor fixes
  platforms/javascript/core/src/analytics/Analytics.ts
  platforms/javascript/core/src/analytics/EventHandler.ts
Due: eslint --fix, prettier --check --write

fix test case
  platforms/javascript/core/src/CoreBase.test.ts
Due: eslint --fix, prettier --check --write

🐞 fix(e2e): Fixing issues with .env requirement
  .github/workflows/main-pipeline.yaml
  implementations/node/.env.example
  implementations/node/package.json
  implementations/node/src/app.ts
  implementations/web-vanilla/.env.example
  implementations/web-vanilla/nginx/templates/default.conf.template
  implementations/web-vanilla/public/index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

🐞 fix(e2e): Fixing issues with .env requirement (#37)
  .github/workflows/main-pipeline.yaml
  implementations/node/.env.example
  implementations/node/package.json
  implementations/node/src/app.ts
  implementations/web-vanilla/.env.example
  implementations/web-vanilla/nginx/templates/default.conf.template
  implementations/web-vanilla/public/index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

[NT-1689] Initial react native platform target added with basic implementation
  .gitignore
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/builders/EventBuilder.ts
  platforms/javascript/react-native/src/components/OptimizationProvider.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
  platforms/javascript/react-native/tsconfig.cjs.json
  platforms/javascript/react-native/tsconfig.esm.json
  platforms/javascript/react-native/tsconfig.json
  platforms/javascript/react-native/vitest.config.ts
Due: eslint --fix, prettier --check --write

[NT-1689] Add React Native path mapping to base tsconfig. Enables TypeScript resolution for @contentful/optimization-react-native package.
  tsconfig.base.json
Due: prettier --check --write

[NT-1689] Update pnpm lockfile with React Native dependencies. Adds React Native, AsyncStorage, and related packages.
  pnpm-lock.yaml
Due: prettier --check --write

[NT-1691] Update .gitignore to exclude package-lock for RN
  .gitignore
Due: none

[NT-1691] Update app.tsx to show successful optimization, update naming and vars in rn library code, remove node version def from pnpm-workspace.
  implementations/react-native/App.tsx
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/components/OptimizationProvider.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

[NT-1691] Add detox and basic test case to verify test functionality
  implementations/react-native/.detoxrc.js
  implementations/react-native/App.tsx
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/android/app/build.gradle
  implementations/react-native/android/app/src/androidTest/java/com/reactnativeapp/DetoxTest.java
  implementations/react-native/android/build.gradle
  implementations/react-native/android/gradle/wrapper/gradle-wrapper.properties
  implementations/react-native/e2e/app.test.js
  implementations/react-native/e2e/jest.config.js
  implementations/react-native/ios/Podfile.lock
  implementations/react-native/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

🐞 fix(react-native): Removing `AbortController.abort` reason arg for RN compat
  platforms/javascript/api-client/src/fetch/createRetryFetchMethod.test.ts
  platforms/javascript/api-client/src/fetch/createRetryFetchMethod.ts
Due: eslint --fix, prettier --check --write

🐞 fix(react-native): Removing `AbortController.abort` reason arg for RN compat (#43)
  platforms/javascript/api-client/src/fetch/createRetryFetchMethod.test.ts
  platforms/javascript/api-client/src/fetch/createRetryFetchMethod.ts
Due: eslint --fix, prettier --check --write

[NT-1689] Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --check --write

[NT-1689] Variant -> personalization naming update in asyncstoragestore
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
Due: eslint --fix, prettier --check --write

[NT-1689] Remove console.error
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
Due: eslint --fix, prettier --check --write

[NT-1689] Remove built files pattern in gitignore
  .gitignore
Due: none

[NT-1689] Add minimal test suite for react-native target so pnpm test:unit will pass for the workspace
  platforms/javascript/react-native/src/index.test.ts
  platforms/javascript/react-native/vitest.config.ts
Due: eslint --fix, prettier --check --write

[NT-1689] Setup RN package and plumbing (#40)
  .gitignore
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/builders/EventBuilder.ts
  platforms/javascript/react-native/src/components/OptimizationProvider.tsx
  platforms/javascript/react-native/src/index.test.ts
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
  platforms/javascript/react-native/tsconfig.cjs.json
  platforms/javascript/react-native/tsconfig.esm.json
  platforms/javascript/react-native/tsconfig.json
  platforms/javascript/react-native/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: eslint --fix, prettier --check --write

[NT-1691] Update lockfile
  pnpm-lock.yaml
Due: prettier --check --write

[NT-1691] Fix lint, update tsconfig to extend base
  implementations/react-native/App.tsx
  implementations/react-native/tsconfig.json
Due: eslint --fix, prettier --check --write

[NT-1691] Don't use organize-imports plugin to avoid removing type annotations
  implementations/react-native/.prettierrc.js
Due: eslint --fix, prettier --check --write

[NT-1691] Replace console with logger in AsyncStorageStore
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
Due: eslint --fix, prettier --check --write
