Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

fix(repo): address managed entry review findings
  documentation/guides/choosing-the-right-sdk.md
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStatelessRequest.ts
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.tsx
  packages/web/web-sdk/README.md
Due: eslint --fix, prettier --check --write

chore(ci): more attempted improvements to Bito
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  .bito/guidelines/typescript-review-evidence.txt
  AGENTS.md
Due: prettier --check --write

chore(ci): more attempted improvements to Bito (#421)
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  .bito/guidelines/typescript-review-evidence.txt
  AGENTS.md
Due: prettier --check --write

chore(repo): release packages for main
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/node/node-sdk/CHANGELOG.md
  packages/node/node-sdk/package.json
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
  packages/universal/api-client/CHANGELOG.md
  packages/universal/api-client/package.json
  packages/universal/api-schemas/CHANGELOG.md
  packages/universal/api-schemas/package.json
  packages/universal/core-sdk/CHANGELOG.md
  packages/universal/core-sdk/package.json
  packages/web/frameworks/nextjs-sdk/CHANGELOG.md
  packages/web/frameworks/nextjs-sdk/package.json
  packages/web/frameworks/react-web-sdk/CHANGELOG.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/CHANGELOG.md
  packages/web/preview-panel/package.json
  packages/web/web-sdk/CHANGELOG.md
  packages/web/web-sdk/package.json
Due: prettier --check --write

feat(nextjs): modernize App Router bindings and request flow
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/optimization-handoff-and-cache-safe-rendering.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(request)/RequestRouteShell.tsx
  implementations/nextjs-sdk_app-router/app/(request)/hidden-until-ready/page.tsx
  implementations/nextjs-sdk_app-router/app/(request)/layout.tsx
  implementations/nextjs-sdk_app-router/app/(request)/page-two/page.tsx
  implementations/nextjs-sdk_app-router/app/(request)/page.tsx
  implementations/nextjs-sdk_app-router/app/(static)/selection-handoff/[segment]/layout.tsx
  implementations/nextjs-sdk_app-router/app/(static)/selection-handoff/[segment]/page.tsx
  implementations/nextjs-sdk_app-router/app/(static)/static-shell-private-slot/PrivateRequestSlot.tsx
  implementations/nextjs-sdk_app-router/components/EntryCard.tsx
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  implementations/nextjs-sdk_app-router/lib/request-handoff.ts
  lib/e2e-web/e2e/handoff.spec.ts
  packages/web/frameworks/nextjs-sdk/AGENTS.md
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/package.json
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-client.ts
  packages/web/frameworks/nextjs-sdk/src/app-router-request-runtime.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/package.test.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
Due: eslint --fix, prettier --check --write

fix(nextjs): overlap App Router request and content loading
  AGENTS.md
  documentation/authoring/blueprints/nextjs-app-router.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(request)/layout.tsx
  implementations/nextjs-sdk_app-router/app/(static)/static-shell-private-slot/PrivateRequestSlot.tsx
  implementations/nextjs-sdk_app-router/app/(static)/static-shell-private-slot/page.tsx
  implementations/nextjs-sdk_app-router/components/AppShell.tsx
  implementations/nextjs-sdk_app-router/components/EntryCard.tsx
  implementations/nextjs-sdk_app-router/lib/contentful.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  implementations/nextjs-sdk_app-router/proxy.ts
  lib/e2e-web/e2e/handoff.spec.ts
  lib/mocks/AGENTS.md
  lib/mocks/src/contentful-handlers.test.ts
  lib/mocks/src/contentful-handlers.ts
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-request-runtime.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.tsx
Due: eslint --fix, prettier --check --write

fix(nextjs): fixing agentic review findings
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  .bito/guidelines/typescript-review-evidence.txt
  .github/workflows/main-pipeline.yaml
  CONTRIBUTING.md
  documentation/authoring/migration-blueprints/experience-js-nextjs-app-router.md
  documentation/guides/choosing-a-nextjs-migration-path-from-experience-js.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/migrating-experience-js-next-to-nextjs-app-router.md
  documentation/internal/migration-knowledge/experience-js.md
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  lib/e2e-web/e2e/handoff.spec.ts
  lib/mocks/src/contentful-handlers.test.ts
Due: eslint --fix, prettier --check --write

chore(repo): release packages for main (#397)
  .release-please-manifest.json
  packages/android/ContentfulOptimization/CHANGELOG.md
  packages/android/ContentfulOptimization/VERSION
  packages/ios/ContentfulOptimization/CHANGELOG.md
  packages/ios/ContentfulOptimization/VERSION
  packages/node/node-sdk/CHANGELOG.md
  packages/node/node-sdk/package.json
  packages/react-native-sdk/CHANGELOG.md
  packages/react-native-sdk/package.json
  packages/universal/api-client/CHANGELOG.md
  packages/universal/api-client/package.json
  packages/universal/api-schemas/CHANGELOG.md
  packages/universal/api-schemas/package.json
  packages/universal/core-sdk/CHANGELOG.md
  packages/universal/core-sdk/package.json
  packages/web/frameworks/nextjs-sdk/CHANGELOG.md
  packages/web/frameworks/nextjs-sdk/package.json
  packages/web/frameworks/react-web-sdk/CHANGELOG.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/CHANGELOG.md
  packages/web/preview-panel/package.json
  packages/web/web-sdk/CHANGELOG.md
  packages/web/web-sdk/package.json
Due: prettier --check --write

docs(docs): remove macOS support claims from Mobile SDK docs (NT-3897)
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
Due: prettier --check --write

docs(docs): remove macOS support claims from Mobile SDK docs (NT-3897) (#428)
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/internal/sdk-knowledge/native/ios.md
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
Due: prettier --check --write

test(web): reproduce event loss scenarios (NT-3965)
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/web/web-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/entry-tracking/events/hover/createEntryHoverDetector.test.ts
  packages/web/web-sdk/src/entry-tracking/events/view/createEntryViewDetector.test.ts
Due: eslint --fix, prettier --check --write

docs(docs): close Android happy-path gaps found validating NT-3953
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
Due: prettier --check --write

docs(docs): close Android happy-path gaps found validating NT-3953 (#431)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
Due: prettier --check --write

docs(docs): close iOS happy-path gaps found validating NT-3952
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

docs(docs): close iOS happy-path gaps found validating NT-3952 (#432)
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

docs(docs): close React Native happy-path gaps found validating NT-3951
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
Due: prettier --check --write

docs(docs): close React Native happy-path gaps found validating NT-3951 (#433)
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
Due: prettier --check --write

test(test): close mobile SDK coverage gaps found validating NT-3955
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
  lib/mocks/src/experience-handlers.cross-platform.test.ts
Due: eslint --fix, prettier --check --write

fix(test): wait for entry-specific event before scrolling in NT-3955 flow
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
Due: prettier --check --write

fix(test): gate NT-3955 flow on events-count >= 2, not a nonexistent tag
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
Due: prettier --check --write

fix(test): tolerate mid-scroll stats rebuild in NT-3955 Views flow
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
Due: prettier --check --write

fix(android): wait out entry dwell threshold before scrolling in merge-tag flow
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
Due: prettier --check --write

test(android): widen fixed delay margin for merge-tag entry view flow
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
Due: prettier --check --write

test(test): close mobile SDK coverage gaps found validating NT-3955 (#436)
  implementations/android-sdk/maestro/entry-view-tracking/emits-view-event-for-merge-tag-entry.yaml
  lib/mocks/src/experience-handlers.cross-platform.test.ts
Due: eslint --fix, prettier --check --write

docs(docs): close Android guides accuracy and reader-experience gaps (NT-3944)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

docs(docs): warn that Android StorageDefaults overrides consent every launch
  packages/android/README.md
Due: prettier --check --write

docs(docs): close Android guides accuracy and reader-experience gaps (NT-3944) (#437)
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/internal/sdk-knowledge/native/android.md
  packages/android/README.md
  skills/optimization-guide-authoring/references/authoring-checklist.md
Due: prettier --check --write

chore(repo): prepare personalization flicker work
  .bito/guidelines/review-posture.txt
  AGENTS.md
  commitlint.config.ts
  implementations/AGENTS.md
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router_edge-runtime/AGENTS.md
  implementations/nextjs-sdk_pages-router/AGENTS.md
  implementations/node-sdk+web-sdk/AGENTS.md
  implementations/react-web-sdk/AGENTS.md
  implementations/web-sdk/AGENTS.md
  implementations/web-sdk_angular/AGENTS.md
  implementations/web-sdk_react/AGENTS.md
  lib/e2e-web/AGENTS.md
  lib/e2e-web/tsconfig.json
  lib/mocks/AGENTS.md
  package.json
  packages/AGENTS.md
  packages/web/AGENTS.md
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/web-sdk/AGENTS.md
Due: eslint --fix, prettier --check --write

chore(publish): install licenseplist for Swift releases
  .github/workflows/publish-spm.yaml
Due: prettier --check --write

chore(repo): tighten Bito review evidence gates
  .bito/guidelines/review-posture.txt
Due: none

chore(repo): prepare personalization flicker work (#438)
  .bito/guidelines/review-posture.txt
  .github/workflows/publish-spm.yaml
  AGENTS.md
  commitlint.config.ts
  implementations/AGENTS.md
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router_edge-runtime/AGENTS.md
  implementations/nextjs-sdk_pages-router/AGENTS.md
  implementations/node-sdk+web-sdk/AGENTS.md
  implementations/react-web-sdk/AGENTS.md
  implementations/web-sdk/AGENTS.md
  implementations/web-sdk_angular/AGENTS.md
  implementations/web-sdk_react/AGENTS.md
  lib/e2e-web/AGENTS.md
  lib/e2e-web/tsconfig.json
  lib/mocks/AGENTS.md
  package.json
  packages/AGENTS.md
  packages/web/AGENTS.md
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/web-sdk/AGENTS.md
Due: eslint --fix, prettier --check --write

feat(publish): graduate mobile SDKs to stable
  release-please-config.json
Due: prettier --check --write

docs(docs): remove beta wording from mobile SDK docs (NT-3898)
  CONTRIBUTING.md
  README.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/internal/sdk-knowledge/native/android.md
  documentation/internal/sdk-knowledge/native/ios.md
  implementations/AGENTS.md
  implementations/android-sdk/README.md
  implementations/ios-sdk/README.md
  implementations/react-native-sdk/README.md
  packages/AGENTS.md
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/README.md
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
  packages/ios/README.md
  packages/react-native-sdk/README.md
Due: prettier --check --write

feat(publish): graduate mobile SDKs to stable (#440)
  CONTRIBUTING.md
  README.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/internal/sdk-knowledge/native/android.md
  documentation/internal/sdk-knowledge/native/ios.md
  implementations/AGENTS.md
  implementations/android-sdk/README.md
  implementations/ios-sdk/README.md
  implementations/react-native-sdk/README.md
  packages/AGENTS.md
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/README.md
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
  packages/ios/README.md
  packages/react-native-sdk/README.md
  release-please-config.json
Due: prettier --check --write

docs(docs): correct iOS guide consent semantics and UIKit fetch flow [NT-3943]
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
