Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

logger
  pnpm-lock.yaml
  universal/api-client/package.json
  universal/core/package.json
Due: prettier --check --write

version
  platforms/javascript/node/src/version.ts
  platforms/javascript/react-native/src/version.ts
  platforms/javascript/web/src/version.ts
Due: eslint --fix, prettier --check --write

fix
  .github/workflows/publish-packages.yml
  test-release.sh
Due: prettier --check --write

fix: resolve logger with ts path
  pnpm-lock.yaml
  universal/api-client/package.json
  universal/api-client/tsconfig.json
  universal/core/package.json
  universal/core/tsconfig.json
Due: prettier --check --write

publish folder
  platforms/javascript/node/package.json
  platforms/javascript/react-native/package.json
  platforms/javascript/web/package.json
  pnpm-lock.yaml
  test-release.sh
  universal/api-client/package.json
  universal/api-schemas/package.json
  universal/core/package.json
Due: prettier --check --write

resolve lib/mocks with tsconfig
  pnpm-lock.yaml
  universal/api-client/package.json
  universal/api-client/tsconfig.json
  universal/core/package.json
  universal/core/tsconfig.json
Due: prettier --check --write

type check
  pnpm-lock.yaml
  tsconfig.base.json
  universal/core/package.json
Due: prettier --check --write

lock
  pnpm-lock.yaml
Due: prettier --check --write

typecheck
  implementations/node-ssr-only/tsconfig.json
  implementations/node-ssr-web-vanilla/tsconfig.json
  implementations/web-vanilla/tsconfig.json
Due: prettier --check --write

publicCOnfig
  platforms/javascript/node/package.json
  platforms/javascript/react-native/package.json
  platforms/javascript/web/package.json
  universal/api-client/package.json
  universal/api-schemas/package.json
  universal/core/package.json
Due: prettier --check --write

fix react native
  platforms/javascript/react-native/tsconfig.cjs.json
  platforms/javascript/react-native/tsconfig.esm.json
  universal/api-client/tsconfig.cjs.json
  universal/api-client/tsconfig.esm.json
  universal/api-schemas/tsconfig.cjs.json
  universal/api-schemas/tsconfig.esm.json
  universal/core/tsconfig.cjs.json
  universal/core/tsconfig.esm.json
Due: prettier --check --write

fix native
  platforms/javascript/node/tsconfig.cjs.json
  platforms/javascript/node/tsconfig.esm.json
  platforms/javascript/react-native/package.json
Due: prettier --check --write

typecheck
  implementations/react-native/tsconfig.json
Due: prettier --check --write

format
  universal/core/tsconfig.cjs.json
  universal/core/tsconfig.esm.json
Due: prettier --check --write

delete unused
  universal/api-client/tsconfig.cjs.json
  universal/api-client/tsconfig.esm.json
  universal/api-schemas/tsconfig.cjs.json
  universal/api-schemas/tsconfig.esm.json
  universal/core/tsconfig.cjs.json
  universal/core/tsconfig.esm.json
Due: prettier --check --write

version
  .github/workflows/publish-packages.yml
Due: prettier --check --write

fix
  test-release.sh
Due: none

Update log location to be part of logger functionality
  implementations/react-native/components/RichTextRenderer.tsx
  implementations/react-native/utils/sdkHelpers.ts
  lib/logger/src/Logger.test.ts
  lib/logger/src/Logger.ts
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.tsx
  platforms/javascript/react-native/src/components/OptimizationProvider.tsx
  platforms/javascript/react-native/src/context/ScrollContext.tsx
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.ts
  platforms/javascript/react-native/src/hooks/useScreenTracking.ts
  platforms/javascript/react-native/src/hooks/useViewportTracking.ts
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/hooks/useContentfulEntries.ts
  platforms/javascript/react-native/src/preview/hooks/usePreviewState.ts
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
  platforms/javascript/react-native/src/preview/utils/contentfulUtils.ts
  platforms/javascript/react-native/src/storage/AsyncStorageStore.ts
  platforms/javascript/web/src/AutoEntryViewTracking.ts
  platforms/javascript/web/src/Optimization.ts
  platforms/javascript/web/src/builders/EventBuilder.ts
  platforms/javascript/web/src/handlers/createOnlineChangeListener.ts
  platforms/javascript/web/src/handlers/createVisibilityChangeListener.ts
  universal/api-client/src/ApiClientBase.ts
  universal/api-client/src/experience/ExperienceApiClient.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.ts
  universal/api-client/src/fetch/createRetryFetchMethod.ts
  universal/api-client/src/fetch/createTimeoutFetchMethod.ts
  universal/api-client/src/insights/InsightsApiClient.ts
  universal/core/src/analytics/AnalyticsStateful.ts
  universal/core/src/analytics/AnalyticsStateless.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.ts
Due: eslint --fix, prettier --check --write

Update tests to pass with new logger method signature
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.test.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.test.ts
  universal/api-client/src/ApiClientBase.test.ts
  universal/api-client/src/experience/ExperienceApiClient.test.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.test.ts
  universal/api-client/src/fetch/createRetryFetchMethod.test.ts
  universal/api-client/src/insights/InsightsApiClient.test.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.test.ts
Due: eslint --fix, prettier --check --write

tsup setup
  platforms/javascript/node/package.json
  platforms/javascript/node/tsup.config.ts
Due: eslint --fix, prettier --check --write

"extends": "./tsconfig.json",
  platforms/javascript/node/tsconfig.cjs.json
  platforms/javascript/node/tsconfig.esm.json
  platforms/javascript/node/tsconfig.json
Due: prettier --check --write

Unify mocked logger into single file
  lib/mocks/src/loggerMock.ts
  universal/api-client/src/ApiClientBase.test.ts
  universal/api-client/src/experience/ExperienceApiClient.test.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.test.ts
  universal/api-client/src/fetch/createRetryFetchMethod.test.ts
  universal/api-client/src/fetch/createTimeoutFetchMethod.test.ts
  universal/api-client/src/insights/InsightsApiClient.test.ts
  universal/api-client/src/test/mockLogger.ts
  universal/api-client/src/test/setup.ts
Due: eslint --fix, prettier --check --write

Update logger to assemble prefix parts using assembleLocationPrefix function
  lib/logger/src/Logger.ts
Due: eslint --fix, prettier --check --write

Delete redundant mockLogger files, update mocks to export a single loggerMock file and use that across the test files.
  lib/mocks/package.json
  lib/mocks/src/loggerMock.ts
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.test.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.test.ts
  platforms/javascript/react-native/vitest.config.ts
  pnpm-lock.yaml
  universal/api-client/src/ApiClientBase.test.ts
  universal/api-client/src/experience/ExperienceApiClient.test.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.test.ts
  universal/api-client/src/fetch/createRetryFetchMethod.test.ts
  universal/api-client/src/fetch/createTimeoutFetchMethod.test.ts
  universal/api-client/src/insights/InsightsApiClient.test.ts
  universal/api-client/src/test/mockLogger.ts
  universal/api-client/src/test/setup.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.test.ts
  universal/core/src/test/setup.ts
Due: eslint --fix, prettier --check --write

Pass error instance in to logger where it's available
  implementations/react-native/utils/sdkHelpers.ts
  platforms/javascript/react-native/src/hooks/useScreenTracking.ts
  platforms/javascript/react-native/src/preview/hooks/useContentfulEntries.ts
  platforms/javascript/web/src/handlers/createVisibilityChangeListener.ts
  universal/api-client/src/ApiClientBase.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.ts
  universal/api-client/src/fetch/createRetryFetchMethod.ts
  universal/api-client/src/fetch/createTimeoutFetchMethod.ts
Due: eslint --fix, prettier --check --write

Update tests to check for new error object format when logging error
  universal/api-client/src/ApiClientBase.test.ts
  universal/api-client/src/fetch/createProtectedFetchMethod.test.ts
  universal/api-client/src/fetch/createRetryFetchMethod.test.ts
Due: eslint --fix, prettier --check --write

🤖 chore(publish): Making manual publishing use `main` for pre-publish testing
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

🤖 chore(publish): Making manual publishing use `main` for pre-publish testing (#128)
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

🤖 chore(publish): Updating workflow to use vault tokens
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

🤖 chore(publish): Attempting to get values from the vault
  .contentful/vault-secrets.yaml
Due: prettier --check --write

🤖 chore(publish): Possible typo in vault config
  .contentful/vault-secrets.yaml
Due: prettier --check --write

🤖 chore(publish): Updating workflow permissions
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

🤖 chore(publish): Updating order of operations
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

🤖 chore(publish): Working out the kinks
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
