Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

[NT-1910] Increase disk space for android emulator
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Update server.ts to use use PORT variable to build urls
  lib/mocks/src/server.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Rename package to standard @implementation/react-native and update pipeline to use --filtered pnpm command
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Use pnpm --filter @implementation/xxx exec instead of pnpx
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Change android api level from 34 to 33 for stability, enable KVM hardware accelleration to reduce boot time, use ubuntu 22.04
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Remove duplicate react-native-dotenv in package, don't distinguish platform when clearing profile state
  implementations/react-native/e2e/helpers.js
  implementations/react-native/package.json
Due: eslint --fix, prettier --check --write

[NT-1910] Add documentation to script and to E2E-TESTING.md that describes how to ues the one shot android e2e script
  implementations/react-native/E2E-TESTING.md
Due: prettier --check --write

[NT-1910] Fix type declarations in react native implementation
  implementations/react-native/types/env.d.ts
Due: eslint --fix, prettier --check --write

implementations/react-native/package.json[NT-1910] Add script for running e2e on android using script, update docs for that
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/package.json
Due: prettier --check --write

[NT-1910] Delete .nvmrc
  .nvmrc
Due: none

[NT-1910] Update scripts to use consistent naming
  .github/workflows/main-pipeline.yaml
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/package.json
Due: prettier --check --write

[NT-2010] Add NestedPersonalization component and export from react-native package
  platforms/javascript/react-native/src/components/NestedPersonalization.tsx
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Update e2e testing doc to use root pnpm build/test command
  implementations/react-native/E2E-TESTING.md
Due: prettier --check --write

[NT-2010] Add nested personalization support to React Native implementation app
  implementations/react-native/App.tsx
  implementations/react-native/env.config.ts
  implementations/react-native/package.json
  implementations/react-native/scripts/run-e2e-android.sh
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/sections/NestedContentEntry.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Use resolved content entry rather than base entry, update e2e tests
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/sections/NestedContentEntry.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Add E2E tests for nested personalization variants
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
Due: eslint --fix, prettier --check --write

[NT-2010] Fix lint and test for unidentified user variant
  platforms/javascript/react-native/src/components/NestedPersonalization.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Restore .nvmrc
  .nvmrc
Due: none

[NT-2010] Increase timeout for analytics test as a test
  implementations/react-native/e2e/analytics.test.js
Due: eslint --fix, prettier --check --write

[NT-1910] Update scripts to use consistent naming
  implementations/react-native/package.json
  implementations/react-native/scripts/run-e2e-android.sh
Due: prettier --check --write

[NT-2010] Use label instead of regex for analytics matching
  implementations/react-native/e2e/analytics.test.js
Due: eslint --fix, prettier --check --write

[NT-2010] Allow Personalization components to be nested, remove NestedPersonalization test component
  platforms/javascript/react-native/src/components/NestedPersonalization.tsx
  platforms/javascript/react-native/src/components/Personalization.tsx
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

[NT-2010] Update nestedcontententry to use default component
  implementations/react-native/sections/NestedContentEntry.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Fis issue with flex size on App
  implementations/react-native/App.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Remove styles from implementation
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/sections/NestedContentEntry.tsx
Due: eslint --fix, prettier --check --write

[NT-2010] Add 120 second wait time to element visibility tests
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
  implementations/react-native/e2e/helpers.js
Due: eslint --fix, prettier --check --write

📘 docs(node): Adding documentation for the Node SDK and its implementations
  implementations/node-esr/.env.example
  implementations/node-esr/README.md
  implementations/node-ssr/.env.example
  implementations/node-ssr/README.md
  implementations/web-vanilla/.env.example
  lib/logger/README.md
  lib/mocks/README.md
  lib/mocks/package.json
  platforms/javascript/node/.env.example
  platforms/javascript/node/README.md
  platforms/javascript/node/src/Optimization.ts
  platforms/javascript/node/src/global-constants.ts
  platforms/javascript/web/.env.example
  universal/core/README.md
  universal/core/src/CoreStateless.ts
  universal/core/src/global-constants.ts
Due: eslint --fix, prettier --check --write

📘 docs(node): Adding documentation for the Node SDK and its implementations (#95)
  implementations/node-esr/.env.example
  implementations/node-esr/README.md
  implementations/node-ssr/.env.example
  implementations/node-ssr/README.md
  implementations/web-vanilla/.env.example
  lib/logger/README.md
  lib/mocks/README.md
  lib/mocks/package.json
  platforms/javascript/node/.env.example
  platforms/javascript/node/README.md
  platforms/javascript/node/src/Optimization.ts
  platforms/javascript/node/src/global-constants.ts
  platforms/javascript/web/.env.example
  universal/core/README.md
  universal/core/src/CoreStateless.ts
  universal/core/src/global-constants.ts
Due: eslint --fix, prettier --check --write

📘 docs(web): Adding documentation for the Web SDK and its implementation
  implementations/web-vanilla/README.md
  platforms/javascript/node/README.md
  platforms/javascript/web/README.md
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

📘 docs(web): Adding documentation for the Web SDK and its implementation (#98)
  implementations/web-vanilla/README.md
  platforms/javascript/node/README.md
  platforms/javascript/web/README.md
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

📘 docs(web): Adding some changes that were left out; also clarifying some items
  platforms/javascript/web/README.md
  platforms/javascript/web/src/AutoEntryViewTracking.ts
  platforms/javascript/web/src/Optimization.ts
  platforms/javascript/web/src/builders/EventBuilder.ts
  platforms/javascript/web/src/global-constants.ts
  platforms/javascript/web/src/handlers/beaconHandler.ts
  platforms/javascript/web/src/handlers/createVisibilityChangeListener.ts
  platforms/javascript/web/src/observers/ElementExistenceObserver.ts
  platforms/javascript/web/src/observers/ElementView.ts
  platforms/javascript/web/src/observers/ElementViewObserver.ts
  platforms/javascript/web/src/storage/LocalStore.ts
Due: eslint --fix, prettier --check --write

📘 docs(web): Adding some changes that were left out; also clarifying some items (#99)
  platforms/javascript/web/README.md
  platforms/javascript/web/src/AutoEntryViewTracking.ts
  platforms/javascript/web/src/Optimization.ts
  platforms/javascript/web/src/builders/EventBuilder.ts
  platforms/javascript/web/src/global-constants.ts
  platforms/javascript/web/src/handlers/beaconHandler.ts
  platforms/javascript/web/src/handlers/createVisibilityChangeListener.ts
  platforms/javascript/web/src/observers/ElementExistenceObserver.ts
  platforms/javascript/web/src/observers/ElementView.ts
  platforms/javascript/web/src/observers/ElementViewObserver.ts
  platforms/javascript/web/src/storage/LocalStore.ts
Due: eslint --fix, prettier --check --write

🐞 fix(variant resolver): Using `fields.nt_experience.id` in variant resolution
  package.json
  pnpm-workspace.yaml
  universal/api-schemas/src/contentful/PersonalizationEntry.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.test.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.test.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.ts
  universal/core/src/test/fixtures/mergeTagEntry.ts
  universal/core/src/test/fixtures/personalizedEntry.ts
  universal/core/src/test/fixtures/profile.ts
  universal/core/src/test/fixtures/selectedPersonalizations.ts
Due: eslint --fix, prettier --check --write

🐞 fix(variant resolver): Using `fields.nt_experience.id` in variant resolution (#100)
  package.json
  pnpm-workspace.yaml
  universal/api-schemas/src/contentful/PersonalizationEntry.ts
  universal/core/src/personalization/resolvers/MergeTagValueResolver.test.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.test.ts
  universal/core/src/personalization/resolvers/PersonalizedEntryResolver.ts
  universal/core/src/test/fixtures/mergeTagEntry.ts
  universal/core/src/test/fixtures/personalizedEntry.ts
  universal/core/src/test/fixtures/profile.ts
  universal/core/src/test/fixtures/selectedPersonalizations.ts
Due: eslint --fix, prettier --check --write

[NT-2010] Install pulseaudio due to changes on Ubuntu 24.04
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-2010] Update network settings for dns and port mapping
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
Due: eslint --fix, prettier --check --write

NT-1769: node-esr implementation
  implementations/node-esr/e2e/displays-identified-user-variants.spec.ts
  implementations/node-esr/e2e/displays-unidentified-user-variants.spec.ts
  implementations/node-esr/e2e/example.spec.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
