Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Revert "[StepSecurity] Apply security best practices (#240)"
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

Migrating away from dependabot in favor of renovate
  .github/dependabot.yml
  CODEOWNERS
  renovate.json
Due: prettier --check --write

Migrating away from dependabot in favor of renovate (#248)
  .github/dependabot.yml
  CODEOWNERS
  renovate.json
Due: prettier --check --write

Revert "[StepSecurity] Apply security best practices (#240)" (#245)
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-npm.yaml
Due: prettier --check --write

[NT-2874] Dedupe preview-sdk Contentful field types by importing AudienceEntryFields, OptimizationEntryFields, OptimizationConfig, and OptimizationType from optimization-api-schemas.
  packages/universal/preview-sdk/src/definitions.ts
  packages/universal/preview-sdk/src/entryMappers.ts
Due: eslint --fix, prettier --check --write

Explicitly exclude md files in rstest.config
  packages/universal/core-sdk/rstest.config.ts
Due: eslint --fix, prettier --check --write

📘 docs(guides): Reorganizing guides; making them more consistent
  documentation/AGENTS.md
  documentation/README.md
  documentation/concepts/README.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/drafts/integrating-the-ios-sdk-fundamentals.md
  documentation/drafts/integrating-the-ios-sdk-in-a-swiftui-app.md
  documentation/drafts/integrating-the-ios-sdk-in-a-uikit-app.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

📘 docs(guides): Reorganizing guides; making them more consistent (#249)
  documentation/AGENTS.md
  documentation/README.md
  documentation/concepts/README.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/drafts/integrating-the-ios-sdk-fundamentals.md
  documentation/drafts/integrating-the-ios-sdk-in-a-swiftui-app.md
  documentation/drafts/integrating-the-ios-sdk-in-a-uikit-app.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

📘 docs(nav): Fixing TypeDoc warnings and linking issues
  .husky/pre-push
  README.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/react-native-sdk/README.md
  implementations/react-web-sdk/README.md
  implementations/web-sdk/README.md
  implementations/web-sdk_react/README.md
  package.json
  packages/node/node-sdk/README.md
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/README.md
  packages/universal/api-client/README.md
  packages/universal/api-schemas/README.md
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/preview-panel/README.md
  packages/web/web-sdk/README.md
  typedoc.json
Due: eslint --fix, prettier --check --write

📘 docs(nav): Fixing TypeDoc warnings and linking issues (#250)
  .husky/pre-push
  README.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/react-native-sdk/README.md
  implementations/react-web-sdk/README.md
  implementations/web-sdk/README.md
  implementations/web-sdk_react/README.md
  package.json
  packages/node/node-sdk/README.md
  packages/node/node-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/README.md
  packages/universal/api-client/README.md
  packages/universal/api-schemas/README.md
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreStateless.ts
  packages/universal/core-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/preview-panel/README.md
  packages/web/web-sdk/README.md
  typedoc.json
Due: eslint --fix, prettier --check --write

Restructure ios-sdk reference into swiftui/shared/uitests dirs and adopt xcodegen project.yml so the project regenerates deterministically and a UIKit shell can sit alongside SwiftUI.
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppSwiftUI.xcscheme
  implementations/ios-sdk/OptimizationApp.xcodeproj/xcshareddata/xcschemes/OptimizationAppUIKit.xcscheme
  implementations/ios-sdk/README.md
  implementations/ios-sdk/project.yml
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulFetcher.swift
  implementations/ios-sdk/shared/EventStore.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/swiftui/Components/AnalyticsEventDisplay.swift
  implementations/ios-sdk/swiftui/Components/ContentEntryView.swift
  implementations/ios-sdk/swiftui/Components/NestedContentEntryView.swift
  implementations/ios-sdk/swiftui/Info.plist
  implementations/ios-sdk/swiftui/Screens/LiveUpdatesTestScreen.swift
  implementations/ios-sdk/swiftui/Screens/MainScreen.swift
  implementations/ios-sdk/swiftui/Screens/NavigationTestScreen.swift
  implementations/ios-sdk/uikit/Info.plist
  implementations/ios-sdk/uitests/Support/TestHelpers.swift
  implementations/ios-sdk/uitests/Support/XCTestExtensions.swift
  implementations/ios-sdk/uitests/Tests/AnalyticsTests.swift
  implementations/ios-sdk/uitests/Tests/ExtendedViewTrackingTests.swift
  implementations/ios-sdk/uitests/Tests/FlagViewTrackingTests.swift
  implementations/ios-sdk/uitests/Tests/IdentifiedVariantsTests.swift
  implementations/ios-sdk/uitests/Tests/LiveUpdatesTests.swift
  implementations/ios-sdk/uitests/Tests/OfflineBehaviorTests.swift
  implementations/ios-sdk/uitests/Tests/PreviewPanelOverridesTests.swift
  implementations/ios-sdk/uitests/Tests/PreviewPanelTests.swift
  implementations/ios-sdk/uitests/Tests/ScreenTrackingTests.swift
  implementations/ios-sdk/uitests/Tests/TapTrackingTests.swift
  implementations/ios-sdk/uitests/Tests/UnidentifiedVariantsTests.swift
Due: prettier --check --write

Add UIKit reference shell home screen wired through OptimizedEntryUIView and ViewTrackingController, mirroring the SwiftUI MainScreen entry list, identify/reset, and analytics display.
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/uikit/AppDelegate.swift
  implementations/ios-sdk/uikit/Components/AnalyticsEventDisplayView.swift
  implementations/ios-sdk/uikit/Components/ContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/NestedContentEntryUIView.swift
  implementations/ios-sdk/uikit/Components/OptimizedEntryUIView.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
Due: none

Add UIKit Navigation Test screen with a UINavigationController stack and shared ScreenLog so the same back-swipe revisit assertions pass against the UIKit shell.
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
  implementations/ios-sdk/uikit/Screens/NavigationTestViewController.swift
Due: none

Add UIKit Live Updates Test screen with default/live/locked OptimizedEntryUIView sections that rebuild when the global toggle or simulated preview panel flips.
  implementations/ios-sdk/OptimizationApp.xcodeproj/project.pbxproj
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
  implementations/ios-sdk/uikit/Screens/MainViewController.swift
Due: none

Set the standard CFBundle keys in both Info.plists so the test runner can install each app on the simulator (CFBundleIdentifier was missing under GENERATE_INFOPLIST_FILE=NO).
  implementations/ios-sdk/swiftui/Info.plist
  implementations/ios-sdk/uikit/Info.plist
Due: none

Remove useless passthrough function
  implementations/ios-sdk/uikit/Screens/LiveUpdatesTestViewController.swift
Due: none

init nextjs app
  documentation/spike-nextjs-support.md
  implementations/react-web-sdk_nextjs/.gitignore
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/CLAUDE.md
  implementations/react-web-sdk_nextjs/README.md
  implementations/react-web-sdk_nextjs/app/favicon.ico
  implementations/react-web-sdk_nextjs/app/globals.css
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk_nextjs/eslint.config.mjs
  implementations/react-web-sdk_nextjs/next.config.ts
  implementations/react-web-sdk_nextjs/package.json
  implementations/react-web-sdk_nextjs/pnpm-workspace.yaml
  implementations/react-web-sdk_nextjs/postcss.config.mjs
  implementations/react-web-sdk_nextjs/public/file.svg
  implementations/react-web-sdk_nextjs/public/globe.svg
  implementations/react-web-sdk_nextjs/public/next.svg
  implementations/react-web-sdk_nextjs/public/vercel.svg
  implementations/react-web-sdk_nextjs/public/window.svg
  implementations/react-web-sdk_nextjs/tsconfig.json
  session-ses_22be.md
Due: eslint --fix, prettier --check --write

🚀 ci(slack): Adding Slack notification action
  .github/workflows/notify-slack.yml
Due: prettier --check --write

🚀 ci(slack): Adding Slack notification action (#253)
  .github/workflows/notify-slack.yml
Due: prettier --check --write

🚀 ci(slack): Fixing the mention of @Alex
  .github/workflows/notify-slack.yml
Due: prettier --check --write

🚀 ci(slack): Fixing the mention of @Alex (#254)
  .github/workflows/notify-slack.yml
Due: prettier --check --write

🚀 ci(slack): Don't reference Alex's ID directly
  .github/workflows/notify-slack.yml
Due: prettier --check --write

🚀 ci(slack): Don't reference Alex's ID directly (#255)
  .github/workflows/notify-slack.yml
Due: prettier --check --write

scaffold Next.js reference implementation with monorepo conventions
  implementations/react-web-sdk_nextjs/.env.example
  implementations/react-web-sdk_nextjs/.gitignore
  implementations/react-web-sdk_nextjs/.npmrc
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/CLAUDE.md
  implementations/react-web-sdk_nextjs/README.md
  implementations/react-web-sdk_nextjs/app/globals.css
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk_nextjs/next.config.ts
  implementations/react-web-sdk_nextjs/package.json
  implementations/react-web-sdk_nextjs/public/file.svg
  implementations/react-web-sdk_nextjs/public/globe.svg
  implementations/react-web-sdk_nextjs/public/next.svg
  implementations/react-web-sdk_nextjs/public/vercel.svg
  implementations/react-web-sdk_nextjs/public/window.svg
  implementations/react-web-sdk_nextjs/tsconfig.json
  package.json
Due: eslint --fix, prettier --check --write

feat: add client-side React SDK integration with OptimizationProvider and client-resolved demo
  implementations/react-web-sdk_nextjs/app/client-resolved/page.tsx
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/page.tsx
  implementations/react-web-sdk_nextjs/components/OptimizationProvider.tsx
  implementations/react-web-sdk_nextjs/config/entries.ts
  implementations/react-web-sdk_nextjs/lib/config.ts
  implementations/react-web-sdk_nextjs/lib/contentful-client.ts
  implementations/react-web-sdk_nextjs/types/contentful.ts
Due: eslint --fix, prettier --check --write

docs: comment OptimizationProvider mount to client to avoid SSR localStorage crash
  implementations/react-web-sdk_nextjs/components/OptimizationProvider.tsx
Due: eslint --fix, prettier --check --write

refactor: use next/dynamic with ssr:false for client-only SDK provider
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk_nextjs/components/OptimizationProvider.tsx
Due: eslint --fix, prettier --check --write

feat: add server-resolved pattern and isolate route SDK boundaries
  implementations/react-web-sdk_nextjs/app/client-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/client-resolved/page.tsx
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/InteractiveControls.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/page.tsx
  implementations/react-web-sdk_nextjs/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk_nextjs/components/OptimizationProvider.tsx
  implementations/react-web-sdk_nextjs/lib/optimization-server.ts
  implementations/react-web-sdk_nextjs/middleware.ts
Due: eslint --fix, prettier --check --write

docs: update README and AGENTS.md to reflect current architecture
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/README.md
Due: prettier --check --write

docs: document singleton conflict, customer setup context, and future direction
  implementations/react-web-sdk_nextjs/README.md
Due: prettier --check --write

feat: add react-web-sdk+node-sdk_nextjs SSR hybrid implementation
  implementations/react-web-sdk+node-sdk_nextjs/.env.example
  implementations/react-web-sdk+node-sdk_nextjs/.gitignore
  implementations/react-web-sdk+node-sdk_nextjs/.npmrc
  implementations/react-web-sdk+node-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk+node-sdk_nextjs/README.md
  implementations/react-web-sdk+node-sdk_nextjs/app/globals.css
  implementations/react-web-sdk+node-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs/components/InteractiveControls.tsx
  implementations/react-web-sdk+node-sdk_nextjs/config/entries.ts
  implementations/react-web-sdk+node-sdk_nextjs/eslint.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs/lib/config.ts
  implementations/react-web-sdk+node-sdk_nextjs/lib/contentful-client.ts
  implementations/react-web-sdk+node-sdk_nextjs/lib/optimization-server.ts
  implementations/react-web-sdk+node-sdk_nextjs/middleware.ts
  implementations/react-web-sdk+node-sdk_nextjs/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs/package.json
  implementations/react-web-sdk+node-sdk_nextjs/pnpm-workspace.yaml
  implementations/react-web-sdk+node-sdk_nextjs/postcss.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs/tsconfig.json
  implementations/react-web-sdk+node-sdk_nextjs/types/contentful.ts
  package.json
Due: eslint --fix, prettier --check --write

chore: remove old react-web-sdk_nextjs combined implementation
  implementations/react-web-sdk_nextjs/.env.example
  implementations/react-web-sdk_nextjs/.gitignore
  implementations/react-web-sdk_nextjs/.npmrc
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/README.md
  implementations/react-web-sdk_nextjs/app/client-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/client-resolved/page.tsx
  implementations/react-web-sdk_nextjs/app/favicon.ico
  implementations/react-web-sdk_nextjs/app/globals.css
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/InteractiveControls.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/page.tsx
  implementations/react-web-sdk_nextjs/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk_nextjs/config/entries.ts
  implementations/react-web-sdk_nextjs/eslint.config.mjs
  implementations/react-web-sdk_nextjs/lib/config.ts
  implementations/react-web-sdk_nextjs/lib/contentful-client.ts
  implementations/react-web-sdk_nextjs/lib/optimization-server.ts
  implementations/react-web-sdk_nextjs/middleware.ts
  implementations/react-web-sdk_nextjs/next.config.ts
  implementations/react-web-sdk_nextjs/package.json
  implementations/react-web-sdk_nextjs/pnpm-workspace.yaml
  implementations/react-web-sdk_nextjs/postcss.config.mjs
  implementations/react-web-sdk_nextjs/tsconfig.json
  implementations/react-web-sdk_nextjs/types/contentful.ts
  package.json
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
