Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

[NT-1753] Update pnpm-lock.yml
  pnpm-lock.yaml
Due: prettier --check --write

[NT-1753] Make profile optional on RichTextRenderer reference implementation
  implementations/react-native/components/RichTextRenderer.tsx
Due: eslint --fix, prettier --check --write

[NT-1753] Remove more unneeded tests, remove timeout and jestExpect
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/personalization.test.js
Due: eslint --fix, prettier --check --write

[NT-1753] Remove trackingstatus and replace with basic view wrapping ext, update tests
  implementations/react-native/components/TrackingStatus.tsx
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/personalization.test.js
  implementations/react-native/sections/AnalyticsSection.tsx
  implementations/react-native/sections/PersonalizationSection.tsx
Due: eslint --fix, prettier --check --write

[NT-1753] Update env var example to be prefixed with VITE_
  implementations/react-native/.env.example
  platforms/javascript/react-native/dev/.env.example
  platforms/javascript/react-native/dev/env.config.ts
Due: eslint --fix, prettier --check --write

[NT-1753] Re-introduce VITE_ prefix into env example, use fetchEntry only, remove unneeded tests
  implementations/react-native/App.tsx
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/personalization.test.js
  implementations/react-native/env.config.ts
  implementations/react-native/env.d.ts
  implementations/react-native/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

[NT-1753] Fix remaining issues with newlines in test text
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
Due: eslint --fix, prettier --check --write

[NT-1753] Fix build issues
  implementations/react-native/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

[NT-1753] Simplify react-native implementation even further to match web-vanilla implementation. Refactor tests to only use text values rather than id test
  implementations/react-native/App.tsx
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/components/RichTextRenderer.tsx
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
  implementations/react-native/e2e/merge-tag.test.js
  implementations/react-native/e2e/personalization.test.js
  implementations/react-native/sections/AnalyticsSection.tsx
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/sections/MergeTagSection.tsx
  implementations/react-native/sections/PersonalizationSection.tsx
  implementations/react-native/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

[NT-1753] Remove styles from AnalyticsEventDisplay
  implementations/react-native/components/AnalyticsEventDisplay.tsx
Due: eslint --fix, prettier --check --write

[NT-1753] Update app to include button for identifying user, remove old includes logic from sdkHelpers
  implementations/react-native/App.tsx
  implementations/react-native/components/RichTextRenderer.tsx
  implementations/react-native/e2e/displays-identified-user-variants.test.js
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

chore: [] ignore npm scripts
  .npmrc
Due: none

chore: [] ignore npm scripts (#85)
  .npmrc
Due: none

chore: [] add copilot setup (PNPM)
  .github/workflows/copilot-setup-steps.yml
Due: prettier --check --write

[NT-1910] Update from main and reset previous changes onto branch
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
  implementations/react-native/.java-version
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/android/app/build.gradle
  implementations/react-native/android/build.gradle
  implementations/react-native/android/gradle.properties
  implementations/react-native/android/gradle/wrapper/gradle-wrapper.properties
  implementations/react-native/babel.config.js
  implementations/react-native/e2e/helpers.js
  implementations/react-native/package.json
  implementations/react-native/types/env.d.ts
  platforms/javascript/react-native/dev/env.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

[NT-1910] Configure android emulator with proper proxy config, upload metro logs, stop and start servers
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Configure with android local url, fix issue with init of optimization, don't specify java home in rc files as we configure that elsewhere
  implementations/react-native/.detoxrc.js
  implementations/react-native/android/gradle.properties
  implementations/react-native/env.config.ts
  implementations/react-native/utils/sdkHelpers.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Modify server.ts to not check for host and port when matching a handler, in order to support 10.0.2.2:8000 android internal localhost
  lib/mocks/src/server.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Add e2e android script to allow full run of e2e tests
  implementations/react-native/scripts/run-e2e-android.sh
Due: none

[NT-1910] Update contententry to set accessibility label so we can test on android
  implementations/react-native/sections/ContentEntry.tsx
Due: eslint --fix, prettier --check --write

[NT-1910] Add getRichTextContent function to RichTextRenderer so we can add accesibilitylabels for tests
  implementations/react-native/components/RichTextRenderer.tsx
Due: eslint --fix, prettier --check --write

[NT-1910] Rename package to standard @implementation/react-native and update pipeline to use --filtered pnpm command
  .github/workflows/main-pipeline.yaml
  implementations/react-native/package.json
Due: prettier --check --write

[NT-1910] Update server.ts to use use PORT variable to build urls
  lib/mocks/src/server.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Change android api level from 34 to 33 for stability, enable KVM hardware accelleration to reduce boot time, use ubuntu 22.04
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Increase disk space for android emulator
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Update test to expect correct text on label for a/b/c experiemnt
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
Due: eslint --fix, prettier --check --write

[NT-1910] Delete .npmrc
  .npmrc
Due: none

[NT-1910] Use pnpm --filter @implementation/xxx exec instead of pnpx
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

[NT-1910] Remove duplicate react-native-dotenv in package, don't distinguish platform when clearing profile state
  implementations/react-native/e2e/helpers.js
  implementations/react-native/package.json
Due: eslint --fix, prettier --check --write

[NT-1910] Add documentation to script and to E2E-TESTING.md that describes how to ues the one shot android e2e script
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/scripts/run-e2e-android.sh
Due: prettier --check --write

[NT-1910] Fix type declarations in react native implementation
  implementations/react-native/types/env.d.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Add script for running e2e on android using script, update docs for that
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/package.json
Due: prettier --check --write

[NT-1910] Update e2e testing doc to use root pnpm build/test command
  implementations/react-native/E2E-TESTING.md
Due: prettier --check --write

[NT-1910] Update scripts to use consistent naming
  .github/workflows/main-pipeline.yaml
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/package.json
  implementations/react-native/scripts/run-e2e-android.sh
Due: prettier --check --write

[NT-1910] Add React Native e2e testing on CI (#80)
  .github/workflows/main-pipeline.yaml
  .npmrc
  implementations/react-native/.detoxrc.js
  implementations/react-native/.java-version
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/android/app/build.gradle
  implementations/react-native/android/build.gradle
  implementations/react-native/android/gradle/wrapper/gradle-wrapper.properties
  implementations/react-native/babel.config.js
  implementations/react-native/components/RichTextRenderer.tsx
  implementations/react-native/e2e/displays-unidentified-user-variants.test.js
  implementations/react-native/e2e/helpers.js
  implementations/react-native/env.config.ts
  implementations/react-native/package.json
  implementations/react-native/scripts/run-e2e-android.sh
  implementations/react-native/sections/ContentEntry.tsx
  implementations/react-native/types/env.d.ts
  implementations/react-native/utils/sdkHelpers.ts
  lib/mocks/src/server.ts
  platforms/javascript/react-native/dev/env.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

[NT-1910] Update from main and reset previous changes onto branch
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
  implementations/react-native/E2E-TESTING.md
  implementations/react-native/android/gradle.properties
  implementations/react-native/e2e/helpers.js
  implementations/react-native/package.json
  implementations/react-native/types/env.d.ts
Due: eslint --fix, prettier --check --write

[NT-1910] Configure with android local url, fix issue with init of optimization, don't specify java home in rc files as we configure that elsewhere
  implementations/react-native/.detoxrc.js
  implementations/react-native/android/gradle.properties
Due: eslint --fix, prettier --check --write
