Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

Document the Android Maven Central release flow
  packages/android/ContentfulOptimization/AGENTS.md
Due: prettier --check --write

Align Android preview panel layout with React Native gold standard (#294)
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewComponents.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelContent.kt
Due: none

Add iOS bootstrap + E2E scripts and reference-app scripts READMEs (#298)
  implementations/android-sdk/scripts/README.md
  implementations/ios-sdk/README.md
  implementations/ios-sdk/scripts/README.md
  implementations/ios-sdk/scripts/bootstrap.sh
  implementations/ios-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Declare the vanniktech plugin version inline so the module builds as a subproject
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/settings.gradle.kts
Due: none

Resolve merge conflict markers in Android module Gradle config
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/settings.gradle.kts
Due: none

Check out the dispatched tag, not the default branch, on manual Android publish
  .github/workflows/publish-android.yaml
Due: prettier --check --write

Harden Maven credential script: stdin secrets, positive token check, any-keyserver verify
  scripts/setup-maven-central-credential.sh
Due: none

Add Android Maven Central publishing channel (com.contentful.java:optimization-android) (#299)
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-android.yaml
  packages/android/ContentfulOptimization/AGENTS.md
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/gradle/wrapper/gradle-wrapper.jar
  packages/android/ContentfulOptimization/gradle/wrapper/gradle-wrapper.properties
  packages/android/ContentfulOptimization/gradlew
  packages/android/ContentfulOptimization/gradlew.bat
  packages/android/ContentfulOptimization/settings.gradle.kts
  scripts/setup-maven-central-credential.sh
Due: prettier --check --write

feat(react-web-sdk): add OptimizedExperience component
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedExperience.tsx
Due: eslint --fix, prettier --check --write

fix: issues wiht auto page emitting for the tanstack router
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
Due: eslint --fix, prettier --check --write

refactor(react-web-sdk): make useAutoPageEmitter a generic emitter and add buildAutoPagePayload helper
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
Due: eslint --fix, prettier --check --write

refactor(react-web-sdk): each router adapter builds its own page payload
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
Due: eslint --fix, prettier --check --write

test(react-web-sdk): cover the new helper and adapter payload changes
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.test.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.test.tsx
Due: eslint --fix, prettier --check --write

📘 docs(native): Reorganizing and normalizing native-related documentation
  README.md
  documentation/concepts/README.md
  documentation/concepts/android-sdk-bridge.md
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/ios-sdk-bridge.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/native-mobile-sdk-architecture.md
  documentation/drafts/integrating-the-ios-sdk-fundamentals.md
  documentation/drafts/integrating-the-ios-sdk-in-a-swiftui-app.md
  documentation/drafts/integrating-the-ios-sdk-in-a-uikit-app.md
  documentation/guides/AGENTS.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/contributing-to-the-android-sdk.md
  documentation/guides/contributing-to-the-ios-sdk.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  implementations/android-sdk/README.md
  implementations/ios-sdk/README.md
  packages/android/README.md
  packages/ios/CODE_MAP.md
  packages/ios/README.md
  packages/universal/optimization-js-bridge/BRIDGE_ARCHITECTURE.md
  packages/universal/optimization-js-bridge/README.md
Due: prettier --check --write

📘 docs(native): Reorganizing and normalizing native-related documentation (#302)
  README.md
  documentation/concepts/README.md
  documentation/concepts/android-sdk-bridge.md
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/ios-sdk-bridge.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/native-mobile-sdk-architecture.md
  documentation/drafts/integrating-the-ios-sdk-fundamentals.md
  documentation/drafts/integrating-the-ios-sdk-in-a-swiftui-app.md
  documentation/drafts/integrating-the-ios-sdk-in-a-uikit-app.md
  documentation/guides/AGENTS.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/contributing-to-the-android-sdk.md
  documentation/guides/contributing-to-the-ios-sdk.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  implementations/android-sdk/README.md
  implementations/ios-sdk/README.md
  packages/android/README.md
  packages/ios/CODE_MAP.md
  packages/ios/README.md
  packages/universal/optimization-js-bridge/BRIDGE_ARCHITECTURE.md
  packages/universal/optimization-js-bridge/README.md
Due: prettier --check --write

fix(react-web-sdk): prevent prototype pollution in router query parsing
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
Due: eslint --fix, prettier --check --write

refactor [NT-3339]: Refactor auto page emitter architecture (#303)
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.test.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.test.tsx
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
Due: eslint --fix, prettier --check --write

🚀 ci(publishing): Updating publishing workflows for manual publish parity
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  .github/workflows/publish-spm.yaml
  .husky/pre-commit
Due: prettier --check --write

🚀 ci(publishing): Updating publishing workflows for manual publish parity (#305)
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  .github/workflows/publish-spm.yaml
  .husky/pre-commit
Due: prettier --check --write

🚀 ci(publish): Attempting to fix NPM and Maven publishing issues
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  package.json
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/universal/optimization-js-bridge/package.json
Due: prettier --check --write

🚀 ci(publish): Attempting to fix NPM and Maven publishing issues (#306)
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  package.json
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/universal/optimization-js-bridge/package.json
Due: prettier --check --write

🚀 ci(publish): Allowing Maven cred verification in dry run
  .github/workflows/publish-android.yaml
Due: prettier --check --write

🚀 ci(publish): Allowing Maven cred verification in dry run (#307)
  .github/workflows/publish-android.yaml
Due: prettier --check --write

test [NT-3231]: Increase web-sdk and node-sdk unit test coverage
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/entry-tracking/events/createTimedEntryDetector.test.ts
  packages/web/web-sdk/src/entry-tracking/events/observerLifecycle.test.ts
  packages/web/web-sdk/src/entry-tracking/registry/ElementExistenceObserver.test.ts
  packages/web/web-sdk/src/entry-tracking/registry/EntryElementRegistry.test.ts
  packages/web/web-sdk/src/handlers/createOnlineChangeListener.ssr.test.ts
  packages/web/web-sdk/src/handlers/createOnlineChangeListener.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.ssr.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.test.ts
  packages/web/web-sdk/src/lib/cookies.test.ts
  packages/web/web-sdk/src/lib/safeCall.test.ts
Due: eslint --fix, prettier --check --write

🤖 chore(licenses): Generate licenses appropriately for iOS/Android
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  .github/workflows/publish-spm.yaml
  AGENTS.md
  THIRD_PARTY_NOTICES.txt
  lib/build-tools/src/cli.ts
  lib/build-tools/src/index.ts
  lib/build-tools/src/publishReadme.test.ts
  lib/build-tools/src/publishReadme.ts
  package.json
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/ios/license_plist.yml
  packages/node/node-sdk/package.json
  packages/react-native-sdk/package.json
  packages/universal/api-client/package.json
  packages/universal/api-schemas/package.json
  packages/universal/core-sdk/package.json
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/package.json
  packages/web/preview-panel/rslib.config.ts
  packages/web/web-sdk/package.json
  scripts/format-android-third-party-notices.ts
  scripts/format-ios-third-party-notices.ts
  scripts/generate-third-party-notices.sh
  scripts/list-npm-notice-targets.ts
  scripts/pack-pkgs.sh
  scripts/verify-npm-package-notices.sh
Due: eslint --fix, prettier --check --write

🤖 chore(licenses): Generate licenses appropriately for iOS/Android (#308)
  .github/workflows/main-pipeline.yaml
  .github/workflows/publish-android.yaml
  .github/workflows/publish-npm.yaml
  .github/workflows/publish-spm.yaml
  AGENTS.md
  THIRD_PARTY_NOTICES.txt
  lib/build-tools/src/cli.ts
  lib/build-tools/src/index.ts
  lib/build-tools/src/publishReadme.test.ts
  lib/build-tools/src/publishReadme.ts
  package.json
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/ios/license_plist.yml
  packages/node/node-sdk/package.json
  packages/react-native-sdk/package.json
  packages/universal/api-client/package.json
  packages/universal/api-schemas/package.json
  packages/universal/core-sdk/package.json
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/preview-panel/package.json
  packages/web/preview-panel/rslib.config.ts
  packages/web/web-sdk/package.json
  scripts/format-android-third-party-notices.ts
  scripts/format-ios-third-party-notices.ts
  scripts/generate-third-party-notices.sh
  scripts/list-npm-notice-targets.ts
  scripts/pack-pkgs.sh
  scripts/verify-npm-package-notices.sh
Due: eslint --fix, prettier --check --write

test [NT-3231]: Increase web-sdk and node-sdk unit test coverage (#309)
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/entry-tracking/events/createTimedEntryDetector.test.ts
  packages/web/web-sdk/src/entry-tracking/events/observerLifecycle.test.ts
  packages/web/web-sdk/src/entry-tracking/registry/ElementExistenceObserver.test.ts
  packages/web/web-sdk/src/entry-tracking/registry/EntryElementRegistry.test.ts
  packages/web/web-sdk/src/handlers/createOnlineChangeListener.ssr.test.ts
  packages/web/web-sdk/src/handlers/createOnlineChangeListener.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.ssr.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.test.ts
  packages/web/web-sdk/src/lib/cookies.test.ts
  packages/web/web-sdk/src/lib/safeCall.test.ts
Due: eslint --fix, prettier --check --write

feat(implementations): scaffold Angular Web SDK reference implementation
  implementations/angular-web-sdk/.env.example
  implementations/angular-web-sdk/.gitignore
  implementations/angular-web-sdk/AGENTS.md
  implementations/angular-web-sdk/README.md
  implementations/angular-web-sdk/angular.json
  implementations/angular-web-sdk/package.json
  implementations/angular-web-sdk/pnpm-workspace.yaml
  implementations/angular-web-sdk/scripts/launch-reference-app.sh
  implementations/angular-web-sdk/src/app/app.config.ts
  implementations/angular-web-sdk/src/app/app.routes.ts
  implementations/angular-web-sdk/src/app/app.ts
  implementations/angular-web-sdk/src/index.html
  implementations/angular-web-sdk/src/main.ts
  implementations/angular-web-sdk/src/styles.css
  implementations/angular-web-sdk/tsconfig.json
  package.json
Due: eslint --fix, prettier --check --write

chore(implementations): remove premature angular-web-sdk root shortcut script
  package.json
Due: prettier --check --write

feat(optimization): Introduce optimizationPossible state and related tests
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/universal/core-sdk/src/CoreStateful.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.ts
  packages/web/frameworks/react-web-sdk/src/test/sdkTestUtils.tsx
Due: eslint --fix, prettier --check --write

docs(angular-web-sdk): remove project structure section from README
  implementations/angular-web-sdk/README.md
Due: prettier --check --write

chore(implementations): remove angular-web-sdk launch script
  implementations/angular-web-sdk/AGENTS.md
  implementations/angular-web-sdk/README.md
  implementations/angular-web-sdk/package.json
  implementations/angular-web-sdk/scripts/launch-reference-app.sh
Due: prettier --check --write

💡 refactor(implementation): Removing dead-end launch script from RW reference
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/scripts/launch-reference-app.sh
  package.json
Due: prettier --check --write

💡 refactor(implementation): Removing dead-end launch script from RW reference (#312)
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/scripts/launch-reference-app.sh
  package.json
Due: prettier --check --write

docs(angular-web-sdk): add REQUIREMENTS.md with acceptance criteria
  implementations/angular-web-sdk/AGENTS.md
  implementations/angular-web-sdk/REQUIREMENTS.md
Due: prettier --check --write

feat(angular-web-sdk): scaffold app shell and config token
  implementations/angular-web-sdk/.env.example
  implementations/angular-web-sdk/AGENTS.md
  implementations/angular-web-sdk/REQUIREMENTS.md
  implementations/angular-web-sdk/src/app/app.html
  implementations/angular-web-sdk/src/app/app.routes.ts
  implementations/angular-web-sdk/src/app/app.ts
  implementations/angular-web-sdk/src/app/config/config.token.ts
  implementations/angular-web-sdk/src/app/pages/home/home.ts
  implementations/angular-web-sdk/src/app/pages/page-two/page-two.ts
  package.json
Due: eslint --fix, prettier --check --write
