Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

📘 docs(agents): Refresh agent guidance and Next.js SDK docs
  AGENTS.md
  README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/guides/AGENTS.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/product/framework-and-meta-framework-reference-implementation-requirements.md
  documentation/product/optimization-sdk-suite-fprd.md
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/scripts/README.md
  implementations/nextjs-sdk_hybrid/AGENTS.md
  implementations/nextjs-sdk_ssr/AGENTS.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/react-native-sdk/README.md
  implementations/react-web-sdk/README.md
  implementations/web-sdk/README.md
  implementations/web-sdk_angular/AGENTS.md
  implementations/web-sdk_react/README.md
  lib/build-tools/AGENTS.md
  lib/e2e-web/AGENTS.md
  lib/e2e-web/README.md
  packages/AGENTS.md
  packages/node/node-sdk/AGENTS.md
  packages/react-native-sdk/AGENTS.md
  packages/react-native-sdk/dev/README.md
  packages/universal/api-client/AGENTS.md
  packages/universal/api-schemas/AGENTS.md
  packages/universal/core-sdk/AGENTS.md
  packages/universal/core-sdk/src/preview-support/AGENTS.md
  packages/web/AGENTS.md
  packages/web/frameworks/nextjs-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/preview-panel/AGENTS.md
  packages/web/web-sdk/AGENTS.md
  pnpm-workspace.yaml
Due: prettier --check --write

📘 docs(agents): Refresh agent guidance and Next.js SDK docs (#329)
  AGENTS.md
  README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/guides/AGENTS.md
  documentation/guides/README.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr-csr.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-ssr.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/product/framework-and-meta-framework-reference-implementation-requirements.md
  documentation/product/optimization-sdk-suite-fprd.md
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/scripts/README.md
  implementations/nextjs-sdk_hybrid/AGENTS.md
  implementations/nextjs-sdk_ssr/AGENTS.md
  implementations/node-sdk+web-sdk/README.md
  implementations/node-sdk/README.md
  implementations/react-native-sdk/README.md
  implementations/react-web-sdk/README.md
  implementations/web-sdk/README.md
  implementations/web-sdk_angular/AGENTS.md
  implementations/web-sdk_react/README.md
  lib/build-tools/AGENTS.md
  lib/e2e-web/AGENTS.md
  lib/e2e-web/README.md
  packages/AGENTS.md
  packages/node/node-sdk/AGENTS.md
  packages/react-native-sdk/AGENTS.md
  packages/react-native-sdk/dev/README.md
  packages/universal/api-client/AGENTS.md
  packages/universal/api-schemas/AGENTS.md
  packages/universal/core-sdk/AGENTS.md
  packages/universal/core-sdk/src/preview-support/AGENTS.md
  packages/web/AGENTS.md
  packages/web/frameworks/nextjs-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/preview-panel/AGENTS.md
  packages/web/web-sdk/AGENTS.md
  pnpm-workspace.yaml
Due: prettier --check --write

feat(web-sdk): overhaul vanilla JS implementation to align with shared e2e suite [NT-3529]
  implementations/web-sdk/.env.example
  implementations/web-sdk/AGENTS.md
  implementations/web-sdk/contentful-generated.d.ts
  implementations/web-sdk/docker-compose.yaml
  implementations/web-sdk/e2e/displays-identified-user-variants.spec.ts
  implementations/web-sdk/e2e/displays-unidentified-user-variants.spec.ts
  implementations/web-sdk/e2e/entry-click-tracking.spec.ts
  implementations/web-sdk/e2e/entry-hover-tracking.spec.ts
  implementations/web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/web-sdk/e2e/events-consent-gating.spec.ts
  implementations/web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/web-sdk/e2e/live-updates.spec.ts
  implementations/web-sdk/e2e/offline-queue-recovery.spec.ts
  implementations/web-sdk/e2e/preview-panel.spec.ts
  implementations/web-sdk/e2e/web-components-lifecycle.spec.ts
  implementations/web-sdk/nginx/nginx.conf
  implementations/web-sdk/nginx/templates/default.conf.template
  implementations/web-sdk/package.json
  implementations/web-sdk/playwright.config.mjs
  implementations/web-sdk/public/index.html
  implementations/web-sdk/public/js/app.js
  implementations/web-sdk/public/js/control-panel.js
  implementations/web-sdk/public/js/entries.js
  implementations/web-sdk/public/js/tracking.js
  implementations/web-sdk/scripts/build-assets.ts
  implementations/web-sdk/server.ts
  implementations/web-sdk/tsconfig.json
Due: eslint --fix, prettier --check --write

ci: update e2e-web-sdk job to use lib/e2e-web shared suite
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

fix(web-sdk): use data-env-placeholder attribute to survive Prettier formatting
  implementations/web-sdk/public/index.html
  implementations/web-sdk/server.ts
Due: eslint --fix, prettier --check --write

feat(web-sdk): overhaul vanilla JS implementation [NT-3529] (#331)
  .github/workflows/main-pipeline.yaml
  implementations/web-sdk/.env.example
  implementations/web-sdk/AGENTS.md
  implementations/web-sdk/contentful-generated.d.ts
  implementations/web-sdk/docker-compose.yaml
  implementations/web-sdk/e2e/displays-identified-user-variants.spec.ts
  implementations/web-sdk/e2e/displays-unidentified-user-variants.spec.ts
  implementations/web-sdk/e2e/entry-click-tracking.spec.ts
  implementations/web-sdk/e2e/entry-hover-tracking.spec.ts
  implementations/web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/web-sdk/e2e/events-consent-gating.spec.ts
  implementations/web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/web-sdk/e2e/live-updates.spec.ts
  implementations/web-sdk/e2e/offline-queue-recovery.spec.ts
  implementations/web-sdk/e2e/preview-panel.spec.ts
  implementations/web-sdk/e2e/web-components-lifecycle.spec.ts
  implementations/web-sdk/nginx/nginx.conf
  implementations/web-sdk/nginx/templates/default.conf.template
  implementations/web-sdk/package.json
  implementations/web-sdk/playwright.config.mjs
  implementations/web-sdk/public/index.html
  implementations/web-sdk/public/js/app.js
  implementations/web-sdk/public/js/control-panel.js
  implementations/web-sdk/public/js/entries.js
  implementations/web-sdk/public/js/tracking.js
  implementations/web-sdk/scripts/build-assets.ts
  implementations/web-sdk/server.ts
  implementations/web-sdk/tsconfig.json
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_hybrid): consolidate components into single EntryCard
  implementations/nextjs-sdk_hybrid/app/layout.tsx
  implementations/nextjs-sdk_hybrid/components/ContentEntry.tsx
  implementations/nextjs-sdk_hybrid/components/ControlPanel.tsx
  implementations/nextjs-sdk_hybrid/components/EntryCard.tsx
  implementations/nextjs-sdk_hybrid/components/HomePage.tsx
  implementations/nextjs-sdk_hybrid/components/LiveUpdatesExampleEntry.tsx
  implementations/nextjs-sdk_hybrid/components/NestedContentItem.tsx
  implementations/nextjs-sdk_hybrid/components/PageTwoPage.tsx
  implementations/nextjs-sdk_hybrid/components/RichTextRenderer.tsx
  implementations/nextjs-sdk_hybrid/components/TrackingLog.tsx
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_hybrid): merge LiveUpdatesEntry into EntryCard
  implementations/nextjs-sdk_hybrid/components/EntryCard.tsx
  implementations/nextjs-sdk_hybrid/components/HomePage.tsx
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_hybrid): resolve entries in server pages, make components presentational
  implementations/nextjs-sdk_hybrid/app/page-two/page.tsx
  implementations/nextjs-sdk_hybrid/app/page.tsx
  implementations/nextjs-sdk_hybrid/components/HomePage.tsx
  implementations/nextjs-sdk_hybrid/components/PageTwoPage.tsx
  implementations/nextjs-sdk_hybrid/lib/util.ts
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_hybrid): inline server pages, extract client islands and hooks
  implementations/nextjs-sdk_hybrid/app/layout.tsx
  implementations/nextjs-sdk_hybrid/app/page-two/page.tsx
  implementations/nextjs-sdk_hybrid/app/page.tsx
  implementations/nextjs-sdk_hybrid/components/ControlPanel.tsx
  implementations/nextjs-sdk_hybrid/components/EntryCard.tsx
  implementations/nextjs-sdk_hybrid/components/HomePage.tsx
  implementations/nextjs-sdk_hybrid/components/PageTwoPage.tsx
  implementations/nextjs-sdk_hybrid/components/PreviewPanel.tsx
  implementations/nextjs-sdk_hybrid/components/TrackView.tsx
  implementations/nextjs-sdk_hybrid/components/TrackViewButton.tsx
  implementations/nextjs-sdk_hybrid/components/TrackingLog.tsx
  implementations/nextjs-sdk_hybrid/lib/hooks.ts
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_ssr): align structure with hybrid — extract EntryCard, ControlPanel, TrackingLog
  implementations/nextjs-sdk_ssr/app/layout.tsx
  implementations/nextjs-sdk_ssr/app/page-two/page.tsx
  implementations/nextjs-sdk_ssr/app/page.tsx
  implementations/nextjs-sdk_ssr/components/AnalyticsEventDisplay.tsx
  implementations/nextjs-sdk_ssr/components/ControlPanel.tsx
  implementations/nextjs-sdk_ssr/components/EntryCard.tsx
  implementations/nextjs-sdk_ssr/components/InteractiveControls.tsx
  implementations/nextjs-sdk_ssr/components/TrackingLog.tsx
  implementations/nextjs-sdk_ssr/config/entries.ts
  implementations/nextjs-sdk_ssr/lib/config.ts
  implementations/nextjs-sdk_ssr/lib/contentful-client.ts
  implementations/nextjs-sdk_ssr/lib/contentful.ts
  implementations/nextjs-sdk_ssr/lib/hooks.ts
  implementations/nextjs-sdk_ssr/lib/optimization.ts
  implementations/nextjs-sdk_ssr/lib/util.ts
  implementations/nextjs-sdk_ssr/package.json
  implementations/nextjs-sdk_ssr/proxy.ts
  implementations/nextjs-sdk_ssr/types/contentful.ts
  implementations/nextjs-sdk_ssr/utils/typeGuards.ts
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_ssr): delegate E2E to shared lib/e2e-web suite
  implementations/nextjs-sdk_ssr/AGENTS.md
  implementations/nextjs-sdk_ssr/components/EntryCard.tsx
  implementations/nextjs-sdk_ssr/e2e/entry-click-tracking.spec.ts
  implementations/nextjs-sdk_ssr/e2e/entry-hover-tracking.spec.ts
  implementations/nextjs-sdk_ssr/e2e/events-consent-gating.spec.ts
  implementations/nextjs-sdk_ssr/e2e/navigation-page-events.spec.ts
  implementations/nextjs-sdk_ssr/package.json
  implementations/nextjs-sdk_ssr/playwright.config.mjs
Due: eslint --fix, prettier --check --write

chore(nextjs-sdk_ssr): remove local playwright config and install scripts
  implementations/nextjs-sdk_ssr/package.json
  implementations/nextjs-sdk_ssr/playwright.config.mjs
Due: eslint --fix, prettier --check --write

chore(react-web-sdk): remove local playwright install scripts and devDep
  implementations/react-web-sdk/package.json
Due: prettier --check --write

chore(nextjs-sdk_ssr,hybrid): simplify test:e2e to match CSR pattern
  implementations/nextjs-sdk_hybrid/package.json
  implementations/nextjs-sdk_ssr/package.json
Due: prettier --check --write

test(nextjs-sdk_ssr): add JS-disabled variant resolution tests
  implementations/nextjs-sdk_ssr/e2e/nextjs-ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

refactor(nextjs-sdk_ssr): rename spec to ssr-behavior, clarify describe blocks
  implementations/nextjs-sdk_ssr/e2e/ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): move ssr-behavior.spec.ts to shared lib/e2e-web
  implementations/nextjs-sdk_ssr/AGENTS.md
  lib/e2e-web/e2e/ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

test(e2e): rewrite ssr-behavior to mirror displays tests without JS
  lib/e2e-web/e2e/displays-identified-user-variants.spec.ts
  lib/e2e-web/e2e/displays-unidentified-user-variants.spec.ts
  lib/e2e-web/e2e/displays-variants-csr.spec.ts
  lib/e2e-web/e2e/ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

test(e2e): add displays-variants-ssr and restore accidentally deleted displays specs
  lib/e2e-web/e2e/displays-unidentified-user-variants.spec.ts
  lib/e2e-web/e2e/displays-variants-ssr.spec.ts
Due: eslint --fix, prettier --check --write

test(e2e): clean up SSR specs — remove duplicates, trim ssr-behavior
  lib/e2e-web/e2e/displays-unidentified-user-variants.spec.ts
  lib/e2e-web/e2e/ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): merge nextjs-hydration into ssr-behavior
  lib/e2e-web/e2e/nextjs-hydration.spec.ts
  lib/e2e-web/e2e/ssr-behavior.spec.ts
Due: eslint --fix, prettier --check --write

fix(e2e): restore nextjs-hydration.spec.ts, revert ssr-behavior to ssr-only
  lib/e2e-web/e2e/nextjs-hydration.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): merge ssr-behavior and nextjs-hydration into server-rendering-behavior
  lib/e2e-web/e2e/nextjs-hydration.spec.ts
  lib/e2e-web/e2e/server-rendering-behavior.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): rename display specs to variant-resolution-csr/ssr
  lib/e2e-web/e2e/variant-resolution-csr.spec.ts
  lib/e2e-web/e2e/variant-resolution-ssr.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): clarify SSR variant resolution suite name
  lib/e2e-web/e2e/variant-resolution-ssr.spec.ts
Due: eslint --fix, prettier --check --write

test(e2e): remove weak tracking attributes test from server-rendering-behavior
  lib/e2e-web/e2e/server-rendering-behavior.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e): merge entry-click, entry-hover, flag-view tracking into tracking.spec.ts
  lib/e2e-web/e2e/entry-click-tracking.spec.ts
  lib/e2e-web/e2e/entry-hover-tracking.spec.ts
  lib/e2e-web/e2e/flag-view-tracking.spec.ts
  lib/e2e-web/e2e/tracking.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e-web): restructure tracking suite and rename spec files
  lib/e2e-web/e2e/consent-gating.spec.ts
  lib/e2e-web/e2e/navigation.spec.ts
  lib/e2e-web/e2e/tracking.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e-web): merge consent-gating into tracking and normalize suite names
  lib/e2e-web/e2e/consent-gating.spec.ts
  lib/e2e-web/e2e/live-updates.spec.ts
  lib/e2e-web/e2e/navigation.spec.ts
  lib/e2e-web/e2e/offline-queue-recovery.spec.ts
  lib/e2e-web/e2e/server-rendering-behavior.spec.ts
  lib/e2e-web/e2e/tracking.spec.ts
Due: eslint --fix, prettier --check --write

refactor(e2e-web): extract shared test utils and add onlyInModes helper
  lib/e2e-web/e2e/live-updates.spec.ts
  lib/e2e-web/e2e/server-rendering-behavior.spec.ts
  lib/e2e-web/e2e/tracking.spec.ts
  lib/e2e-web/e2e/utils.ts
  lib/e2e-web/e2e/variant-resolution-ssr.spec.ts
Due: eslint --fix, prettier --check --write

🚀 ci(publish): Fixing flaky issue with third-party notice verification
  scripts/verify-npm-package-notices.sh
Due: none

🚀 ci(publish): Fixing flaky issue with third-party notice verification (#334)
  scripts/verify-npm-package-notices.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
