Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

Add existing tests for screen events and event builder
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: none

Add comprehensive tests for preview panel override tracking
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/PreviewOverrideTests.swift
Due: none

Clean up native polyfill registration code, break into functions
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/NativePolyfills.swift
Due: none

Add code map and remove variantlock
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/VariantLock.swift
Due: prettier --check --write

Add react native integration guide to documentation
  documentation/README.md
  documentation/integrating-the-react-native-sdk-in-a-react-native-app.md
Due: prettier --check --write

Fix typing of resolveOptimizedEntry params
  packages/ios/ios-jsc-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

Handle case in preview panel where we are adding the user to an audience, not modifying the audience
  packages/react-native-sdk/src/preview/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Handle case in preview panel where we are adding the user to an audience, not modifying the audience (#230)
  packages/react-native-sdk/src/preview/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Add react native integration guide to documentation (#221)
  documentation/README.md
  documentation/integrating-the-react-native-sdk-in-a-react-native-app.md
Due: prettier --check --write

Add iOS documentation
  documentation/README.md
  documentation/integrating-the-ios-sdk-fundamentals.md
  documentation/integrating-the-ios-sdk-in-a-swiftui-app.md
  documentation/integrating-the-ios-sdk-in-a-uikit-app.md
Due: prettier --check --write

updateSelectedOptimizationsSignal -> syncOverridesToSignal to read from lastActualDataRef so we get what came from the API rather than what existed after our changes
  packages/react-native-sdk/src/preview/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Add Lotfi-Arif as codeowner
  CODEOWNERS
Due: none

Add Lotfi-Arif as codeowner (#232)
  CODEOWNERS
Due: none

fix format issues
  documentation/README.md
Due: prettier --check --write

updateSelectedOptimizationsSignal -> syncOverridesToSignal to read from lastActualDataRef so we get what came from the API rather than what existed after our changes (#231)
  packages/react-native-sdk/src/preview/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Remove relative reference link
  documentation/integrating-the-ios-sdk-in-a-swiftui-app.md
Due: prettier --check --write

Remove relative link for demo
  documentation/integrating-the-ios-sdk-fundamentals.md
Due: prettier --check --write

Update to ios preview panel
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
Due: none

feat(core): add shared PreviewOverrideManager module
  packages/universal/core-sdk/package.json
  packages/universal/core-sdk/rslib.config.ts
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.ts
  packages/universal/core-sdk/src/lib/preview/applyOptimizationOverrides.ts
  packages/universal/core-sdk/src/lib/preview/index.ts
  packages/universal/core-sdk/src/lib/preview/types.ts
  packages/universal/core-sdk/src/preview.ts
Due: eslint --fix, prettier --check --write

refactor(react-native): wrap useProfileOverrides around shared PreviewOverrideManager
  packages/react-native-sdk/src/preview/hooks/useProfileOverrides.ts
  packages/react-native-sdk/src/preview/types.ts
Due: eslint --fix, prettier --check --write

refactor(ios): replace inline override logic with shared PreviewOverrideManager
  packages/ios/ios-jsc-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

fix(ios): update bridge bundle and revert variant index workaround
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

fix(ios): pass experienceIds through overrideAudience to fix reset cleanup
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelContent.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/ios/ios-jsc-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

onOverridesChanged should not be optional to force handling of override across platforms
  packages/ios/ios-jsc-bridge/src/index.ts
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.test.ts
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.ts
Due: eslint --fix, prettier --check --write

Add updated umd build and fix tests
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.scenarios.test.ts
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.test-utils.ts
  packages/universal/core-sdk/src/lib/preview/PreviewOverrideManager.test.ts
Due: eslint --fix, prettier --check --write

Add React Native interaction tracking mechanics guide
  documentation/README.md
  documentation/react-native-sdk-interaction-tracking-mechanics.md
Due: prettier --check --write

feat: update env var handling in dev harness
  packages/web/frameworks/react-web-sdk/dev/.env.example
  packages/web/frameworks/react-web-sdk/dev/app/constants.ts
  packages/web/frameworks/react-web-sdk/dev/app/contentful.ts
  packages/web/frameworks/react-web-sdk/dev/app/main.tsx
Due: eslint --fix, prettier --check --write

feat: add new sections for flags, Lifecycle, tracking
  packages/web/frameworks/react-web-sdk/dev/app/sections/FlagsSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/HookEntrySection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/LifecycleSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/ProvidersSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/TrackingSection.tsx
Due: eslint --fix, prettier --check --write

feat: update app with new sections
  packages/web/frameworks/react-web-sdk/dev/app/App.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/OptimizationSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/StateSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/utils.ts
Due: eslint --fix, prettier --check --write

chore: update react to match react-dom
  implementations/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: update react to match react-dom (#241)
  implementations/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: add better handling for destroying the Web SDK instance and release runtime resources.
  packages/web/frameworks/react-web-sdk/dev/app/sections/LifecycleSection.tsx
Due: eslint --fix, prettier --check --write

Add React Native interaction tracking mechanics guide (#237)
  documentation/README.md
  documentation/react-native-sdk-interaction-tracking-mechanics.md
Due: prettier --check --write

feat: add launch scripts for the react dev harness and ref implementation
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/scripts/launch-reference-app.sh
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/scripts/launch-dev-harness.sh
Due: eslint --fix, prettier --check --write

revert: remove accidental iOS bridge file change
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
Due: eslint --fix, prettier --check --write

Nt 2569 include common cases and usages for the react sdk dev harness (#242)
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/scripts/launch-reference-app.sh
  packages/web/frameworks/react-web-sdk/AGENTS.md
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/dev/.env.example
  packages/web/frameworks/react-web-sdk/dev/app/App.tsx
  packages/web/frameworks/react-web-sdk/dev/app/constants.ts
  packages/web/frameworks/react-web-sdk/dev/app/contentful.ts
  packages/web/frameworks/react-web-sdk/dev/app/main.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/FlagsSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/HookEntrySection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/LifecycleSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/OptimizationSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/ProvidersSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/StateSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/TrackingSection.tsx
  packages/web/frameworks/react-web-sdk/dev/app/utils.ts
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/scripts/launch-dev-harness.sh
Due: eslint --fix, prettier --check --write

fix: update react version to match react-dom
  implementations/web-sdk_react/package.json
Due: prettier --check --write

fix: update react version to match react-dom (#243)
  implementations/web-sdk_react/package.json
Due: prettier --check --write
