Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Detect failed Maestro flows from output not screenshots so launch failures are retried surgically too
  implementations/android-sdk/scripts/ci-maestro-run.sh
Due: none

Keep launcher enabled and clear its ANR dialog reactively via a watchdog instead of disabling it
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/ci-anr-watchdog.sh
Due: prettier --check --write

Restart the Android framework between apps so a wedged PackageManager can't fail the second app
  implementations/android-sdk/scripts/ci-maestro-run.sh
Due: none

Replace clearState with stopApp + reset arg in all flows to stop pm clear wedging the CI PackageManager
  implementations/android-sdk/maestro/identified-variants/identified-variants.yaml
  implementations/android-sdk/maestro/live-updates/default-locked-when-global-off.yaml
  implementations/android-sdk/maestro/live-updates/displays-all-three-sections.yaml
  implementations/android-sdk/maestro/live-updates/displays-entry-content-in-all-sections.yaml
  implementations/android-sdk/maestro/live-updates/global-enables-default.yaml
  implementations/android-sdk/maestro/live-updates/identify-and-reset.yaml
  implementations/android-sdk/maestro/live-updates/live-updates-regardless-of-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-ignores-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-stays-when-global-on.yaml
  implementations/android-sdk/maestro/live-updates/preview-panel-enables-all.yaml
  implementations/android-sdk/maestro/live-updates/toggle-global-live-updates.yaml
  implementations/android-sdk/maestro/live-updates/toggle-preview-panel.yaml
  implementations/android-sdk/maestro/offline-behavior/handle-rapid-network-state-changes.yaml
  implementations/android-sdk/maestro/offline-behavior/recover-gracefully-when-network-restored.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-1-activate-unqualified-audience-renders-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-2-deactivate-qualified-audience-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-3-reset-audience-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-4-variant-override-zero-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-5-reset-single-variant-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-6-reset-all-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-7-override-survives-api-refresh.yaml
  implementations/android-sdk/maestro/preview-panel/fab-visible.yaml
  implementations/android-sdk/maestro/preview-panel/profile-updates-after-identify.yaml
  implementations/android-sdk/maestro/preview-panel/refresh-button-works.yaml
  implementations/android-sdk/maestro/preview-panel/shows-all-profile-keys.yaml
  implementations/android-sdk/maestro/preview-panel/shows-can-personalize.yaml
  implementations/android-sdk/maestro/preview-panel/shows-consent-accepted.yaml
  implementations/android-sdk/maestro/preview-panel/shows-location-data.yaml
  implementations/android-sdk/maestro/preview-panel/shows-profile-data.yaml
  implementations/android-sdk/maestro/screen-tracking/multiple-view-visits-in-order.yaml
  implementations/android-sdk/maestro/screen-tracking/revisiting-view-one-after-view-two.yaml
  implementations/android-sdk/maestro/screen-tracking/single-view-visit.yaml
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-for-different-entry.yaml
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-on-content-entry.yaml
  implementations/android-sdk/maestro/unidentified-variants/identify-replaces-baselines.yaml
  implementations/android-sdk/maestro/unidentified-variants/unidentified-baselines.yaml
Due: prettier --check --write

Run the Android Maestro E2E job on a GitHub-hosted ubuntu-latest runner instead of Namespace
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Run Android Maestro E2E per-app on GitHub runners with cached AVD snapshots and in-app reset
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Use the aosp_atd system image so Google services and the heavy launcher can't ANR over the app
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Use the aosp_atd system image on the Namespace runner to test whether it fixes the flakiness
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Remove the ANR-dialog band-aids now that aosp_atd has no Google services or heavy launcher to ANR
  .claude/scheduled_tasks.lock
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/scripts/ci-anr-watchdog.sh
Due: prettier --check --write

Remove flaky airplane-mode offline E2E flows and dead simulate_offline plumbing, with a doc explaining why
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/README.md
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/MainActivity.kt
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/screens/MainScreen.kt
  implementations/android-sdk/maestro/OFFLINE_TESTING.md
  implementations/android-sdk/maestro/README.md
  implementations/android-sdk/maestro/identified-variants/identified-variants.yaml
  implementations/android-sdk/maestro/offline-behavior/handle-rapid-network-state-changes.yaml
  implementations/android-sdk/maestro/offline-behavior/recover-gracefully-when-network-restored.yaml
  implementations/android-sdk/maestro/unidentified-variants/identify-replaces-baselines.yaml
  implementations/android-sdk/maestro/unidentified-variants/unidentified-baselines.yaml
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
Due: prettier --check --write

Extract preview-state transformation helpers from the JS bridge into previewStateHelpers
  packages/universal/optimization-js-bridge/src/index.ts
  packages/universal/optimization-js-bridge/src/previewStateHelpers.ts
Due: eslint --fix, prettier --check --write

Add the com.contentful.optimization.views SDK adapter, view tracking, and in-activity preview panel for XML apps
  packages/android/AGENTS.md
  packages/android/ContentfulOptimization/build.gradle.kts
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelActivity.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelContent.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/tracking/ViewTrackingController.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizationManager.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/OptimizedEntryView.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/ScreenTracker.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/views/TrackingRecyclerView.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/tracking/ViewTrackingControllerTest.kt
Due: prettier --check --write

Fix Compose OptimizedEntry losing reset-variant re-resolution by keying its collector only on entry
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/compose/OptimizedEntry.kt
Due: none

Migrate the Android E2E suite to Maestro driving both apps from one flow set
  implementations/android-sdk/maestro/OFFLINE_TESTING.md
  implementations/android-sdk/maestro/README.md
  implementations/android-sdk/maestro/config.yaml
  implementations/android-sdk/maestro/identified-variants/identified-variants.yaml
  implementations/android-sdk/maestro/live-updates/default-locked-when-global-off.yaml
  implementations/android-sdk/maestro/live-updates/displays-all-three-sections.yaml
  implementations/android-sdk/maestro/live-updates/displays-entry-content-in-all-sections.yaml
  implementations/android-sdk/maestro/live-updates/global-enables-default.yaml
  implementations/android-sdk/maestro/live-updates/identify-and-reset.yaml
  implementations/android-sdk/maestro/live-updates/live-updates-regardless-of-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-ignores-global.yaml
  implementations/android-sdk/maestro/live-updates/locked-stays-when-global-on.yaml
  implementations/android-sdk/maestro/live-updates/preview-panel-enables-all.yaml
  implementations/android-sdk/maestro/live-updates/toggle-global-live-updates.yaml
  implementations/android-sdk/maestro/live-updates/toggle-preview-panel.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-1-activate-unqualified-audience-renders-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-2-deactivate-qualified-audience-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-3-reset-audience-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-4-variant-override-zero-renders-baseline.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-5-reset-single-variant-override-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-6-reset-all-restores-variant.yaml
  implementations/android-sdk/maestro/preview-panel-overrides/scenario-7-override-survives-api-refresh.yaml
  implementations/android-sdk/maestro/preview-panel/fab-visible.yaml
  implementations/android-sdk/maestro/preview-panel/profile-updates-after-identify.yaml
  implementations/android-sdk/maestro/preview-panel/refresh-button-works.yaml
  implementations/android-sdk/maestro/preview-panel/shows-all-profile-keys.yaml
  implementations/android-sdk/maestro/preview-panel/shows-can-personalize.yaml
  implementations/android-sdk/maestro/preview-panel/shows-consent-accepted.yaml
  implementations/android-sdk/maestro/preview-panel/shows-location-data.yaml
  implementations/android-sdk/maestro/preview-panel/shows-profile-data.yaml
  implementations/android-sdk/maestro/screen-tracking/multiple-view-visits-in-order.yaml
  implementations/android-sdk/maestro/screen-tracking/revisiting-view-one-after-view-two.yaml
  implementations/android-sdk/maestro/screen-tracking/single-view-visit.yaml
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-for-different-entry.yaml
  implementations/android-sdk/maestro/tap-tracking/emits-component-click-on-content-entry.yaml
  implementations/android-sdk/maestro/unidentified-variants/identify-replaces-baselines.yaml
  implementations/android-sdk/maestro/unidentified-variants/unidentified-baselines.yaml
  implementations/android-sdk/scripts/bootstrap.sh
  implementations/android-sdk/scripts/ci-maestro-run.sh
  implementations/android-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Run the Android Maestro E2E on GitHub runners with per-app emulators, cached AVD snapshots, and the aosp_atd image
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Trim and update the legacy UiAutomator uitests module superseded by the Maestro suite
  implementations/android-sdk/uitests/README.md
  implementations/android-sdk/uitests/build.gradle.kts
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/AppLauncher.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/PerTestRule.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/support/TestHelpers.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/AnalyticsTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/FlagViewTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/IdentifiedVariantsTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/LiveUpdatesTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/OfflineBehaviorTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelOverridesTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/PreviewPanelTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/ScreenTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/TapTrackingTests.kt
  implementations/android-sdk/uitests/src/main/kotlin/com/contentful/optimization/uitests/tests/UnidentifiedVariantsTests.kt
Due: prettier --check --write

Update Android reference impl docs for the compose/views module layout and Maestro E2E
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/README.md
Due: prettier --check --write

Align Android docs with the Maestro E2E suite and remove the internal uitests README
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/README.md
  implementations/android-sdk/maestro/OFFLINE_TESTING.md
  implementations/android-sdk/maestro/README.md
  implementations/android-sdk/uitests/README.md
  packages/android/AGENTS.md
Due: prettier --check --write

Build the manual SPM dispatch from the run ref for dry-run testing
  .github/workflows/publish-spm.yaml
Due: prettier --check --write

Drop the stale polyfills payload check now that polyfills ship in the UMD
  .github/workflows/publish-spm.yaml
Due: prettier --check --write

Remove excess comments about maestro in pipeline yml
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Drop the stale polyfills payload check now that polyfills ship in the UMD (#297)
  .github/workflows/publish-spm.yaml
Due: prettier --check --write

Organize Android preview profile section to match iOS and React Native
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelContent.kt
Due: none

Match React Native audience header layout in Android preview panel
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewComponents.kt
Due: none

Center reset to actual state button in Android preview footer
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewPanelContent.kt
Due: none

Fix dependencyResolutionManagement and pin plugin versions for standalone Android builds
  packages/android/ContentfulOptimization/settings.gradle.kts
Due: none

Add Gradle wrapper pinned to 8.10.2 for the Android library module
  packages/android/ContentfulOptimization/gradle/wrapper/gradle-wrapper.jar
  packages/android/ContentfulOptimization/gradle/wrapper/gradle-wrapper.properties
  packages/android/ContentfulOptimization/gradlew
Due: none

Add Maven Central publishing config to the Android library (vanniktech, Central Portal)
  packages/android/ContentfulOptimization/build.gradle.kts
Due: none

Add Maven Central credential setup script with self-verification
  scripts/setup-maven-central-credential.sh
Due: none

Add Android Maven Central publish workflow alongside the Swift one
  .github/workflows/publish-android.yaml
Due: prettier --check --write

Add iOS reference app bootstrap script
  implementations/ios-sdk/README.md
  implementations/ios-sdk/scripts/bootstrap.sh
Due: prettier --check --write

Add iOS reference app E2E runner and scripts README
  implementations/ios-sdk/scripts/README.md
  implementations/ios-sdk/scripts/run-e2e.sh
Due: prettier --check --write

Add Android reference app scripts README
  implementations/android-sdk/scripts/README.md
Due: prettier --check --write

Use vanniktech maven-publish 0.30.0 for AGP 8.7 compatibility
  packages/android/ContentfulOptimization/settings.gradle.kts
Due: none

Add the Windows Gradle wrapper script for the Android library module
  packages/android/ContentfulOptimization/gradlew.bat
Due: none

Align the Android publish workflow setup-android pin with CI
  .github/workflows/publish-android.yaml
Due: prettier --check --write

Smoke-test Android Maven publishing assembly in CI
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
