Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

fix(ci): restore documentation comparison URL (#462)
  .github/workflows/publish-docs.yml
Due: prettier --check --write

docs(repo): add harness readiness guidance [NT-4002]
  .gitignore
  ARCHITECTURE.md
  docs/ADRs/0001-keep-environment-and-framework-sdks-layered-over-shared-foundations.md
Due: prettier --check --write

chore(android): standardize emulator images on API 36
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/scripts/README.md
  implementations/android-sdk/scripts/bootstrap.sh
  implementations/android-sdk/scripts/run-e2e.sh
  implementations/react-native-sdk/scripts/setup-android-e2e.sh
  package.json
Due: prettier --check --write

chore(android): standardize emulator images on API 36 (#469)
  .github/workflows/main-pipeline.yaml
  implementations/android-sdk/AGENTS.md
  implementations/android-sdk/scripts/README.md
  implementations/android-sdk/scripts/bootstrap.sh
  implementations/android-sdk/scripts/run-e2e.sh
  implementations/react-native-sdk/scripts/setup-android-e2e.sh
  package.json
Due: prettier --check --write

fix(docs): separate Pages output from ADRs [NT-4002]
  .github/workflows/publish-docs.yml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  README.md
  eslint.config.ts
  typedoc.json
Due: eslint --fix, prettier --check --write

docs(docs): add AI harness readiness guidance [NT-4002] (#468)
  .github/workflows/publish-docs.yml
  .gitignore
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/ADRs/0001-keep-environment-and-framework-sdks-layered-over-shared-foundations.md
  eslint.config.ts
  typedoc.json
Due: eslint --fix, prettier --check --write

fix(docs): remove leaked agent scaffolding from two guides
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
Due: prettier --check --write

docs(docs): make concepts publish-ready and settle on one closing-section name
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/optimization-handoff-and-cache-safe-rendering.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
Due: prettier --check --write

feat(ci): gate fern:check and add the contentful-docs sync workflow
  .github/workflows/main-pipeline.yaml
  .github/workflows/sync-fern-docs.yaml
Due: prettier --check --write

feat(docs): add the Fern documentation exporter and fern:check
  .gitignore
  documentation/AGENTS.md
  documentation/fern-slugs.lock.json
  package.json
  scripts/apply-fern-docs.ts
  scripts/export-fern-docs.ts
  scripts/fern/build.ts
  scripts/fern/bundle.ts
  scripts/fern/docs.ts
  scripts/fern/transform.ts
  scripts/sdk-knowledge/markdown.ts
  scripts/validate-fern-export.ts
Due: eslint --fix, prettier --check --write

docs(docs): give guides imperative titles and publishing frontmatter
  documentation/guides/README.md
  documentation/guides/building-a-custom-javascript-optimization-adapter.md
  documentation/guides/choosing-a-nextjs-migration-path-from-experience-js.md
  documentation/guides/choosing-the-right-sdk.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/migrating-experience-js-contentful-model-to-optimization.md
  documentation/guides/migrating-experience-js-next-to-nextjs-app-router.md
  documentation/guides/migrating-experience-js-next-to-nextjs-pages-router.md
  documentation/guides/migrating-experience-js-node-ssr-and-esr.md
  documentation/guides/migrating-experience-js-plugins-and-preview.md
  documentation/guides/migrating-experience-js-react-to-react-web.md
  documentation/guides/migrating-experience-js-to-the-web-sdk.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/guides/using-contentful-graphql-data-with-the-optimization-sdks.md
Due: prettier --check --write

docs(docs): require imperative titles for task documents
  STYLE_GUIDE.md
  documentation/authoring/recipes/decision.md
  documentation/authoring/recipes/integration.md
  documentation/authoring/recipes/migration.md
  documentation/authoring/recipes/supplemental-recipe.md
  documentation/concepts/AGENTS.md
Due: prettier --check --write

docs(docs): record the documentation sync decision as an ADR
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
Due: prettier --check --write

fix(docs): close three destructive edge cases in the Fern export
  scripts/apply-fern-docs.ts
  scripts/export-fern-docs.ts
  scripts/fern/build.ts
  scripts/fern/bundle.ts
Due: eslint --fix, prettier --check --write

fix(docs): compute one heading anchor and align link labels with titles
  documentation/AGENTS.md
  documentation/authoring/recipes/decision.md
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/using-contentful-graphql-data-with-the-optimization-sdks.md
  scripts/sdk-knowledge/markdown.ts
  scripts/validate-guide-authoring.ts
Due: eslint --fix, prettier --check --write

fix(ci): scope pnpm hook to package packing
  .github/workflows/notify-slack.yml
  CODEOWNERS
  implementations/node-sdk/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  scripts/pack-pkgs.sh
  scripts/pack-pnpmfile.cjs
Due: eslint --fix, prettier --check --write

fix(ci): scope pnpm hook to package packing (#475)
  .github/workflows/notify-slack.yml
  CODEOWNERS
  implementations/node-sdk/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  scripts/pack-pkgs.sh
  scripts/pack-pnpmfile.cjs
Due: eslint --fix, prettier --check --write

fix(deps): align xcodeproj with cocoapods 1.17
  implementations/react-native-sdk/Gemfile
  implementations/react-native-sdk/Gemfile.lock
Due: none

fix(deps): keep React Native renderer versions aligned
  implementations/react-native-sdk/package.json
  renovate.json
Due: prettier --check --write

chore(deps): removing unused dependencies to reduce renovate churn
  implementations/node-sdk+web-sdk/package.json
  implementations/react-native-sdk/package.json
  lib/mocks/package.json
  package.json
  packages/react-native-sdk/package.json
  packages/web/web-sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

chore(deps): removing unused dependencies to reduce renovate churn (#486)
  implementations/node-sdk+web-sdk/package.json
  implementations/react-native-sdk/package.json
  lib/mocks/package.json
  package.json
  packages/react-native-sdk/package.json
  packages/web/web-sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

feat(api-client): migrate Experience API to v3 and restore clientId alongside spaceId
  lib/e2e-web/e2e/utils.ts
  lib/mocks/src/experience-handlers.ts
  packages/universal/api-client/README.md
  packages/universal/api-client/src/ApiClient.test.ts
  packages/universal/api-client/src/ApiClient.ts
  packages/universal/api-client/src/ApiClientBase.test.ts
  packages/universal/api-client/src/ApiClientBase.ts
  packages/universal/api-client/src/experience/ExperienceApiClient.test.ts
  packages/universal/api-client/src/experience/ExperienceApiClient.ts
  packages/universal/api-client/src/insights/InsightsApiClient.test.ts
  packages/universal/api-client/src/schemas/experience/ResponseEnvelope.test.ts
  packages/universal/api-client/src/schemas/experience/ResponseEnvelope.ts
  packages/universal/api-client/src/schemas/experience/change/Change.test.ts
  packages/universal/api-client/src/schemas/experience/change/Change.ts
  packages/universal/api-client/src/schemas/experience/event/AliasEvent.ts
  packages/universal/api-client/src/schemas/experience/event/BatchExperienceEvent.ts
  packages/universal/api-client/src/schemas/experience/event/ExperienceEvent.ts
  packages/universal/api-client/src/schemas/experience/event/GroupEvent.ts
  packages/universal/api-client/src/schemas/experience/event/index.ts
Due: eslint --fix, prettier --check --write

feat(core): propagate clientId and contentfulEnvironment through CoreBase
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreBase.test.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateful.detached-states.test.ts
  packages/universal/core-sdk/src/CoreStateful.experienceRequestState.test.ts
  packages/universal/core-sdk/src/CoreStateful.locale.test.ts
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/consent/ConsentPolicy.ts
  packages/universal/core-sdk/src/preview-support/applyChangeOverrides.test.ts
  packages/universal/core-sdk/src/preview-support/applyChangeOverrides.ts
  packages/universal/core-sdk/src/resolvers/FlagsResolver.ts
Due: eslint --fix, prettier --check --write

feat(bridge): forward clientId and contentfulEnvironment config fields
  packages/universal/optimization-js-bridge/src/index.test.ts
  packages/universal/optimization-js-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

docs(node): document clientId and contentfulEnvironment config fields
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
Due: eslint --fix, prettier --check --write

docs(react-native): document clientId and contentfulEnvironment config fields
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/components/SDKConfigCard.tsx
  packages/react-native-sdk/dev/env.config.ts
  packages/react-native-sdk/dev/types.ts
  packages/react-native-sdk/dev/utils/sdkHelpers.ts
  packages/react-native-sdk/src/ContentfulOptimization.test.ts
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/src/components/OptimizationNavigationContainer.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.locale.test.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.test.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/index.ts
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

fix(nextjs): add spaceId to bound optimization component omit list and tests
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/edge.test.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router-server.test.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/request-handler.test.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/nextjs-sdk/src/server.test.tsx
Due: eslint --fix, prettier --check --write

docs(react-web): document spaceId and contentfulEnvironment config fields
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/dev/app/App.tsx
  packages/web/frameworks/react-web-sdk/dev/app/main.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/ProvidersSection.tsx
  packages/web/frameworks/react-web-sdk/src/hooks/useOptimization.ts
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.trackEntryInteraction.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationAnalyticsRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
Due: eslint --fix, prettier --check --write

feat(web): add space-id and contentful-environment web component attributes
  packages/web/preview-panel/dev/index.html
  packages/web/web-sdk/README.md
  packages/web/web-sdk/dev/index.html
  packages/web/web-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/ContentfulOptimization.ts
  packages/web/web-sdk/src/analytics.test.ts
  packages/web/web-sdk/src/handoff.test.ts
  packages/web/web-sdk/src/web-components/ContentfulOptimizationRootElement.ts
  packages/web/web-sdk/src/web-components/index.test.ts
Due: eslint --fix, prettier --check --write

feat(android): add spaceId and contentfulEnvironment to OptimizationConfig
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationConfig.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/core/OptimizationConfigTest.kt
  packages/android/README.md
Due: prettier --check --write

feat(swift): add spaceId and contentfulEnvironment to OptimizationConfig
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizationRoot.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/PreviewModelTests.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/PreviewOverrideTests.swift
Due: prettier --check --write

feat(implementations): thread clientId/spaceId and both environment fields
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/MainActivity.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/AppConfig.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  implementations/nextjs-sdk_app-router/lib/config.ts
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  implementations/nextjs-sdk_app-router_edge-runtime/.env.example
  implementations/nextjs-sdk_app-router_edge-runtime/lib/config.ts
  implementations/nextjs-sdk_app-router_edge-runtime/lib/edge-optimization.ts
  implementations/nextjs-sdk_app-router_edge-runtime/next.config.ts
  implementations/nextjs-sdk_pages-router/lib/config.ts
  implementations/nextjs-sdk_pages-router/lib/optimization-server.ts
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  implementations/node-sdk+web-sdk/.env.example
  implementations/node-sdk+web-sdk/src/app.test.ts
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/.env.example
  implementations/node-sdk/src/app.ts
  implementations/react-native-sdk/E2E-TESTING.md
  implementations/react-native-sdk/env.config.ts
  implementations/react-native-sdk/scripts/run-e2e-android.sh
  implementations/react-web-sdk/src/main.tsx
  implementations/web-sdk/public/js/app.js
  implementations/web-sdk_angular/src/app/app.config.ts
  implementations/web-sdk_angular/src/app/config.ts
  implementations/web-sdk_angular/src/app/services/optimization.ts
  implementations/web-sdk_react/src/optimization/createOptimization.ts
Due: eslint --fix, prettier --check --write

docs(repo): document spaceId/clientId and environment/contentfulEnvironment split
  documentation/authoring/README.md
  documentation/authoring/fragments/optimization-client-id.md
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/building-a-custom-javascript-optimization-adapter.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/migrating-experience-js-to-the-web-sdk.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/internal/sdk-knowledge/native/android.md
  documentation/internal/sdk-knowledge/native/ios.md
  documentation/internal/sdk-knowledge/native/react-native.md
  documentation/internal/sdk-knowledge/node/node.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
Due: prettier --check --write

fix(implementations): approve core-js build script for node-sdk+web-sdk
  implementations/node-sdk+web-sdk/pnpm-workspace.yaml
Due: prettier --check --write

fix(implementations): approve core-js build for react-web-sdk and web-sdk_react
  implementations/react-web-sdk/pnpm-workspace.yaml
  implementations/web-sdk_react/pnpm-workspace.yaml
Due: prettier --check --write

feat(ci): mint the contentful-docs token from Vault instead of a stored secret
  .github/workflows/sync-fern-docs.yaml
Due: prettier --check --write

docs(docs): record the cross-repository credential decision in the ADR
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
  documentation/AGENTS.md
Due: prettier --check --write

feat(ci): restore manual dispatch as a publishing trigger
  .github/workflows/sync-fern-docs.yaml
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
  documentation/AGENTS.md
Due: prettier --check --write
