Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

feat: Add Next.js Pages Router auto page event adapter
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/rslib.config.ts
  packages/web/frameworks/react-web-sdk/rstest.config.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/types.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.test.tsx
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
  packages/web/frameworks/react-web-sdk/src/env.d.ts
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/next-router.d.ts
  packages/web/frameworks/react-web-sdk/src/router/next-pages-runtime.ts
  packages/web/frameworks/react-web-sdk/src/router/next-pages.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/test/nextRouterStub.ts
Due: eslint --fix, prettier --check --write

🔥 feat(preview): Adding search to the preview panel
  implementations/web-sdk/e2e/preview-panel.spec.ts
  lib/mocks/src/contentful/data/space/ctfl-space-data.json
  packages/web/preview-panel/package.json
  packages/web/preview-panel/src/attachOptimizationPreviewPanel.ts
  packages/web/preview-panel/src/components/audience-switch.ts
  packages/web/preview-panel/src/components/audience.ts
  packages/web/preview-panel/src/components/audiences.ts
  packages/web/preview-panel/src/components/ctfl-opt-preview-indicator.ts
  packages/web/preview-panel/src/components/indicator.ts
  packages/web/preview-panel/src/components/matched-text.ts
  packages/web/preview-panel/src/components/panel.ts
  packages/web/preview-panel/src/components/personalization.ts
  packages/web/preview-panel/src/components/search.ts
  packages/web/preview-panel/src/lib/contexts.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

🔥 feat(preview): Adding search to the preview panel (#182)
  implementations/web-sdk/e2e/preview-panel.spec.ts
  lib/mocks/src/contentful/data/space/ctfl-space-data.json
  packages/web/preview-panel/package.json
  packages/web/preview-panel/src/attachOptimizationPreviewPanel.ts
  packages/web/preview-panel/src/components/audience-switch.ts
  packages/web/preview-panel/src/components/audience.ts
  packages/web/preview-panel/src/components/audiences.ts
  packages/web/preview-panel/src/components/ctfl-opt-preview-indicator.ts
  packages/web/preview-panel/src/components/indicator.ts
  packages/web/preview-panel/src/components/matched-text.ts
  packages/web/preview-panel/src/components/panel.ts
  packages/web/preview-panel/src/components/personalization.ts
  packages/web/preview-panel/src/components/search.ts
  packages/web/preview-panel/src/lib/contexts.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

🔥 feat(analytics): Making analytics queue flushing more robust
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/universal/core-sdk/src/CoreStateful.ts
  packages/universal/core-sdk/src/analytics/AnalyticsStateful.test.ts
  packages/universal/core-sdk/src/analytics/AnalyticsStateful.ts
  packages/universal/core-sdk/src/lib/queue/flushPolicy.test.ts
  packages/universal/core-sdk/src/lib/queue/flushPolicy.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.ts
Due: eslint --fix, prettier --check --write

🔥 feat(analytics): Making analytics queue flushing more robust (#185)
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/universal/core-sdk/src/CoreStateful.ts
  packages/universal/core-sdk/src/analytics/AnalyticsStateful.test.ts
  packages/universal/core-sdk/src/analytics/AnalyticsStateful.ts
  packages/universal/core-sdk/src/lib/queue/flushPolicy.test.ts
  packages/universal/core-sdk/src/lib/queue/flushPolicy.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.test.ts
  packages/web/web-sdk/src/handlers/createVisibilityChangeListener.ts
Due: eslint --fix, prettier --check --write

Add performance testing, scripts, and baseline metrics
  .gitignore
  implementations/ios-poc/OptimizationPoC/OptimizationPoC.xcodeproj/project.pbxproj
  implementations/ios-poc/OptimizationPoC/OptimizationPoC.xcodeproj/xcshareddata/xcschemes/OptimizationPoC.xcscheme
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/JSBridge/JSContextManager.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/JSBridge/Polyfills.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/optimization-ios-bridge.umd.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/BridgeCrossingPerfTests.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/ColdStartPerfTests.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/Helpers/MemoryReporter.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/Helpers/PerfTestJSContextManager.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/Helpers/StubURLProtocol.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoCPerfTests/MemoryPerfTests.swift
  implementations/ios-poc/baselines/.gitkeep
  implementations/ios-poc/baselines/metrics_baseline.json
  implementations/ios-poc/scripts/compare-metrics.py
  implementations/ios-poc/scripts/extract-metrics.sh
  implementations/ios-poc/scripts/run-perf-tests.sh
Due: eslint --fix, prettier --check --write

feat: Add router adapters for Next.js App Router, React Router, and TanStack Router
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/rslib.config.ts
  packages/web/frameworks/react-web-sdk/rstest.config.ts
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/next-router.d.ts
  packages/web/frameworks/react-web-sdk/src/router/next-pages-runtime.ts
  packages/web/frameworks/react-web-sdk/src/router/next-pages.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/test/nextRouterStub.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: Add auto page tracking components for major React routers
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
Due: eslint --fix, prettier --check --write

feat: Wire dev harness to React Router auto-page adapter
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/dev/App.tsx
  packages/web/frameworks/react-web-sdk/dev/main.tsx
  packages/web/frameworks/react-web-sdk/dev/styles.css
Due: eslint --fix, prettier --check --write

Merge Personalization component and Analytics component into a single OptimizedEntry component that handles both cases where personalization or only analytics is desired
  implementations/react-native-sdk/ios/Podfile.lock
  implementations/react-native-sdk/screens/LiveUpdatesTestScreen.tsx
  implementations/react-native-sdk/sections/ContentEntry.tsx
  implementations/react-native-sdk/sections/NestedContentItem.tsx
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/App.tsx
  packages/react-native-sdk/dev/PersonalizationDemoScreen.tsx
  packages/react-native-sdk/dev/TestTrackingScreen.tsx
  packages/react-native-sdk/src/components/Analytics.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/context/InteractionTrackingContext.tsx
  packages/react-native-sdk/src/context/LiveUpdatesContext.tsx
  packages/react-native-sdk/src/context/OptimizationScrollContext.tsx
  packages/react-native-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

Nt 2587 create multi router compatible automatic page view event emission (#183)
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/dev/App.tsx
  packages/web/frameworks/react-web-sdk/dev/main.tsx
  packages/web/frameworks/react-web-sdk/dev/styles.css
  packages/web/frameworks/react-web-sdk/package.json
  packages/web/frameworks/react-web-sdk/rslib.config.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/pagePayload.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/types.ts
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.test.tsx
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
  packages/web/frameworks/react-web-sdk/src/env.d.ts
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/index.ts
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.testUtils.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/useOptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-pages.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/react-router.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/tanstack-router.tsx
  packages/web/frameworks/react-web-sdk/src/test/entryTestUtils.ts
  packages/web/frameworks/react-web-sdk/src/test/optimizationTestUtils.ts
  packages/web/frameworks/react-web-sdk/src/test/sdkTestUtils.tsx
  packages/web/frameworks/react-web-sdk/src/test/setup.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Merge Personalization component and Analytics component into a single OptimizedEntry component that handles both cases where personalization or only analytics is desired (#188)
  implementations/react-native-sdk/ios/Podfile.lock
  implementations/react-native-sdk/screens/LiveUpdatesTestScreen.tsx
  implementations/react-native-sdk/sections/ContentEntry.tsx
  implementations/react-native-sdk/sections/NestedContentItem.tsx
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/App.tsx
  packages/react-native-sdk/dev/PersonalizationDemoScreen.tsx
  packages/react-native-sdk/dev/TestTrackingScreen.tsx
  packages/react-native-sdk/src/components/Analytics.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/context/InteractionTrackingContext.tsx
  packages/react-native-sdk/src/context/LiveUpdatesContext.tsx
  packages/react-native-sdk/src/context/OptimizationScrollContext.tsx
  packages/react-native-sdk/src/index.ts
Due: eslint --fix, prettier --check --write

Update READMEs to be consistent with code and terminology
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/README.md
Due: prettier --check --write

Update tsdocs to be consistent with code and terminology
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/src/components/OptimizationNavigationContainer.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/context/OptimizationContext.tsx
  packages/react-native-sdk/src/context/OptimizationScrollContext.tsx
  packages/react-native-sdk/src/handlers/createAppStateChangeListener.ts
  packages/react-native-sdk/src/handlers/createOnlineChangeListener.ts
  packages/react-native-sdk/src/hooks/useTapTracking.ts
  packages/react-native-sdk/src/hooks/useViewportTracking.ts
  packages/react-native-sdk/src/index.ts
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/hooks/useDefinitions.ts
  packages/react-native-sdk/src/preview/types.ts
Due: eslint --fix, prettier --check --write

Fix remaining documentation issues
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/hooks/useScreenTracking.ts
  packages/react-native-sdk/src/preview/utils/contentfulUtils.ts
Due: eslint --fix, prettier --check --write

[NT-2779] Ensure documentation consistency (#189)
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/README.md
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/src/components/OptimizationNavigationContainer.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/components/OptimizedEntry.tsx
  packages/react-native-sdk/src/context/OptimizationContext.tsx
  packages/react-native-sdk/src/context/OptimizationScrollContext.tsx
  packages/react-native-sdk/src/handlers/createAppStateChangeListener.ts
  packages/react-native-sdk/src/handlers/createOnlineChangeListener.ts
  packages/react-native-sdk/src/hooks/useScreenTracking.ts
  packages/react-native-sdk/src/hooks/useTapTracking.ts
  packages/react-native-sdk/src/hooks/useViewportTracking.ts
  packages/react-native-sdk/src/index.ts
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/hooks/useDefinitions.ts
  packages/react-native-sdk/src/preview/types.ts
  packages/react-native-sdk/src/preview/utils/contentfulUtils.ts
Due: eslint --fix, prettier --check --write

Initial polyfill PoC
  implementations/ios-poc/OptimizationPoC/OptimizationPoC.xcodeproj/project.pbxproj
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/ContentView.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Info.plist
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/JSBridge/JSContextManager.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/JSBridge/PolyfillScripts.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/JSBridge/Polyfills.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/OptimizationPoCApp.swift
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/abort-controller.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/console.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/crypto.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/fetch.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/promise-utilities.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/text-encoding.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/timers.js
  implementations/ios-poc/OptimizationPoC/OptimizationPoC/Resources/polyfills/url.js
  packages/ios/ios-jsc-bridge/package.json
  packages/ios/ios-jsc-bridge/rslib.config.ts
  packages/ios/ios-jsc-bridge/src/index.ts
  packages/ios/ios-jsc-bridge/tsconfig.build.json
  packages/ios/ios-jsc-bridge/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

Add phase one ios sdk optimization
  .gitignore
  packages/ios/ContentfulOptimization/Package.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/BridgeCallbackManager.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationError.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationState.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/NativePolyfills.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/PolyfillScriptLoader.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/abort-controller.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/console.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/crypto.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/fetch.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/promise-utilities.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/text-encoding.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/timers.js
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/polyfills/url.js
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: eslint --fix, prettier --check --write

Add README for iOS PoC
  implementations/ios-poc/README.md
Due: prettier --check --write

Add specs for native sdks
  specs/REPORT-android-native-sdk.md
  specs/REPORT-ios-native-sdk.md
  specs/REPORT-native-sdk-approach.md
  specs/REPORT-wasm-cross-platform.md
  specs/TICKET-native-sdk-feasibility-research.md
  specs/ios-sdk-phase-1.md
  specs/ios-sdk-phase-2.md
  specs/ios-sdk-phase-3.md
  specs/ios-sdk-phase-4.md
  specs/ios-sdk-phase-5.md
  specs/ios-sdk-phase-6.md
  specs/ios-sdk-phase-7.md
Due: prettier --check --write

Add swiftui components
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Environment/OptimizationEnvironment.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Environment/TrackingEnvironment.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/TapTrackingModifier.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/ViewTrackingController.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Tracking/ViewTrackingModifier.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/AnalyticsView.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizationRoot.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizationScrollView.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/PersonalizationView.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: none

Update ios jsc with new personalization/analytics merge
  packages/ios/ios-jsc-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

Implement network monitoring and app state handling, basic swiftui view tracking
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Handlers/AppStateHandler.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Handlers/NetworkMonitor.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/ScreenTrackingModifier.swift
Due: none

feat: Add react-web-sdk reference implementation
  implementations/react-web-sdk/.env.example
  implementations/react-web-sdk/.npmrc
  implementations/react-web-sdk/AGENTS.md
  implementations/react-web-sdk/README.md
  implementations/react-web-sdk/index.html
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/rsbuild.config.ts
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/config/entries.ts
  implementations/react-web-sdk/src/config/routes.ts
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/services/contentfulClient.ts
  implementations/react-web-sdk/src/types/contentful.ts
  implementations/react-web-sdk/src/types/env.d.ts
  implementations/react-web-sdk/tsconfig.json
  package.json
  packages/web/frameworks/react-web-sdk/package.json
Due: eslint --fix, prettier --check --write

feat: Add content entry, analytics, and live updates demo pages
  implementations/react-web-sdk/src/App.tsx
  implementations/react-web-sdk/src/components/AnalyticsEventDisplay.tsx
  implementations/react-web-sdk/src/components/RichTextRenderer.tsx
  implementations/react-web-sdk/src/main.tsx
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/pages/PageTwoPage.tsx
  implementations/react-web-sdk/src/sections/ContentEntry.tsx
  implementations/react-web-sdk/src/sections/LiveUpdatesExampleEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentItem.tsx
  implementations/react-web-sdk/src/utils/typeGuards.ts
Due: eslint --fix, prettier --check --write

feat: Add Playwright E2E tests for React web SDK implementation
  implementations/react-web-sdk/e2e/displays-identified-user-variants.spec.ts
  implementations/react-web-sdk/e2e/displays-unidentified-user-variants.spec.ts
  implementations/react-web-sdk/e2e/entry-click-tracking.spec.ts
  implementations/react-web-sdk/e2e/entry-hover-tracking.spec.ts
  implementations/react-web-sdk/e2e/events-consent-gating.spec.ts
  implementations/react-web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/react-web-sdk/e2e/live-updates.spec.ts
  implementations/react-web-sdk/e2e/navigation-page-events.spec.ts
  implementations/react-web-sdk/e2e/offline-queue-recovery.spec.ts
  implementations/react-web-sdk/playwright.config.mjs
  implementations/react-web-sdk/src/components/RichTextRenderer.tsx
  implementations/react-web-sdk/src/contentful-generated.d.ts
  implementations/react-web-sdk/src/pages/HomePage.tsx
  implementations/react-web-sdk/src/sections/ContentEntry.tsx
  implementations/react-web-sdk/src/sections/LiveUpdatesExampleEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentEntry.tsx
  implementations/react-web-sdk/src/sections/NestedContentItem.tsx
Due: eslint --fix, prettier --check --write

feat: Add E2E CI workflow for React Web SDK implementation
  .github/workflows/main-pipeline.yaml
  implementations/react-web-sdk/package.json
  implementations/react-web-sdk/playwright.config.mjs
Due: eslint --fix, prettier --check --write

💡 refactor(naming): Updating a couple leftover outdated "component" references
  implementations/node-sdk+web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/node-sdk+web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/react-native-sdk/components/AnalyticsEventDisplay.tsx
  implementations/react-native-sdk/e2e/analytics.test.js
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
  implementations/react-native-sdk/e2e/flag-view-tracking.test.js
  implementations/react-native-sdk/e2e/helpers.js
  implementations/react-native-sdk/e2e/live-updates.test.js
  implementations/web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/web-sdk_react/e2e/live-updates.spec.ts
  packages/react-native-sdk/src/hooks/useViewportTracking.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/web/web-sdk/src/entry-tracking/events/click/createEntryClickDetector.ts
Due: eslint --fix, prettier --check --write

fix: guard against double continuation resume and move isIdentified inside Task
  implementations/ios-sdk/OptimizationApp/Screens/LiveUpdatesTestScreen.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
Due: none

💡 refactor(naming): Updating a couple leftover outdated "component" references (#195)
  implementations/node-sdk+web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/node-sdk+web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/react-native-sdk/components/AnalyticsEventDisplay.tsx
  implementations/react-native-sdk/e2e/analytics.test.js
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
  implementations/react-native-sdk/e2e/flag-view-tracking.test.js
  implementations/react-native-sdk/e2e/helpers.js
  implementations/react-native-sdk/e2e/live-updates.test.js
  implementations/web-sdk/e2e/entry-view-tracking.spec.ts
  implementations/web-sdk/e2e/flag-view-tracking.spec.ts
  implementations/web-sdk_react/e2e/live-updates.spec.ts
  packages/react-native-sdk/src/hooks/useViewportTracking.test.ts
  packages/universal/core-sdk/src/events/EventBuilder.ts
  packages/web/web-sdk/src/entry-tracking/events/click/createEntryClickDetector.ts
Due: eslint --fix, prettier --check --write
