Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

Add navigation test screen to implementation and testing
  implementations/react-native/App.tsx
  implementations/react-native/ios/Podfile.lock
  implementations/react-native/package.json
  implementations/react-native/screens/NavigationTestScreen.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Add screen tracking tied into new optimization enabled navigation component
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/TestTrackingScreen.tsx
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.test.tsx
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.tsx
  platforms/javascript/react-native/src/hooks/useScreenTracking.test.ts
  platforms/javascript/react-native/src/hooks/useScreenTracking.ts
  platforms/javascript/react-native/src/index.ts
  universal/core/src/CoreBase.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
Due: eslint --fix, prettier --check --write

Break implementation for navigation into separate components
  implementations/react-native/screens/NavigationHome.tsx
  implementations/react-native/screens/NavigationTestScreen.tsx
  implementations/react-native/screens/NavigationViewOne.tsx
  implementations/react-native/types/navigationTypes.ts
  implementations/react-native/utils/navigationHelpers.ts
Due: eslint --fix, prettier --check --write

Pass screen property and show last screen name tracking point in navigated view
  implementations/react-native/ios/Podfile.lock
  implementations/react-native/screens/NavigationTestScreen.tsx
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.tsx
Due: eslint --fix, prettier --check --write

Rename navigationview to navigationviewtest
  implementations/react-native/screens/NavigationTestScreen.tsx
  implementations/react-native/screens/NavigationViewTest.tsx
  implementations/react-native/types/navigationTypes.ts
Due: eslint --fix, prettier --check --write

Disable and re-enable synchronization on e2e tests where needed in nav component testing
  implementations/react-native/e2e/navigation-screen-tracking.test.js
Due: eslint --fix, prettier --check --write

Add more explicit eval of label values, update navigationview to take an explicit id and label and remove defaults
  implementations/react-native/e2e/navigation-screen-tracking.test.js
  implementations/react-native/screens/ImplementationNavigationView.tsx
  implementations/react-native/screens/NavigationTestScreen.tsx
Due: eslint --fix, prettier --check --write

Add ImplementationNavigationView component for screen tracking and navigation
  implementations/react-native/screens/ImplementationNavigationView.tsx
  implementations/react-native/screens/NavigationTestScreen.tsx
Due: eslint --fix, prettier --check --write

Add react native unit tests to main pipeline
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

DRY up navigationtestscreen to use a function for creating nav view
  implementations/react-native/screens/NavigationTestScreen.tsx
Due: eslint --fix, prettier --check --write

Revert changes to comment on personalizationstateful
  universal/core/src/personalization/PersonalizationStateful.ts
Due: eslint --fix, prettier --check --write

Remove explicit rn testing step in pipeline as test:unit covers this already
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Install libpulse when setting up android e2e tests
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Add NavigationHome to test for screen events
  implementations/react-native/e2e/navigation-screen-tracking.test.js
Due: eslint --fix, prettier --check --write

setAnonymousId
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

Update dev dashboard script to clear cocoapods before running
  platforms/javascript/react-native/dev/scripts/run-dev-dashboard.sh
Due: none

Move const to above comment
  platforms/javascript/react-native/src/hooks/useScreenTracking.ts
Due: eslint --fix, prettier --check --write

NT-2319: Shore up anon ID cookie handling (#111)
  platforms/javascript/web/src/Optimization.ts
Due: eslint --fix, prettier --check --write

[NT-2336] Add RN screen event handlers (#112)
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
  implementations/react-native/App.tsx
  implementations/react-native/android/app/build.gradle
  implementations/react-native/android/build.gradle
  implementations/react-native/e2e/navigation-screen-tracking.test.js
  implementations/react-native/ios/Podfile.lock
  implementations/react-native/package.json
  implementations/react-native/screens/ImplementationNavigationView.tsx
  implementations/react-native/screens/NavigationHome.tsx
  implementations/react-native/screens/NavigationTestScreen.tsx
  implementations/react-native/types/navigationTypes.ts
  implementations/react-native/utils/navigationHelpers.ts
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/TestTrackingScreen.tsx
  platforms/javascript/react-native/dev/scripts/run-dev-dashboard.sh
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.test.tsx
  platforms/javascript/react-native/src/components/OptimizationNavigationContainer.tsx
  platforms/javascript/react-native/src/hooks/useScreenTracking.test.ts
  platforms/javascript/react-native/src/hooks/useScreenTracking.ts
  platforms/javascript/react-native/src/index.ts
  pnpm-lock.yaml
  universal/core/src/CoreBase.ts
  universal/core/src/personalization/PersonalizationBase.ts
  universal/core/src/personalization/PersonalizationStateful.ts
  universal/core/src/personalization/PersonalizationStateless.ts
Due: eslint --fix, prettier --check --write

🚀 ci(runners): Attempting to use Namespace.so for GH Actions
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

🚀 ci(runners): Attempting to use Namespace.so for GH Actions (#117)
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

Add online observer and change listener
  platforms/javascript/react-native/README.md
  platforms/javascript/react-native/package.json
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.ts
  platforms/javascript/react-native/src/handlers/index.ts
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

Update pnpm.lock
  pnpm-lock.yaml
Due: prettier --check --write

Use runAdbShell instead of device.executeShell to run offline commands on adb. Add react-native-community/netinfo to rn package
  implementations/react-native/e2e/networkHelpers.js
  implementations/react-native/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Fix formatting issues
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/e2e/networkHelpers.js
  implementations/react-native/e2e/offline-behavior.test.js
  platforms/javascript/react-native/__mocks__/@react-native-community/netinfo.ts
Due: eslint --fix, prettier --check --write

Add integration tests for offline
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/e2e/networkHelpers.js
  implementations/react-native/e2e/offline-behavior.test.js
  platforms/javascript/react-native/__mocks__/@react-native-community/netinfo.ts
  platforms/javascript/react-native/src/handlers/createAppStateChangeListener.test.ts
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.test.ts
Due: eslint --fix, prettier --check --write

Fix lint
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.test.ts
Due: eslint --fix, prettier --check --write

Move interfaces to top of file in online change listener
  platforms/javascript/react-native/src/handlers/createOnlineChangeListener.ts
Due: eslint --fix, prettier --check --write

Add --test-file support to run e2e android script so we can test a single file
  implementations/react-native/scripts/run-e2e-android.sh
Due: none

Add preview panel overlay component to show preview panel from button
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/src/index.ts
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
  platforms/javascript/react-native/src/preview/components/index.ts
  platforms/javascript/react-native/src/preview/index.ts
  platforms/javascript/react-native/src/preview/types.ts
Due: eslint --fix, prettier --check --write

Modify analytics event display to show last event first, and move inside of scrollview for visibility
  implementations/react-native/App.tsx
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/package.json
Due: eslint --fix, prettier --check --write

Make accessibility label available to detox for component tracking
  implementations/react-native/components/AnalyticsEventDisplay.tsx
Due: eslint --fix, prettier --check --write

Add PreviewOverrideContext to handle the override state so we can access the state and persist it when the preivew panel is unmounted
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/PersonalizationDemoScreen.tsx
  platforms/javascript/react-native/dev/env.config.ts
  platforms/javascript/react-native/dev/utils/sdkHelpers.ts
  platforms/javascript/react-native/src/components/Personalization.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanelOverlay.tsx
  platforms/javascript/react-native/src/preview/context/PreviewOverrideContext.tsx
  platforms/javascript/react-native/src/preview/index.ts
Due: eslint --fix, prettier --check --write

Fix lint and ensure that we capture the actual stored values in the SDK and store them as the initial state when loading preview panel
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/dev/PersonalizationDemoScreen.tsx
  platforms/javascript/react-native/src/preview/components/PreviewPanel.tsx
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
Due: eslint --fix, prettier --check --write

Use tablet for testing so we can avoid scrolling to see events
  .github/workflows/main-pipeline.yaml
  implementations/react-native/.detoxrc.js
Due: eslint --fix, prettier --check --write

Add optimizationroot as wrapper component for optimization
  platforms/javascript/react-native/dev/App.tsx
  platforms/javascript/react-native/src/components/OptimizationRoot.tsx
  platforms/javascript/react-native/src/index.ts
Due: eslint --fix, prettier --check --write

Add accessible=true to analytics event display
  implementations/react-native/components/AnalyticsEventDisplay.tsx
Due: eslint --fix, prettier --check --write

Fix lint
  platforms/javascript/react-native/dev/PersonalizationDemoScreen.tsx
  platforms/javascript/react-native/src/preview/hooks/useProfileOverrides.ts
  platforms/javascript/react-native/src/preview/index.ts
Due: eslint --fix, prettier --check --write

Disable log box in implementation app, scroll analytics events properly to allow test to pass properly
  implementations/react-native/.detoxrc.js
  implementations/react-native/App.tsx
  implementations/react-native/components/AnalyticsEventDisplay.tsx
  implementations/react-native/e2e/analytics.test.js
  implementations/react-native/index.js
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
