Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

feat(implementations): render Edge handoffs for consumer E2E
  implementations/nextjs-sdk_app-router_edge-runtime/.env.example
  implementations/nextjs-sdk_app-router_edge-runtime/README.md
  implementations/nextjs-sdk_app-router_edge-runtime/app/edge-render/EdgeHandoffRoot.tsx
  implementations/nextjs-sdk_app-router_edge-runtime/app/edge-render/private/page.tsx
  implementations/nextjs-sdk_app-router_edge-runtime/app/edge-render/public/[segment]/page.tsx
  implementations/nextjs-sdk_app-router_edge-runtime/app/page.tsx
  implementations/nextjs-sdk_app-router_edge-runtime/lib/config.ts
  implementations/nextjs-sdk_app-router_edge-runtime/lib/edge-content.ts
  implementations/nextjs-sdk_app-router_edge-runtime/next.config.ts
  lib/e2e-web/e2e/edge-consumer.spec.ts
Due: eslint --fix, prettier --check --write

fix(implementations): preserve Next.js SSR and navigation
  implementations/nextjs-sdk_app-router/AGENTS.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(request)/layout.tsx
  implementations/nextjs-sdk_app-router/app/(request)/template.tsx
  implementations/nextjs-sdk_app-router/app/(static)/analytics-only/[segment]/page.tsx
  implementations/nextjs-sdk_app-router/app/(static)/selection-handoff/[segment]/page.tsx
  implementations/nextjs-sdk_app-router/next.config.ts
  implementations/nextjs-sdk_app-router/package.json
  implementations/nextjs-sdk_pages-router/pages/_app.tsx
  lib/e2e-web/AGENTS.md
  lib/e2e-web/README.md
  lib/e2e-web/e2e/handoff.spec.ts
  lib/e2e-web/e2e/readiness.spec.ts
  lib/e2e-web/e2e/ssr.spec.ts
  lib/e2e-web/e2e/variant-resolution.spec.ts
Due: eslint --fix, prettier --check --write

test(implementations): align E2E startup and consumer assertions
  implementations/node-sdk+web-sdk/package.json
  implementations/node-sdk+web-sdk/playwright.config.mjs
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/package.json
  implementations/node-sdk/playwright.config.mjs
  implementations/node-sdk/src/app.ts
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
  implementations/react-native-sdk/e2e/helpers.js
  lib/e2e-web/e2e/tracking.spec.ts
Due: eslint --fix, prettier --check --write

test(implementations): focus iOS view E2E on consumer behavior
  implementations/ios-sdk/uitests/Support/TestHelpers.swift
  implementations/ios-sdk/uitests/Tests/ExtendedViewTrackingTests.swift
Due: none

fix(react-web): preserve handoff tracking ownership on navigation
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/internal/sdk-knowledge/web/react-web.md
  packages/web/frameworks/react-web-sdk/src/auto-page/useAutoPageEmitter.ts
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.tsx
  packages/web/frameworks/react-web-sdk/src/router/paired-handoff.test.tsx
Due: eslint --fix, prettier --check --write

fix(ci): bound Android diagnostics and short-exposure tracking test
  .github/workflows/main-pipeline.yaml
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
Due: eslint --fix, prettier --check --write

fix(react-native): isolate short exposure from initial view events
  implementations/react-native-sdk/e2e/extended-view-tracking.test.js
Due: eslint --fix, prettier --check --write

fix(nextjs): preserve profile across public handoff routes
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  implementations/nextjs-sdk_app-router/README.md
  implementations/nextjs-sdk_app-router/app/(static)/analytics-only/[segment]/layout.tsx
  implementations/nextjs-sdk_app-router/app/(static)/selection-handoff/[segment]/layout.tsx
  implementations/nextjs-sdk_app-router/components/PublicHandoffRoots.tsx
  implementations/nextjs-sdk_app-router/lib/config.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  lib/e2e-web/e2e/handoff.spec.ts
Due: eslint --fix, prettier --check --write

fix(nextjs): wait for mock server before app build
  implementations/nextjs-sdk_app-router/package.json
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier --check --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,yaml,yml,md,mdx,mdc,html,css,less})
