Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

chore(ci): drop the ticket reference from the synced pull request
  .github/workflows/sync-fern-docs.yaml
Due: prettier --check --write

fix(ci): authenticate to Vault directly for the contentful-docs sync
  .github/workflows/sync-fern-docs.yaml
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
Due: prettier --check --write

fix(ci): authenticate to Vault directly for the contentful-docs sync (#488)
  .github/workflows/sync-fern-docs.yaml
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
Due: prettier --check --write

feat(ci): name the docs sync branch after the exported commit
  .github/workflows/sync-fern-docs.yaml
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
Due: prettier --check --write

ci(publish): adding GitHub Release vault policy
  .contentful/vault-secrets.yaml
Due: prettier --check --write

ci(publish): adding GitHub Release vault policy (#495)
  .contentful/vault-secrets.yaml
Due: prettier --check --write

ci(publish): use Vault token for releases
  .github/workflows/release-please.yaml
  scripts/release-please.ts
Due: eslint --fix, prettier --check --write

ci(publish): use Vault token for releases (#496)
  .github/workflows/release-please.yaml
  scripts/release-please.ts
Due: eslint --fix, prettier --check --write

ci(android): fixing errors due to outdated android action setup tooling
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

ci(android): fixing errors due to outdated android action setup tooling (#497)
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

fix(deps): restore reliable Renovate automerge
  renovate.json
Due: prettier --check --write

fix(deps): restore reliable Renovate automerge (#498)
  renovate.json
Due: prettier --check --write

feat(ci): name the docs sync branch after the exported commit (#490)
  .github/workflows/sync-fern-docs.yaml
  docs/ADRs/0002-generate-the-public-documentation-site-content-from-this-repository.md
Due: prettier --check --write

fix(repo): remediate code scanning alerts
  implementations/react-native-sdk/.detoxrc.js
  lib/mocks/scripts/fetchEntries.ts
Due: eslint --fix, prettier --check --write

fix(repo): remediate code scanning alerts (#499)
  implementations/react-native-sdk/.detoxrc.js
  lib/mocks/scripts/fetchEntries.ts
Due: eslint --fix, prettier --check --write

ci(ci): add advanced CodeQL workflow for native SDKs
  .github/workflows/codeql-analysis.yaml
Due: prettier --check --write

ci(ci): add advanced CodeQL workflow for native SDKs (#500)
  .github/workflows/codeql-analysis.yaml
Due: prettier --check --write

fix(ci): authenticate Release Please with Vault directly
  .github/workflows/release-please.yaml
Due: prettier --check --write

fix(ci): authenticate Release Please with Vault directly (#501)
  .github/workflows/release-please.yaml
Due: prettier --check --write

fix(android): harden backup and TLS guidance
  implementations/android-sdk/compose/src/main/AndroidManifest.xml
  implementations/android-sdk/shared/src/main/res/xml/optimization_data_extraction_rules.xml
  implementations/android-sdk/views/src/main/AndroidManifest.xml
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewContentfulClient.kt
Due: none

fix(android): harden backup and TLS guidance (#502)
  implementations/android-sdk/compose/src/main/AndroidManifest.xml
  implementations/android-sdk/shared/src/main/res/xml/optimization_data_extraction_rules.xml
  implementations/android-sdk/views/src/main/AndroidManifest.xml
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/preview/PreviewContentfulClient.kt
Due: none

fix(swift): load bridge from local resource path
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Bridge/JSContextManager.swift
Due: none

feat(core): propagate clientId and contentfulEnvironment through CoreBase
  packages/universal/core-sdk/README.md
  packages/universal/core-sdk/src/CoreBase.test.ts
  packages/universal/core-sdk/src/CoreBase.ts
  packages/universal/core-sdk/src/CoreStateful.detached-states.test.ts
  packages/universal/core-sdk/src/CoreStateful.experienceRequestState.test.ts
  packages/universal/core-sdk/src/CoreStateful.locale.test.ts
  packages/universal/core-sdk/src/CoreStateful.test.ts
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
  packages/universal/core-sdk/src/CoreStateless.test.ts
  packages/universal/core-sdk/src/consent/ConsentPolicy.ts
  packages/universal/core-sdk/src/preview-support/applyChangeOverrides.test.ts
  packages/universal/core-sdk/src/preview-support/applyChangeOverrides.ts
  packages/universal/core-sdk/src/resolvers/FlagsResolver.ts
Due: eslint --fix, prettier --check --write

feat(api-client): migrate Experience API to v3 and restore clientId alongside spaceId
  lib/e2e-web/e2e/utils.ts
  lib/mocks/src/experience-handlers.ts
  packages/universal/api-client/README.md
  packages/universal/api-client/src/ApiClient.test.ts
  packages/universal/api-client/src/ApiClient.ts
  packages/universal/api-client/src/ApiClientBase.test.ts
  packages/universal/api-client/src/ApiClientBase.ts
  packages/universal/api-client/src/experience/ExperienceApiClient.test.ts
  packages/universal/api-client/src/experience/ExperienceApiClient.ts
  packages/universal/api-client/src/insights/InsightsApiClient.test.ts
  packages/universal/api-client/src/schemas/experience/ResponseEnvelope.test.ts
  packages/universal/api-client/src/schemas/experience/ResponseEnvelope.ts
  packages/universal/api-client/src/schemas/experience/change/Change.test.ts
  packages/universal/api-client/src/schemas/experience/change/Change.ts
  packages/universal/api-client/src/schemas/experience/event/AliasEvent.ts
  packages/universal/api-client/src/schemas/experience/event/BatchExperienceEvent.ts
  packages/universal/api-client/src/schemas/experience/event/ExperienceEvent.ts
  packages/universal/api-client/src/schemas/experience/event/GroupEvent.ts
  packages/universal/api-client/src/schemas/experience/event/index.ts
Due: eslint --fix, prettier --check --write

feat(bridge): forward clientId and contentfulEnvironment config fields
  packages/universal/optimization-js-bridge/src/index.test.ts
  packages/universal/optimization-js-bridge/src/index.ts
Due: eslint --fix, prettier --check --write

docs(node): document clientId and contentfulEnvironment config fields
  packages/node/node-sdk/README.md
  packages/node/node-sdk/dev/server.ts
  packages/node/node-sdk/src/ContentfulOptimization.test.ts
  packages/node/node-sdk/src/ContentfulOptimization.ts
Due: eslint --fix, prettier --check --write

docs(react-native): document clientId and contentfulEnvironment config fields
  packages/react-native-sdk/README.md
  packages/react-native-sdk/dev/components/SDKConfigCard.tsx
  packages/react-native-sdk/dev/env.config.ts
  packages/react-native-sdk/dev/types.ts
  packages/react-native-sdk/dev/utils/sdkHelpers.ts
  packages/react-native-sdk/src/ContentfulOptimization.test.ts
  packages/react-native-sdk/src/ContentfulOptimization.ts
  packages/react-native-sdk/src/components/OptimizationNavigationContainer.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.locale.test.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.test.tsx
  packages/react-native-sdk/src/components/OptimizationProvider.tsx
  packages/react-native-sdk/src/components/OptimizationRoot.tsx
  packages/react-native-sdk/src/index.ts
  packages/react-native-sdk/src/preview/components/PreviewPanel.tsx
  packages/react-native-sdk/src/preview/components/PreviewPanelOverlay.tsx
Due: eslint --fix, prettier --check --write

fix(nextjs): add spaceId to bound optimization component omit list and tests
  packages/web/frameworks/nextjs-sdk/README.md
  packages/web/frameworks/nextjs-sdk/src/app-router-client.test.tsx
  packages/web/frameworks/nextjs-sdk/src/app-router-server.test.tsx
  packages/web/frameworks/nextjs-sdk/src/bound-component-types.ts
  packages/web/frameworks/nextjs-sdk/src/edge.test.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router-server.test.ts
  packages/web/frameworks/nextjs-sdk/src/pages-router.test.tsx
  packages/web/frameworks/nextjs-sdk/src/request-handler.test.ts
  packages/web/frameworks/nextjs-sdk/src/runtime-types.test.ts
  packages/web/frameworks/nextjs-sdk/src/server.test.tsx
Due: eslint --fix, prettier --check --write

feat(swift): add spaceId and contentfulEnvironment to OptimizationConfig
  packages/ios/CODE_MAP.md
  packages/ios/ContentfulOptimization/README.md
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationClient.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Core/OptimizationConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Preview/PreviewPanelConfig.swift
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Views/OptimizationRoot.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/PreviewModelTests.swift
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/PreviewOverrideTests.swift
Due: prettier --check --write

feat(web): add space-id and contentful-environment web component attributes
  packages/web/preview-panel/dev/index.html
  packages/web/web-sdk/README.md
  packages/web/web-sdk/dev/index.html
  packages/web/web-sdk/src/ContentfulOptimization.test.ts
  packages/web/web-sdk/src/ContentfulOptimization.ts
  packages/web/web-sdk/src/analytics.test.ts
  packages/web/web-sdk/src/handoff.test.ts
  packages/web/web-sdk/src/web-components/ContentfulOptimizationRootElement.ts
  packages/web/web-sdk/src/web-components/index.test.ts
Due: eslint --fix, prettier --check --write

feat(android): add spaceId and contentfulEnvironment to OptimizationConfig
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationClient.kt
  packages/android/ContentfulOptimization/src/main/kotlin/com/contentful/optimization/core/OptimizationConfig.kt
  packages/android/ContentfulOptimization/src/test/kotlin/com/contentful/optimization/core/OptimizationConfigTest.kt
  packages/android/README.md
Due: prettier --check --write

fix(implementations): approve core-js build for react-web-sdk and web-sdk_react
  implementations/react-web-sdk/pnpm-workspace.yaml
  implementations/web-sdk_react/pnpm-workspace.yaml
Due: prettier --check --write

fix(swift): remove invalid trailing argument comma
  packages/ios/ContentfulOptimization/Tests/ContentfulOptimizationTests/OptimizationClientTests.swift
Due: none

fix(implementations): approve core-js build script for node-sdk+web-sdk
  implementations/node-sdk+web-sdk/pnpm-workspace.yaml
Due: prettier --check --write

feat(implementations): thread clientId/spaceId and both environment fields
  implementations/android-sdk/compose/src/main/kotlin/com/contentful/optimization/app/MainActivity.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/AppConfig.kt
  implementations/android-sdk/shared/src/main/kotlin/com/contentful/optimization/shared/ContentfulFetcher.kt
  implementations/android-sdk/views/src/main/kotlin/com/contentful/optimization/app/views/MainActivity.kt
  implementations/ios-sdk/shared/Config.swift
  implementations/ios-sdk/shared/ContentfulClient.swift
  implementations/ios-sdk/swiftui/App.swift
  implementations/ios-sdk/uikit/SceneDelegate.swift
  implementations/nextjs-sdk_app-router/lib/config.ts
  implementations/nextjs-sdk_app-router/lib/optimization-client.ts
  implementations/nextjs-sdk_app-router/lib/optimization.ts
  implementations/nextjs-sdk_app-router_edge-runtime/.env.example
  implementations/nextjs-sdk_app-router_edge-runtime/lib/config.ts
  implementations/nextjs-sdk_app-router_edge-runtime/lib/edge-optimization.ts
  implementations/nextjs-sdk_app-router_edge-runtime/next.config.ts
  implementations/nextjs-sdk_pages-router/lib/config.ts
  implementations/nextjs-sdk_pages-router/lib/optimization-server.ts
  implementations/nextjs-sdk_pages-router/lib/optimization.ts
  implementations/node-sdk+web-sdk/.env.example
  implementations/node-sdk+web-sdk/src/app.test.ts
  implementations/node-sdk+web-sdk/src/app.ts
  implementations/node-sdk/.env.example
  implementations/node-sdk/src/app.ts
  implementations/react-native-sdk/E2E-TESTING.md
  implementations/react-native-sdk/env.config.ts
  implementations/react-native-sdk/scripts/run-e2e-android.sh
  implementations/react-web-sdk/src/main.tsx
  implementations/web-sdk/public/js/app.js
  implementations/web-sdk_angular/src/app/app.config.ts
  implementations/web-sdk_angular/src/app/config.ts
  implementations/web-sdk_angular/src/app/services/optimization.ts
  implementations/web-sdk_react/src/optimization/createOptimization.ts
Due: eslint --fix, prettier --check --write

docs(react-web): document spaceId and contentfulEnvironment config fields
  packages/web/frameworks/react-web-sdk/README.md
  packages/web/frameworks/react-web-sdk/dev/app/App.tsx
  packages/web/frameworks/react-web-sdk/dev/app/main.tsx
  packages/web/frameworks/react-web-sdk/dev/app/sections/ProvidersSection.tsx
  packages/web/frameworks/react-web-sdk/src/hooks/useOptimization.ts
  packages/web/frameworks/react-web-sdk/src/index.test.tsx
  packages/web/frameworks/react-web-sdk/src/optimized-entry/OptimizedEntry.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.onStatesReady.test.tsx
  packages/web/frameworks/react-web-sdk/src/provider/OptimizationProvider.trackEntryInteraction.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationAnalyticsRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/root/OptimizationRoot.test.tsx
  packages/web/frameworks/react-web-sdk/src/router/next-app.test.tsx
Due: eslint --fix, prettier --check --write

docs(repo): document spaceId/clientId and environment/contentfulEnvironment split
  documentation/authoring/README.md
  documentation/authoring/fragments/optimization-client-id.md
  documentation/concepts/android-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/consent-management-in-the-optimization-sdk-suite.md
  documentation/concepts/core-state-management.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/ios-sdk-runtime-and-interaction-mechanics.md
  documentation/concepts/locale-handling-in-the-optimization-sdk-suite.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/building-a-custom-javascript-optimization-adapter.md
  documentation/guides/forwarding-optimization-sdk-context-to-analytics-and-tag-management-tools.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-compose-app.md
  documentation/guides/integrating-the-optimization-android-sdk-in-a-views-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-swiftui-app.md
  documentation/guides/integrating-the-optimization-ios-sdk-in-a-uikit-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-app-router-app.md
  documentation/guides/integrating-the-optimization-sdk-in-a-nextjs-pages-router-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  documentation/guides/migrating-experience-js-to-the-web-sdk.md
  documentation/guides/rendering-personalized-nextjs-routes-with-static-isr-and-edge-handoffs.md
  documentation/internal/sdk-knowledge/native/android.md
  documentation/internal/sdk-knowledge/native/ios.md
  documentation/internal/sdk-knowledge/native/react-native.md
  documentation/internal/sdk-knowledge/node/node.md
  documentation/internal/sdk-knowledge/web/nextjs-app-router.md
  documentation/internal/sdk-knowledge/web/react-web.md
  documentation/internal/sdk-knowledge/web/web.md
Due: prettier --check --write

test(api-client): cover XDA change ID shapes
  packages/universal/api-client/src/schemas/experience/ExperienceResponse.test.ts
Due: eslint --fix, prettier --check --write
