Repository contentful/optimization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

.lintstagedrc.yaml:

'*.{js,jsx,cjs,mjs,ts,tsx}':
  - eslint --fix
  - prettier --check --write
'*.{json,yaml,yml,md,mdx,mdc,html,css,less}':
  - prettier --check --write

refactor: convert react-web-sdk_nextjs to CSR-only implementation
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/README.md
  implementations/react-web-sdk_nextjs/app/client-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/client-resolved/page.tsx
  implementations/react-web-sdk_nextjs/app/layout.tsx
  implementations/react-web-sdk_nextjs/app/page.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/InteractiveControls.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/layout.tsx
  implementations/react-web-sdk_nextjs/app/server-resolved/page.tsx
  implementations/react-web-sdk_nextjs/lib/optimization-server.ts
  implementations/react-web-sdk_nextjs/middleware.ts
  implementations/react-web-sdk_nextjs/next.config.ts
  implementations/react-web-sdk_nextjs/package.json
Due: eslint --fix, prettier --check --write

chore: remove spike-nextjs-support.md
  documentation/spike-nextjs-support.md
Due: prettier --check --write

chore: remove session notes file
  session-ses_22be.md
Due: prettier --check --write

📘 docs(state): Creating a concept doc for Core state management
  CLAUDE.md
  documentation/concepts/README.md
  documentation/concepts/core-state-management.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
Due: eslint --fix, prettier --check --write

fix: exclude Next.js implementations from root ESLint
  eslint.config.ts
Due: eslint --fix, prettier --check --write

📘 docs(state): Creating a concept doc for Core state management (#258)
  CLAUDE.md
  documentation/concepts/README.md
  documentation/concepts/core-state-management.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
  packages/universal/core-sdk/src/CoreStatefulEventEmitter.ts
Due: eslint --fix, prettier --check --write

chore: rename directory to a clearer name to the reference implementation
  eslint.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.env.example
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.gitignore
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.npmrc
  implementations/react-web-sdk+node-sdk_nextjs-ssr/AGENTS.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/globals.css
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/components/InteractiveControls.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/config/entries.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/eslint.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/contentful-client.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/optimization-server.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/middleware.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/package.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr/pnpm-workspace.yaml
  implementations/react-web-sdk+node-sdk_nextjs-ssr/postcss.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr/tsconfig.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr/types/contentful.ts
  package.json
Due: eslint --fix, prettier --check --write

[NT-3070] Wire ios-sdk into the pnpm implementation runner with build and run scripts
  implementations/ios-sdk/package.json
  package.json
Due: prettier --check --write

[NT-3070] Add iOS UI test build and matrix run jobs to the main pipeline
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

fix: ignore nextJs project linting due to eslint-config-next bug
  implementations/react-web-sdk+node-sdk_nextjs-ssr/eslint.config.mjs
  package.json
Due: eslint --fix, prettier --check --write

📘 docs(concept): Updating the Core state concept doc, since Claude did a poor job
  documentation/concepts/core-state-management.md
  packages/universal/core-sdk/src/Consent.ts
Due: eslint --fix, prettier --check --write

📘 docs(concept): Updating the Core state concept doc, since Claude did a poor job (#260)
  documentation/concepts/core-state-management.md
  packages/universal/core-sdk/src/Consent.ts
Due: eslint --fix, prettier --check --write

docs: update readme with pattern information of this ssr setup
  implementations/react-web-sdk+node-sdk_nextjs-ssr/README.md
Due: prettier --check --write

📘 docs(concept): Adding concept doc for entry personalization
  documentation/concepts/README.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
Due: prettier --check --write

Update runs-on to namespace-profile-macos-apple-silicon-arm64-6-cpu-14-gb for ios ui tests
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

📘 docs(concept): Adding concept doc for entry personalization (#261)
  documentation/concepts/README.md
  documentation/concepts/entry-personalization-and-variant-resolution.md
Due: prettier --check --write

fix: format fix with prettier
  implementations/react-web-sdk+node-sdk_nextjs-ssr/README.md
Due: prettier --check --write

Nt 3090 nextjs ssr hybrid (#257)
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.env.example
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.gitignore
  implementations/react-web-sdk+node-sdk_nextjs-ssr/.npmrc
  implementations/react-web-sdk+node-sdk_nextjs-ssr/AGENTS.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/globals.css
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/components/InteractiveControls.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr/config/entries.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/eslint.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/contentful-client.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/lib/optimization-server.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/middleware.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr/package.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr/pnpm-workspace.yaml
  implementations/react-web-sdk+node-sdk_nextjs-ssr/postcss.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr/tsconfig.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr/types/contentful.ts
  package.json
Due: eslint --fix, prettier --check --write

docs: update docs to match nextJs-ssr pattern
  implementations/react-web-sdk_nextjs/AGENTS.md
  implementations/react-web-sdk_nextjs/README.md
Due: prettier --check --write

📘 docs(concept): Adding profile sync (client/server) concept doc
  documentation/concepts/README.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

📘 docs(concept): Adding profile sync (client/server) concept doc (#263)
  documentation/concepts/README.md
  documentation/concepts/profile-synchronization-between-client-and-server.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

chore: rename directory and project
  eslint.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.env.example
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.gitignore
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/.npmrc
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/AGENTS.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/favicon.ico
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/globals.css
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/config/entries.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/eslint.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/contentful-client.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/package.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/pnpm-workspace.yaml
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/postcss.config.mjs
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/tsconfig.json
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/types/contentful.ts
  implementations/react-web-sdk_nextjs/eslint.config.mjs
  implementations/react-web-sdk_nextjs/postcss.config.mjs
Due: eslint --fix, prettier --check --write

fix: ignore nextJs projects in the linting commands due to NextJs bug
  package.json
Due: prettier --check --write

docs: fix format
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/README.md
Due: prettier --check --write

📘 docs(concept): Documenting how interaction tracking should be handled in SSR apps
  documentation/concepts/README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
Due: prettier --check --write

📘 docs(concept): Documenting how interaction tracking should be handled in SSR apps (#264)
  documentation/concepts/README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
Due: prettier --check --write

feat: implement Hybrid SSR + CSR Takeover pattern (Setup 2)
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/interactive/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/ClientProviderWrapper.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/InteractiveControls.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/optimization-server.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/middleware.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/next.config.ts
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/package.json
Due: eslint --fix, prettier --check --write

📘 docs(concepts): Adding Web interaction tracking doc, updating guidance
  documentation/AGENTS.md
  documentation/concepts/README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/AGENTS.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

📘 docs(concepts): Adding Web interaction tracking doc, updating guidance (#265)
  documentation/AGENTS.md
  documentation/concepts/README.md
  documentation/concepts/interaction-tracking-in-node-and-stateless-environments.md
  documentation/concepts/interaction-tracking-in-web-sdks.md
  documentation/concepts/react-native-sdk-interaction-tracking-mechanics.md
  documentation/guides/AGENTS.md
  documentation/guides/integrating-the-node-sdk-in-a-node-app.md
  documentation/guides/integrating-the-react-native-sdk-in-a-react-native-app.md
  documentation/guides/integrating-the-react-web-sdk-in-a-react-app.md
  documentation/guides/integrating-the-web-sdk-in-a-web-app.md
Due: prettier --check --write

refactor: consolidate to single-page hybrid SSR+CSR takeover
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/interactive/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/HybridEntryList.tsx
Due: eslint --fix, prettier --check --write

fix: format
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/README.md
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/HybridEntryList.tsx
Due: eslint --fix, prettier --check --write

Update runs-on to namespace-profile-macos-apple-silicon-arm64-6-cpu-14-gb for ios ui tests for e2e root
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

feat: prime Web SDK with server-resolved defaults on hydration
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/components/ClientProviderWrapper.tsx
Due: eslint --fix, prettier --check --write

[NT-3070] Fix iOS UI test runner xctestrun glob and propagate pipe exit code
  implementations/ios-sdk/package.json
Due: prettier --check --write

[NT-3070] Assert iOS xctestrun exists and enable pipefail in CI test step
  .github/workflows/main-pipeline.yaml
Due: prettier --check --write

refactor: move SSR priming to stable app layout
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/layout.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/app/page.tsx
  implementations/react-web-sdk+node-sdk_nextjs-ssr-csr/lib/optimization-server.ts
Due: eslint --fix, prettier --check --write

[NT-3070] Make weak JSContext bindings mutable to satisfy the Swift compiler
  packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Polyfills/NativePolyfills.swift
Due: none
